Repository pypa/pip, pull requests merged in 2018-03, with the labels that each got.

#4977 Add a verbosity attribute to basecommand
  src/pip/_internal/basecommand.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/uninstall.py
Labels: kind - enhancement, trivial

#4932 Vendor Update - stdout and stderr of shell should be decoded with system encoding
  news/distro.vendor
  src/pip/_vendor/distro.py
  src/pip/_vendor/vendor.txt
Labels: kind - enhancement, kind - maintenance, trivial, vendored dependency

#4877 Use log level info when ignoring packages due to environment markers
  news/4876.bugfix
  src/pip/_internal/req/req_set.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
Labels: kind - enhancement, topic - logging

#5050 Move all environment management into BuildEnvironment
  src/pip/_internal/build_env.py
  src/pip/_internal/wheel.py
Labels: kind - maintenance, trivial

#5053 Add an option to allow disabling build isolation
  src/pip/_internal/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/operations/prepare.py
  tests/functional/test_wheel.py
  tests/unit/test_req.py
Labels: kind - enhancement, trivial

#5072 Merged/9.0.2
  NEWS.rst
  news/4454.bugfix
  tests/unit/test_finder.py
Labels: trivial

#5078 Fix the date in the changelog
  NEWS.rst
Labels: trivial

#5065 Document PEP 518 support
  docs/reference/pip.rst
Labels: trivial

#5091 Remove test_basic_install_environment_markers
  tests/functional/test_install.py
Labels: trivial

#5092 Fixes to vendoring scripts so they work on Windows
  .gitattributes
  tasks/vendoring/__init__.py
Labels: trivial

#5106 Merged/9.0.3
  NEWS.rst
  src/pip/_vendor/requests/packages.py
  tasks/vendoring/patches/requests.patch
Labels: trivial

#5114 Update vendored libraries
  src/pip/_internal/commands/show.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/packaging.py
  src/pip/_vendor/cachecontrol/__init__.py
  src/pip/_vendor/cachecontrol/adapter.py
  src/pip/_vendor/cachecontrol/caches/redis_cache.py
  src/pip/_vendor/cachecontrol/controller.py
  src/pip/_vendor/cachecontrol/heuristics.py
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/certifi/core.py
  src/pip/_vendor/certifi/old_root.pem
  src/pip/_vendor/certifi/weak.pem
  src/pip/_vendor/html5lib/__init__.py
  src/pip/_vendor/html5lib/_ihatexml.py
  src/pip/_vendor/html5lib/_inputstream.py
  src/pip/_vendor/html5lib/_trie/_base.py
  src/pip/_vendor/html5lib/_utils.py
  src/pip/_vendor/html5lib/constants.py
  src/pip/_vendor/html5lib/filters/alphabeticalattributes.py
  src/pip/_vendor/html5lib/filters/inject_meta_charset.py
  src/pip/_vendor/html5lib/filters/lint.py
  src/pip/_vendor/html5lib/filters/optionaltags.py
  src/pip/_vendor/html5lib/filters/sanitizer.py
  src/pip/_vendor/html5lib/filters/whitespace.py
  src/pip/_vendor/html5lib/html5parser.py
  src/pip/_vendor/html5lib/serializer.py
  src/pip/_vendor/html5lib/treeadapters/__init__.py
  src/pip/_vendor/html5lib/treeadapters/genshi.py
  src/pip/_vendor/html5lib/treeadapters/sax.py
  src/pip/_vendor/html5lib/treebuilders/__init__.py
  src/pip/_vendor/html5lib/treebuilders/base.py
  src/pip/_vendor/html5lib/treebuilders/etree_lxml.py
  src/pip/_vendor/html5lib/treewalkers/__init__.py
  src/pip/_vendor/html5lib/treewalkers/base.py
  src/pip/_vendor/html5lib/treewalkers/etree.py
  src/pip/_vendor/ipaddress.py
  src/pip/_vendor/msgpack/__init__.py
  src/pip/_vendor/msgpack/_version.py
  src/pip/_vendor/msgpack/exceptions.py
  src/pip/_vendor/msgpack/fallback.py
  src/pip/_vendor/packaging/__about__.py
  src/pip/_vendor/packaging/_structures.py
  src/pip/_vendor/packaging/requirements.py
  src/pip/_vendor/packaging/specifiers.py
  src/pip/_vendor/packaging/utils.py
  src/pip/_vendor/packaging/version.py
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/vendor.txt
Labels: trivial

#4989 Improve message when setuptools is missing (PEP 518)
  src/pip/_internal/operations/prepare.py
Labels: kind - enhancement, trivial

#4956 Add auto completion of short options
  news/4954.feature
  src/pip/_internal/__init__.py
  tests/functional/test_completion.py
Labels: kind - enhancement, topic - autocomplete

#4985 Updated get_terminal_size to check for shutil.get_terminal_size first.
  news/4966.bugfix
  src/pip/_internal/baseparser.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/compat.py
  src/pip/_internal/utils/misc.py
Labels: kind - enhancement, os - windows

#5117 Assign pip config command summary correctly
  src/pip/_internal/commands/configuration.py
Labels: kind - docs, trivial

#5119 Misc. trivial typos
  NEWS.rst
  tests/lib/__init__.py
  tests/unit/test_finder.py
  tests/yaml/README.md
Labels: kind - docs, trivial

#4925 Move dependency info and install order into Resolver
  src/pip/_internal/commands/install.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/resolve.py
Labels: kind - refactor, trivial

#4978 Reduce action at distance
  src/pip/_internal/basecommand.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/resolve.py
  tests/unit/test_req.py
Labels: kind - refactor, trivial

#5000 Warn about broken dependencies during pip install
  news/5000.feature
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/resolve.py
  tests/functional/test_check.py
  tests/functional/test_install.py
Labels: kind - feature, topic - check

#5055 Document that --build disables cleanups
  src/pip/_internal/cmdoptions.py
Labels: kind - docs, trivial

#5118 Cleanup some author names
  .mailmap
Labels: kind - maintenance, trivial

#4835 Enable vendor C libraries on non-Windows platforms
  news/4098.bugfix
  src/pip/_internal/download.py
  src/pip/_vendor/README.rst
  src/pip/_vendor/requests/__init__.py
  tasks/vendoring/patches/requests.patch
Labels: kind - enhancement, kind - security, vendored dependency
