Repository pypa/pip, pull requests merged in 2018-04, with the labels that each got.

#5138 Use the correct way to format default in optparse
  src/pip/_internal/commands/install.py
Labels: kind - enhancement, trivial

#5133 The CA Bundle should always use Unix line endings
  .gitattributes
  NEWS.rst
Labels: trivial

#5129 Fix towncrier
  NEWS.rst
  pyproject.toml
Labels: trivial

#5143 Tidy up NEWS.rst for 10.0.0b2 release
  NEWS.rst
Labels: trivial

#5145 Bump version for release
  src/pip/__init__.py
Labels: trivial

#5148 Fix PEP 518 support from VCS
  src/pip/_internal/wheel.py
Labels: kind - enhancement, trivial

#5136 Fix name normalization used for install warnings
  news/5134.bugfix
  src/pip/_internal/operations/check.py
  tests/functional/test_install_check.py
Labels: kind - enhancement, topic - check

#5146 Accept prerelease versions when checking conflicts
  news/5141.bugfix
  src/pip/_internal/operations/check.py
  tests/functional/test_check.py
Labels: kind - enhancement, topic - check

#5162 Use all available distributions
  src/pip/_internal/operations/check.py
  tests/unit/test_check.py
Labels: topic - check, trivial

#5159 Fix installing from Git with short SHA
  .mailmap
  news/5140.bugfix
  src/pip/_internal/vcs/git.py
  tests/functional/test_install_vcs.py
Labels: kind - enhancement, topic - vcs

#5163 Do not warn about script location if it's with sys.executable
  news/5157.bugfix
  src/pip/_internal/wheel.py
Labels: kind - enhancement

#5180 Normalize case before checking for paths
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: kind - enhancement, os - windows, trivial

#5184 Fix how docs gets pip version, to work around an issue with readthedocs
  docs/conf.py
Labels: trivial

#5190 fix PEP 518 support
  news/5188.bugfix
  src/pip/_internal/build_env.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
  tests/functional/test_wheel.py
Labels: kind - enhancement

#5203 Don't warn about script locations if --target is specified
  news/5203.bugfix
  src/pip/_internal/commands/install.py
  tests/functional/test_install.py
Labels: release blocker

#5202 News file formatting fix
  news/5150.bugfix
Labels: trivial

#5235 Fix testsuite virtualenv
  tests/conftest.py
Labels: kind - maintenance, tests, trivial

#5258 Fix msgpack on older versions of Python 2.7
  news/5231.bugfix
  src/pip/_vendor/msgpack/fallback.py
  tasks/vendoring/patches/msgpack.patch
Labels: kind - crash, vendored dependency

#5233 Make the Windows "self-modification" check more strict
  news/5219.bugfix
  src/pip/_internal/basecommand.py
Labels: kind - enhancement

#5239 Improve Error Messages on EnvironmentErrors when installing
  news/5237.bugfix
  src/pip/_internal/commands/install.py
Labels: kind - enhancement

#5257 Update distlib to 0.2.7
  news/distlib.vendor
  src/pip/_vendor/distlib/__init__.py
  src/pip/_vendor/distlib/compat.py
  src/pip/_vendor/distlib/database.py
  src/pip/_vendor/distlib/locators.py
  src/pip/_vendor/distlib/metadata.py
  src/pip/_vendor/distlib/t32.exe
  src/pip/_vendor/distlib/t64.exe
  src/pip/_vendor/distlib/w32.exe
  src/pip/_vendor/distlib/w64.exe
  src/pip/_vendor/vendor.txt
Labels: kind - enhancement, vendored dependency

#5276 Document limitations of current implementation of PEP 518 in pip
  docs/reference/pip.rst
Labels: kind - docs, trivial

#5304 Release/10.0.1
  NEWS.rst
  news/5214.feature
  news/5219.bugfix
  news/5231.bugfix
  news/5237.bugfix
  news/5251.bugfix
  news/5524.bugfix
  news/distlib.vendor
  src/pip/__init__.py
Labels: trivial

#5305 Grammar fix (supported -> support) in 3.3 warning.
  src/pip/_internal/basecommand.py
Labels: kind - enhancement, tiny, trivial

#5278 Update License Year
  LICENSE.txt
Labels: kind - maintenance, tiny, trivial

#5293 Remove trailing os.sep to avoid false negatives
  news/5293.bugfix
  src/pip/_internal/wheel.py
Labels: kind - enhancement

#5320 Fix typo
  src/pip/_internal/utils/logging.py
Labels: tiny, trivial

#5323 Add a comment to tasks/generate.py regarding Windows shell syntax
  tasks/generate.py
Labels: trivial

#5324 Switch to CalVer and set a release cadence
  docs/development.rst
  news/_template.rst
  news/calver.process
  news/release-cadence.process
  pyproject.toml
  src/pip/__init__.py
Labels: kind - maintenance

#5325 Add test for PR #5293
  news/5325.bugfix
  tests/unit/test_wheel.py
Labels: kind - enhancement, tests

#5307 Improve Development docs
  docs-requirements.txt
  docs/development.rst
  news/news-file-content.process
Labels: kind - docs, trivial

#5348 Revendoring script not to rewrite binascii import
  news/5347.bugfix
  tasks/vendoring/__init__.py
Labels: kind - enhancement, kind - maintenance, vendored dependency
