Repository pypa/pip, pull requests merged in 2018-05, with the labels that each got.

#5370 Added --prefer-binary flag.
  news/3785.feature
  src/pip/_internal/basecommand.py
  src/pip/_internal/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/index.py
  tests/functional/test_download.py
Labels: C: wheel, T: enhancement

#5405 Fix a rare segfault
  news/5366.bugfix
  src/pip/_internal/wheel.py
Labels: K: crash, T: bug

#5419 3905 pip version check cache dir
  news/3905.bugfix
  src/pip/_internal/utils/outdated.py
  tests/unit/test_unit_outdated.py
Labels: C: cache, T: bugfix

#5339 Remove username/password from log message
  news/5249.bugfix
  src/pip/_internal/index.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_index.py
  tests/unit/test_utils.py
  tests/unit/test_vcs.py
Labels: T: bugfix

#5368 When pip was not installed by pip, don't show the upgrade warning
  news/5346.bugfix
  src/pip/_internal/utils/outdated.py
  tests/unit/test_unit_outdated.py
Labels: T: enhancement

#5436 CI: Split PyPy tests to speed up end-to-end running time
  .gitignore
  .travis.yml
  .travis/run.sh
  tox.ini
Labels: C: automation, C: tests, T: DevOps, trivial

#5422 Ask for use-cases in Feature Request Issues
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: T: DevOps, trivial

#5451 Repurpose the pip._internal.models namespace
  src/pip/_internal/cmdoptions.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/models/__init__.py
Labels: T: refactor, trivial

#5312 Move Windows protection check to specific commands
  news/5311.bugfix
  news/5312.bugfix
  src/pip/_internal/basecommand.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/utils/misc.py
  tests/functional/test_install.py
Labels: T: bugfix

#5459 Add @pytest.mark.network to a test that did not have it
  tests/functional/test_wheel.py
Labels: C: automation, C: tests, T: DevOps, trivial

#4936 Improve dependency links log message
  news/64b003f8-f701-4df9-a8b5-a869a652327e.trivial
  src/pip/_internal/index.py
Labels: T: enhancement

#5426 minor cleanup
  src/pip/_internal/req/req_set.py
Labels: T: enhancement, trivial

#5428 tests: tweak `test_pip_wheel_with_user_set_in_config`
  tests/functional/test_wheel.py
Labels: C: tests, trivial
