Repository pypa/pip, pull requests merged in 2018-07, with the labels that each got.

#5418 fix un-vendored support; add missing entry for urllib3
  src/pip/_vendor/__init__.py
Labels: trivial

#5543 Upgrade linting tools to current latest and fix new errors
  src/pip/_internal/basecommand.py
  src/pip/_internal/build_env.py
  src/pip/_internal/compat.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolve.py
  src/pip/_internal/wheel.py
  tests/data/src/withpyproject/setup.py
  tests/unit/test_check.py
  tests/unit/test_req_file.py
  tests/unit/test_req_uninstall.py
  tests/unit/test_unit_outdated.py
  tools/lint-requirements.txt
Labels: C: automation, T: enhancement, trivial

#5530 Simplify linter use and make configuration consistent
  docs/conf.py
  setup.cfg
  setup.py
  src/pip/__main__.py
  tox.ini
Labels: T: DevOps, trivial

#5569 Satisfy the linter
  setup.py
Labels: C: automation, trivial

#5572 Adjust the deprecation policy to be time based
  docs/development.rst
  news/deprecation.process
Labels: T: DevOps, trivial

#5579 Remove redundancies in list in user_guide.rst
  docs/user_guide.rst
  news/f86bc245-7633-470a-a05e-925309ba648d.trivial
Labels: T: docs

#5559 Fix error trying to generate scripts warning when PATH not set
  news/5558.bugfix
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: T: bugfix

#5585 Isolate when pyproject.toml does not have build-system.requires
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
Labels: !release blocker, PEP implementation, T: bugfix, trivial

#5587 Implement VersionControl.obtain() in the base class.
  news/03450A0C-9B6C-4AAB-8171-AB92935AE2CA.trivial
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: refactor

#5594 Fix typo: tools/test-requirements.txt.
  docs/development.rst
  news/B5DC829C-8E61-468C-A9CD-DCCC79D26F85.trivial
Labels: T: docs

#5560 Remove hack for pyyaml support on 3.7
  tools/tests-requirements.txt
Labels: C: automation, T: DevOps, trivial

#5553 Fix issue #5532
  docs/installing.rst
  news/534bb179-538c-4aaa-9688-ac93f21b47f7.trivial
Labels: T: docs

#5574 Added User Guide section on proxy configuration.
  docs/user_guide.rst
  news/512.doc
  news/5574.doc
Labels: C: proxy, T: docs

#5541 Refactor the logging setup into a separate function and cleanup
  src/pip/_internal/basecommand.py
  src/pip/_internal/utils/logging.py
Labels: T: refactor, trivial

#5611 Fix a merging artifact that broke the linting
  src/pip/_internal/utils/logging.py
Labels: C: automation, trivial

#5609 Break out VersionControl.is_repository_directory().
  news/67C1ECA3-A0C6-4DA6-B987-BE46C7629AF2.trivial
  src/pip/_internal/vcs/__init__.py
Labels: C: vcs, T: refactor

#5542 Introduce a helper function for deprecation
  docs/development.rst
  src/pip/_internal/index.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/deprecation.py
  tests/functional/test_warning.py
Labels: !release blocker, T: DevOps, trivial

#5336 PEP 518: enable source installs for build dependencies
  docs/reference/pip.rst
  news/5229.feature
  src/pip/_internal/build_env.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_tracker.py
  tests/conftest.py
  tests/data/packages/pep518_forkbomb-235.tar.gz
  tests/data/packages/pep518_twin_forkbombs_first-234.tar.gz
  tests/data/packages/pep518_twin_forkbombs_second-238.tar.gz
  tests/data/packages4/simple-1.0-py2.py3-none-any.whl
  tests/data/src/pep518_forkbomb-235/MANIFEST.in
  tests/data/src/pep518_forkbomb-235/pep518_forkbomb.py
  tests/data/src/pep518_forkbomb-235/pyproject.toml
  tests/data/src/pep518_forkbomb-235/setup.cfg
  tests/data/src/pep518_forkbomb-235/setup.py
  tests/data/src/pep518_twin_forkbombs_first-234/MANIFEST.in
  tests/data/src/pep518_twin_forkbombs_first-234/pep518_twin_forkbombs_first.py
  tests/data/src/pep518_twin_forkbombs_first-234/pyproject.toml
  tests/data/src/pep518_twin_forkbombs_first-234/setup.cfg
  tests/data/src/pep518_twin_forkbombs_first-234/setup.py
  tests/data/src/pep518_twin_forkbombs_second-238/MANIFEST.in
  tests/data/src/pep518_twin_forkbombs_second-238/pep518_twin_forkbombs_second.py
  tests/data/src/pep518_twin_forkbombs_second-238/pyproject.toml
  tests/data/src/pep518_twin_forkbombs_second-238/setup.cfg
  tests/data/src/pep518_twin_forkbombs_second-238/setup.py
  tests/functional/test_install.py
  tests/lib/__init__.py
  tests/unit/test_req.py
Labels: !release blocker, PEP implementation, T: enhancement

#5603 Update vendoring README file
  src/pip/_vendor/README.rst
Labels: T: DevOps, trivial

#5621 Cleanup NEWS fragments in preparation for 18.0
  news/3651.removal
  news/3654.removal
  news/3905.bugfix
  news/4174.removal
  news/512.doc
  news/5127.bugfix
  news/5196.bugfix
  news/5249.bugfix
  news/5261.doc
  news/5293.bugfix
  news/5311.bugfix
  news/5312.bugfix
  news/5319.feature
  news/5325.bugfix
  news/5347.bugfix
  news/5381.bugfix
  news/5416.bugfix
  news/5457.bugfix
  news/5512.bugfix
  news/5574.doc
  news/cachecontrol.vendor
  news/certifi.vendor
  news/distro.vendor
  news/idna.vendor
  news/ipaddress.vendor
  news/pkg_resources.vendor
  news/progress.vendor
  news/pytoml.vendor
  news/requests.vendor
  news/urllib3.vendor
Labels: trivial

#5626 Don't warn if pyproject.toml does not contain build-system.requires
  news/5416.bugfix
  news/5512.bugfix
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
Labels: !release blocker, PEP implementation, trivial

#5627 PEP 518 compliance
  news/5627.bugfix
  src/pip/_internal/req/req_install.py
  tests/data/src/pep518_invalid_build_system/MANIFEST.in
  tests/data/src/pep518_invalid_build_system/pep518.py
  tests/data/src/pep518_invalid_build_system/pyproject.toml
  tests/data/src/pep518_invalid_build_system/setup.py
  tests/functional/test_install.py
Labels: !release blocker, PEP implementation, T: enhancement

#5628 Fix a typo in tox.ini
  tox.ini
Labels: !release blocker, trivial

#5630 Bump for development of 18.1
  src/pip/__init__.py
Labels: trivial

#5614 Remove vestigial `VersionControl.get_info()` method.
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/subversion.py
Labels: trivial

#5606 Change VersionControl to parse the URL only once inside get_url_rev().
  news/CD18D0D2-2C80-43CD-9A26-ED2535E2E840.trivial
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: refactor

#5571 Allow PEP508 url dependencies in install_requires
  news/4187.feature
  src/pip/_internal/models/index.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
Labels: PEP implementation, T: enhancement

#5639 Inline a super-simple function
  src/pip/_internal/__init__.py
Labels: T: refactor, trivial

#5636 Remove the unused VersionControl.translate_egg_surname()
  news/CF11FF8C-C348-4523-9DFC-A7FEBCADF154.trivial
  src/pip/_internal/vcs/__init__.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: refactor, trivial

#5642 Report files in original (filesystem) case
  src/pip/_internal/req/req_uninstall.py
  tests/unit/test_req_uninstall.py
Labels: trivial

#5643 Implement check for doc-only PRs on Appveyor
  appveyor.yml
Labels: C: automation, T: DevOps, trivial

#5526 Rework the development documentation
  .github/PULL_REQUEST_TEMPLATE.md
  docs/conf.py
  docs/development.rst
  docs/development/contributing.rst
  docs/development/getting-started.rst
  docs/development/index.rst
  docs/development/release-process.rst
  docs/index.rst
  docs/installing.rst
Labels: T: DevOps, T: docs, trivial

#5646 Don't mention pip in the headers of development docs pages
  docs/development/contributing.rst
  docs/development/release-process.rst
Labels: T: docs, T: enhancement, trivial

#5635 user_guide: Fix "Requirements Files" reference
  docs/user_guide.rst
  news/user_guide_fix_requirements_file_ref.doc
Labels: T: docs

#5527 Move more classes to pip._internal.models
  src/pip/_internal/cache.py
  src/pip/_internal/index.py
  src/pip/_internal/models/candidate.py
  src/pip/_internal/models/index.py
  src/pip/_internal/models/link.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/models.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/wheel.py
  tests/unit/test_models.py
  tests/unit/test_wheel.py
Labels: T: refactor, trivial

#5650 Document platforms/tooling new pip maintainers can be given access to
  docs/development/contributing.rst
Labels: T: DevOps, T: docs, trivial

#5652 Cleanup redundant files in the docs/ directory
  docs/Makefile
  docs/docutils.conf
  docs/make.bat
  tox.ini
Labels: T: docs, trivial

#5651 Fix the "+" check in VersionControl.get_url_rev_and_auth()
  news/8EC51B95-AFCC-4955-A416-5435650C8D15.trivial
  src/pip/_internal/vcs/__init__.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: bugfix

#5644 Show appropriate error message
  news/5644.bugfix
  src/pip/_internal/baseparser.py
Labels: T: enhancement

#5653 Improve content in "Creating New Release" section
  docs/development/release-process.rst
Labels: T: DevOps, T: docs, trivial

#5669 Ignore travis related files in AppVeyor builds
  appveyor.yml
Labels: C: automation, T: enhancement, trivial

#5667 Move pip._internal.compat to pip._internal.utils.compat
  src/pip/_internal/baseparser.py
  src/pip/_internal/cache.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/index.py
  src/pip/_internal/locations.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_uninstall.py
  src/pip/_internal/utils/appdirs.py
  src/pip/_internal/utils/compat.py
  src/pip/_internal/utils/filesystem.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/outdated.py
  src/pip/_internal/utils/ui.py
  src/pip/_internal/vcs/git.py
  src/pip/_vendor/requests/__init__.py
  tasks/vendoring/patches/requests.patch
  tests/functional/test_install_user.py
  tests/unit/test_cache.py
  tests/unit/test_compat.py
  tests/unit/test_wheel.py
Labels: trivial

#5561 Document support for Py3.7 and enable testing of Py3.8-dev
  .travis.yml
  docs/installing.rst
  news/5561.feature
  setup.py
  tox.ini
Labels: T: DevOps, T: docs

#5668 Add a pip._internal.cli subpackage and move some CLI related modules into it
  src/pip/_internal/__init__.py
  src/pip/_internal/cli/__init__.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/parser.py
  src/pip/_internal/cli/status_codes.py
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/completion.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/commands/hash.py
  src/pip/_internal/commands/help.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/commands/show.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/vcs/__init__.py
  tests/functional/test_configuration.py
  tests/functional/test_download.py
  tests/functional/test_help.py
  tests/functional/test_install.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_search.py
  tests/functional/test_wheel.py
  tests/lib/options_helpers.py
  tests/unit/test_base_command.py
  tests/unit/test_cmdoptions.py
Labels: T: refactor, trivial

#5676 Add an environment variable to keep temporary directories when testing
  tests/conftest.py
Labels: trivial

#5682 Make args for prep_for_dist consistent
  src/pip/_internal/operations/prepare.py
Labels: trivial

#5684 Internal refactoring for PEP 517
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  tests/data/src/pep517_pyproject_only/pyproject.toml
  tests/data/src/pep517_setup_and_pyproject/pyproject.toml
  tests/data/src/pep517_setup_and_pyproject/setup.py
  tests/data/src/pep517_setup_only/setup.py
  tests/functional/test_install.py
  tests/unit/test_pep517.py
Labels: PEP implementation, trivial
