Repository pypa/pip, pull requests merged in 2018-08, with the labels that each got.

#5685 Refactoring metadata handling in InstallRequirement
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/packaging.py
  tests/unit/test_req.py
Labels: trivial

#5691 Combine functional/test_install_vcs_git.py and functional/test_vcs.py with other modules
  news/5CACBF2F-4917-4C85-9F41-32C2F998E8AD.trivial
  tests/functional/test_install_vcs.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_vcs.py
  tests/functional/test_vcs_git.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: refactor, trivial

#5698 Simplify test_bazaar__get_url_rev_and_auth()
  news/BE5B0FA7-1A6E-47F6-AF80-E26B679352A0.trivial
  tests/unit/test_vcs.py
Labels: C: vcs, T: refactor, trivial

#5404 Open up plat/abi/impl options to `install --target`
  news/5355.feature
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/req/req_set.py
  tests/data/packages/simplewheel-2.0-py3-fakeabi-fakeplat.whl
  tests/functional/test_install.py
Labels: T: feature request

#5673 Don't install development tree for non-test tox jobs
  tox.ini
Labels: C: automation, T: DevOps, T: enhancement, trivial

#5666 Cleanup RequirementSet.add_requirement
  src/pip/_internal/req/req_set.py
Labels: T: refactor, trivial

#5124 Limit progress updates to avoid swamping the TTY
  news/5124.trivial
  src/pip/_internal/utils/ui.py
Labels: T: enhancement

#5706 Don't import Link from pip._internal.index
  src/pip/_internal/req/req_install.py
  tests/unit/test_download.py
Labels: trivial

#5623 Fix #5624: installing a Git ref for installs other than the first
  news/5624.bugfix
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/functional/test_install_vcs.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: bugfix

#5708 Fix vendoring import rewriting, when imports are on first line
  src/pip/_vendor/certifi/__main__.py
  tasks/vendoring/__init__.py
Labels: T: DevOps, T: bugfix, trivial

#5711 Rename tests/functional/test_install_vcs.py to test_install_vcs_git.py
  news/94B8EE86-500E-4C27-BC8E-136550E30A62.trivial
  tests/functional/test_install_vcs_git.py
Labels: C: vcs, T: refactor, trivial

#5715 DRY up test_install_vcs_git.py with _checkout_into_temp()
  news/3249E95B-9AAF-4885-972B-268BEA9E0E5F.trivial
  tests/functional/test_install_vcs_git.py
Labels: C: tests, C: vcs, T: refactor, trivial

#5717 Remove unneeded @pytest.mark.network's inside test_install_vcs_git.py
  news/15771DE2-0EE8-4776-84E3-5496E9C9C9CC.trivial
  tests/functional/test_install_vcs_git.py
Labels: C: tests, C: vcs, T: refactor, trivial

#5718 DRY up test_install_vcs_git.py with _install_version_pkg()
  news/3037AE5E-B9C6-4BCE-BD7A-D68DD4529386.trivial
  tests/functional/test_install_vcs_git.py
Labels: C: tests, C: vcs, T: refactor, trivial

#5719 Add a test of installing from a repo with a non-master default branch
  news/ACEFD11F-E9D5-4EFD-901F-D11BAF89808A.trivial
  tests/functional/test_install_vcs_git.py
Labels: C: tests, C: vcs, trivial

#5455 Breakout constructors from InstallRequirement
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolve.py
  tests/functional/test_uninstall.py
  tests/unit/test_finder.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
  tests/unit/test_req_install.py
Labels: T: refactor, trivial

#5664 Fix #5375: add editable install support for svn+ssh URLs with a username
  docs/reference/pip_install.rst
  news/5375.feature
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: enhancement

#5726 Mention PEP 508 URL dependencies as a replacement for dependency links
  src/pip/_internal/index.py
Labels: trivial
