Repository pypa/pip, pull requests merged in 2018-10, with the labels that each got.

#5833 Move static methods out of HTMLPage
  news/5833.trivial
  src/pip/_internal/index.py
Labels: T: refactor

#5798 Improve configuration handling
  news/5798.feature
  src/pip/_internal/cli/parser.py
  src/pip/_internal/configuration.py
  src/pip/_internal/exceptions.py
  tests/unit/test_configuration.py
Labels: C: configuration

#5851 Release/18.1
  AUTHORS.txt
  NEWS.rst
  news/143AE47B-6AC8-490A-B9F5-2F30022A6918.trivial
  news/15771DE2-0EE8-4776-84E3-5496E9C9C9CC.trivial
  news/2037.bugfix
  news/3037AE5E-B9C6-4BCE-BD7A-D68DD4529386.trivial
  news/3249E95B-9AAF-4885-972B-268BEA9E0E5F.trivial
  news/4187.feature
  news/5013.feature
  news/516F9BDF-53AF-4885-A966-6474A27A6D46.trivial
  news/5355.feature
  news/5375.feature
  news/5433.bugfix
  news/5525.feature
  news/5561.feature
  news/5624.bugfix
  news/5644.bugfix
  news/5670.bugfix
  news/5679.bugfix
  news/5748.trivial
  news/5751.bugfix
  news/5753.trivial
  news/5798.feature
  news/5819.bugfix
  news/5819.trivial
  news/5821.trivial
  news/5826.trivial
  news/5833.trivial
  news/5CACBF2F-4917-4C85-9F41-32C2F998E8AD.trivial
  news/62f41bbe-675e-4afa-a1ba-ac18208429ff.trivial
  news/88BB743A-BE4E-4012-A714-9FE3B36BD30A.trivial
  news/88E800D4-2360-48F6-BD1D-9C6BAB0D059E.trivial
  news/8CC94B14-B963-4645-BB9C-D63C6D854294.trivial
  news/8EA012C5-DBB9-4909-A724-3E375CBF4D3A.trivial
  news/8EC51B95-AFCC-4955-A416-5435650C8D15.trivial
  news/94B8EE86-500E-4C27-BC8E-136550E30A62.trivial
  news/ACEFD11F-E9D5-4EFD-901F-D11BAF89808A.trivial
  news/BE5B0FA7-1A6E-47F6-AF80-E26B679352A0.trivial
  news/CD18D0D2-2C80-43CD-9A26-ED2535E2E840.trivial
  news/CF11FF8C-C348-4523-9DFC-A7FEBCADF154.trivial
  news/D7B6B89D-2437-428E-A94B-56A3210F1C6F.trivial
  news/certifi.vendor
  news/packaging.vendor
  news/pep517.vendor
  news/pytoml.vendor
  news/setuptools.vendor
  news/user_guide_fix_requirements_file_ref.doc
  src/pip/__init__.py
Labels: trivial

#5853 Bump version to reopen for development
  src/pip/__init__.py
  src/pip/_internal/index.py
  src/pip/_internal/operations/freeze.py
Labels: trivial

#5836 Warn when dropping index URL value to directory
  news/5827.feature
  src/pip/_internal/index.py
Labels: C: finder, T: enhancement

#5837 Simplify FrozenRequirement._init_args_from_dist()
  news/E74EEB42-0067-4C7E-B02A-01FAE49D1D98.trivial
  src/pip/_internal/operations/freeze.py
Labels: C: freeze, T: refactor, trivial

#5863 drop workaround for Python<=2.5
  src/pip/_internal/utils/misc.py
  tests/data/packages/README.txt
  tests/data/packages/paxpkg.tar.bz2
  tests/functional/test_install.py
Labels: trivial

#5869 Address #5866: remove deprecated SVN-specific freeze code.
  news/5866.removal
  src/pip/_internal/operations/freeze.py
Labels: C: freeze, T: deprecation

#5858 Fix a typo in tests/lib/configuration_helpers.py
  tests/lib/configuration_helpers.py
Labels: trivial

#5871 Fix Typo
  NEWS.rst
Labels: T: docs, trivial

#5843 tox: fix environment setup
  tools/tox_pip.py
  tox.ini
Labels: C: automation, trivial

#5873 Simplify vcs.get_src_requirement().
  news/D9A540D9-7665-48A5-A1C8-5141ED49E404.trivial
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/vcs/__init__.py
Labels: C: freeze, C: vcs, T: refactor, trivial

#5659 fix for: Incorrect username/password gives misleading error
  news/4833.bugfix
  src/pip/_internal/download.py
Labels: T: enhancement

#5891 Improve TestUnpackArchives to also test the contents of the extracted files
  news/B4BB707A-F48C-4FC9-8459-9B23C2D07FBE.trivial
  tests/unit/test_utils.py
Labels: C: tests

#5848 Use ZipFile.open instead of ZipFile.read
  news/5848.bugfix
  src/pip/_internal/utils/misc.py
Labels: T: bugfix

#5876 Remove dead code: `import_or_raise` utility function
  news/deadbeef.trivial
  src/pip/_internal/utils/misc.py
Labels: T: refactor, trivial

#5814 Reduce the heading level
  docs/html/development/getting-started.rst
Labels: T: docs, trivial

#5842 Don't crash on invalid requirements in installed packages
  news/5839.bugfix
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/operations/check.py
  tests/functional/test_check.py
Labels: C: check, T: bugfix

#5886 Rework tests virtualenv, also adding support for using venv
  .gitignore
  .travis.yml
  appveyor.yml
  tests/conftest.py
  tests/functional/test_completion.py
  tests/functional/test_freeze.py
  tests/functional/test_install.py
  tests/functional/test_install_config.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_user.py
  tests/functional/test_install_wheel.py
  tests/functional/test_list.py
  tests/functional/test_uninstall.py
  tests/functional/test_uninstall_user.py
  tests/functional/test_wheel.py
  tests/lib/__init__.py
  tests/lib/venv.py
  tests/unit/test_locations.py
  tools/tests-common_wheels-requirements.txt
  tools/tests-requirements.txt
  tools/travis/install.sh
  tools/travis/run.sh
  tox.ini
Labels: C: tests, trivial

#5910 DRY up the test code that creates a module with a main() function.
  news/A6C1E675-2DF0-4D59-9183-19CF908F5CCF.trivial
  tests/lib/__init__.py
  tests/lib/git_submodule_helpers.py
Labels: C: tests, T: refactor, trivial

#5909 Rename appveyor.yml -> .appveyor.yml and update references
  .appveyor.yml
  MANIFEST.in
  docs/html/development/contributing.rst
Labels: C: automation, trivial

#5911 Corrected a tiny typo
  src/pip/_vendor/README.rst
Labels: trivial

#5883 Fix issue #5868: TypeError in move_wheel_files().
  news/5868.bugfix
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: C: wheel, T: bugfix

#5914 tox: define the minimal tox version required
  tox.ini
Labels: C: tests, trivial

#5943 Include package name in a freeze warning if package is not installed
  news/13D1F422-0CB9-450F-B4DD-9486524712E5.feature
  src/pip/_internal/operations/freeze.py
  tests/functional/test_freeze.py
Labels: C: freeze, C: logging, T: enhancement

#5933 remove egg version from pip install command reference
  docs/html/reference/pip_install.rst
  news/5888.doc
Labels: T: docs

#5875 Rewrite egg_info_matches with canonicalize_name
  news/5870.bugfix
  src/pip/_internal/index.py
  src/pip/_internal/wheel.py
  tests/unit/test_index.py
  tests/unit/test_wheel.py
Labels: C: finder, C: wheel, T: bugfix, T: refactor

#5213 Add licenses for 3rd party libraries
  MANIFEST.in
  news/5213.feature
  src/pip/_vendor/README.rst
  src/pip/_vendor/appdirs.LICENSE.txt
  src/pip/_vendor/cachecontrol/LICENSE.txt
  src/pip/_vendor/certifi/LICENSE
  src/pip/_vendor/chardet/LICENSE
  src/pip/_vendor/colorama/LICENSE.txt
  src/pip/_vendor/distlib/LICENSE.txt
  src/pip/_vendor/distro.LICENSE
  src/pip/_vendor/html5lib/LICENSE
  src/pip/_vendor/idna/LICENSE.rst
  src/pip/_vendor/ipaddress.LICENSE
  src/pip/_vendor/lockfile/LICENSE
  src/pip/_vendor/msgpack/COPYING
  src/pip/_vendor/packaging/LICENSE
  src/pip/_vendor/packaging/LICENSE.APACHE
  src/pip/_vendor/packaging/LICENSE.BSD
  src/pip/_vendor/pkg_resources/LICENSE
  src/pip/_vendor/progress/LICENSE
  src/pip/_vendor/pyparsing.LICENSE
  src/pip/_vendor/pytoml/LICENSE
  src/pip/_vendor/requests/LICENSE
  src/pip/_vendor/retrying.LICENSE
  src/pip/_vendor/six.LICENSE
  src/pip/_vendor/urllib3/LICENSE.txt
  src/pip/_vendor/webencodings/LICENSE
  tasks/vendoring/__init__.py
Labels: T: DevOps, T: enhancement

#5958 Include the Vendoring policy in the docs
  docs/html/development/index.rst
  docs/html/development/vendoring-policy.rst
  news/5958.doc
  src/pip/_vendor/README.rst
Labels: T: docs

#5962 Adds hyperlinks to User IRC and Dev IRC in README.
  README.rst
  news/5961.trivial
Labels: T: docs

#5968 Use split_auth_from_netloc() inside MultiDomainBasicAuth
  news/5968.bugfix
  src/pip/_internal/download.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_download.py
  tests/unit/test_utils.py
  tests/unit/test_vcs.py
Labels: C: vcs, T: bugfix, T: refactor

#5932 Added type hints to internals/utils
  news/2972f685-7454-4242-a350-2e7334dc7924.trivial
  src/pip/_internal/utils/filesystem.py
  src/pip/_internal/utils/glibc.py
Labels: trivial

#5960 Add mypy annotations to pip._internal.cli.cmdoptions
  news/9891612D-8317-4A33-B373-9AAAD1CDA4DA.trivial
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/models/format_control.py
Labels: trivial

#5939 Add mypy annotations to pip._internal.cache
  news/A514E56D-726C-4417-AA87-3AACF3677289.trivial
  src/pip/_internal/cache.py
Labels: trivial
