Repository pypa/pip, pull requests merged in 2019-07, with the labels that each got.

#6638 Add a "pip debug" command
  news/6638.feature
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/main_parser.py
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/commands/debug.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/models/target_python.py
  src/pip/_internal/utils/misc.py
  tests/functional/test_debug.py
  tests/unit/test_target_python.py
Labels: C: cli, type: enhancement

#6671 Handle non-ascii commands in Python 2 in make_subprocess_output_error()
  src/pip/_internal/utils/compat.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_compat.py
  tests/unit/test_utils.py
Labels: C: encoding, trivial

#6666 Add LinkEvaluator class
  src/pip/_internal/index.py
  src/pip/_internal/models/target_python.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#5671 Make the ascii progress bar really be ascii, not Unicode
  news/5671.bugfix
  src/pip/_internal/utils/ui.py
Labels: C: encoding, O: windows

#6684 Simplify FoundCandidates
  src/pip/_internal/index.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#5936 Fix #1890: set sys.argv[0] to the setup.py path in the setuptools shim
  news/1890.bugfix
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/setuptools_build.py
  src/pip/_internal/wheel.py
Labels: P: setuptools, type: enhancement

#6683 Support non-ascii cwds in make_subprocess_output_error()
  src/pip/_internal/utils/misc.py
  tests/unit/test_utils.py
Labels: C: encoding, trivial

#6687 Add PackageFinder.make_candidate_evaluator()
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#6691 Refactor SETUPTOOLS_SHIM with function make_setuptools_shim_args
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/setuptools_build.py
  src/pip/_internal/wheel.py
  tests/unit/test_utils.py
Labels: P: setuptools, trivial, type: refactor

#6700 Remove an unused argument
  tests/lib/path.py
Labels: C: tests, trivial, type: refactor

#6701 Change Path.makedirs() -> Path.mkdir(parents=True)
  tests/functional/test_install.py
  tests/functional/test_uninstall_user.py
  tests/functional/test_wheel.py
  tests/lib/__init__.py
  tests/lib/path.py
  tests/lib/venv.py
  tests/unit/test_download.py
Labels: C: tests, trivial, type: refactor

#6704 Use mypy's default of strict_optional=True
  setup.cfg
  src/pip/_internal/download.py
  src/pip/_internal/models/link.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_utils.py
Labels: trivial, type: maintenance

#6714 Add debug logging to filter_unallowed_hashes()
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/utils/hashes.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
Labels: C: finder, trivial

#6719 Pass the specifier to CandidateEvaluator via create() instead of get_applicable_candidates()
  src/pip/_internal/index.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#6731 Add basic debug doc
  docs/html/reference/index.rst
  docs/html/reference/pip_debug.rst
  docs/man/commands/debug.rst
  src/pip/_internal/commands/debug.py
  tests/functional/test_debug.py
Labels: trivial

#6722 Move markers related constant & function in their own module
  src/pip/_internal/download.py
  src/pip/_internal/locations.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/marker_files.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/wheel.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_wheel.py
Labels: trivial, type: refactor

#6735 Move virtualenv detection functions into their own module
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/locations.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/virtualenv.py
Labels: trivial, type: refactor

#6734 Isolate src_prefix computation in a function
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/locations.py
Labels: trivial, type: refactor

#6738 Add utils.virtualenv tests
  src/pip/_internal/utils/virtualenv.py
  tests/unit/test_utils_virtualenv.py
Labels: C: tests, trivial

#6748 Add some encoding return values to pip debug
  src/pip/_internal/commands/debug.py
  tests/functional/test_debug.py
Labels: trivial, type: enhancement

#6726 Update 2.7 deprecation message
  docs/html/development/release-process.rst
  news/6726.doc
  src/pip/_internal/cli/base_command.py
Labels: type: docs, type: maintenance

#6663 Add InstallRequirement.format_debug() as a debugging helper
  src/pip/_internal/req/req_install.py
Labels: trivial

#6749 Vendoring Updates
  news/certifi.vendor
  news/distlib.vendor
  news/msgpack.vendor
  news/requests.vendor
  news/urllib3.vendor
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/distlib/__init__.py
  src/pip/_vendor/distlib/index.py
  src/pip/_vendor/distlib/locators.py
  src/pip/_vendor/distlib/metadata.py
  src/pip/_vendor/distlib/scripts.py
  src/pip/_vendor/distlib/t32.exe
  src/pip/_vendor/distlib/t64.exe
  src/pip/_vendor/distlib/util.py
  src/pip/_vendor/distlib/w32.exe
  src/pip/_vendor/distlib/w64.exe
  src/pip/_vendor/distlib/wheel.py
  src/pip/_vendor/msgpack/__init__.py
  src/pip/_vendor/msgpack/_version.py
  src/pip/_vendor/msgpack/exceptions.py
  src/pip/_vendor/msgpack/fallback.py
  src/pip/_vendor/requests/__init__.py
  src/pip/_vendor/requests/__version__.py
  src/pip/_vendor/requests/api.py
  src/pip/_vendor/urllib3/LICENSE.txt
  src/pip/_vendor/urllib3/__init__.py
  src/pip/_vendor/urllib3/connection.py
  src/pip/_vendor/urllib3/connectionpool.py
  src/pip/_vendor/urllib3/contrib/_securetransport/bindings.py
  src/pip/_vendor/urllib3/contrib/pyopenssl.py
  src/pip/_vendor/urllib3/contrib/securetransport.py
  src/pip/_vendor/urllib3/contrib/socks.py
  src/pip/_vendor/urllib3/fields.py
  src/pip/_vendor/urllib3/packages/rfc3986/__init__.py
  src/pip/_vendor/urllib3/packages/rfc3986/_mixin.py
  src/pip/_vendor/urllib3/packages/rfc3986/abnf_regexp.py
  src/pip/_vendor/urllib3/packages/rfc3986/api.py
  src/pip/_vendor/urllib3/packages/rfc3986/builder.py
  src/pip/_vendor/urllib3/packages/rfc3986/compat.py
  src/pip/_vendor/urllib3/packages/rfc3986/exceptions.py
  src/pip/_vendor/urllib3/packages/rfc3986/iri.py
  src/pip/_vendor/urllib3/packages/rfc3986/misc.py
  src/pip/_vendor/urllib3/packages/rfc3986/normalizers.py
  src/pip/_vendor/urllib3/packages/rfc3986/parseresult.py
  src/pip/_vendor/urllib3/packages/rfc3986/uri.py
  src/pip/_vendor/urllib3/packages/rfc3986/validators.py
  src/pip/_vendor/urllib3/poolmanager.py
  src/pip/_vendor/urllib3/response.py
  src/pip/_vendor/urllib3/util/__init__.py
  src/pip/_vendor/urllib3/util/request.py
  src/pip/_vendor/urllib3/util/retry.py
  src/pip/_vendor/urllib3/util/ssl_.py
  src/pip/_vendor/urllib3/util/timeout.py
  src/pip/_vendor/urllib3/util/url.py
  src/pip/_vendor/vendor.txt
  tasks/vendoring/patches/msgpack.patch
Labels: P: vendored dependency, type: maintenance

#6753 Rename InstallationCandidate.{location -> link}
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/models/candidate.py
  tests/unit/test_finder.py
  tests/unit/test_models.py
Labels: trivial, type: refactor

#6752 Better document our patch to html5lib
  news/6728.bugfix
  news/html5lib-collections-patch.vendor
  src/pip/_vendor/README.rst
Labels: P: vendored dependency, type: docs, type: maintenance

#6736 Move config files locations inside a function
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/configuration.py
  src/pip/_internal/locations.py
  tests/functional/test_install_config.py
  tests/unit/test_configuration.py
  tests/unit/test_options.py
Labels: trivial, type: refactor

#6742 Remove rmtree from tests.lib.path.Path.
  tests/functional/test_install.py
  tests/lib/__init__.py
  tests/lib/path.py
  tests/lib/venv.py
Labels: trivial, type: refactor

#6745 Remove move from tests.lib.path.Path.
  tests/lib/path.py
  tests/lib/venv.py
Labels: trivial, type: refactor

#6747 Remove normpath from tests.lib.path.Path.
  tests/lib/__init__.py
  tests/lib/path.py
Labels: trivial, type: refactor

#6751 Drop a useless import in favor of explicitness
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6746 Remove copy from tests.lib.path.Path.
  tests/functional/test_download.py
  tests/lib/path.py
Labels: trivial, type: refactor

#6743 Remove copytree from tests.lib.path.Path.
  tests/conftest.py
  tests/lib/__init__.py
  tests/lib/path.py
  tests/lib/venv.py
Labels: trivial, type: refactor

#6678 Reduce dependency on ctypes when discovering glibc version.
  news/6543.bugfix
  news/6675.bugfix
  src/pip/_internal/utils/glibc.py
  tests/unit/test_utils.py
Labels: type: enhancement

#6771 Release 19.2
  AUTHORS.txt
  NEWS.rst
  news/1234.trivial
  news/1890.bugfix
  news/3662.trivial
  news/3799.feature
  news/4733.doc
  news/5059.trivial
  news/5082.feature
  news/5169.feature
  news/5369.bugfix
  news/5499.feature
  news/5518.bugfix
  news/5671.bugfix
  news/5874.feature
  news/5908.feature
  news/5948.feature
  news/5963.bugfix
  news/6008.bugfix
  news/6121.feature
  news/6371.bugfix
  news/6383.bugfix
  news/6386.bugfix
  news/6404.feature
  news/6413.bugfix
  news/6471.doc
  news/6486.trivial
  news/6489.bugfix
  news/6512.doc
  news/6513.bugfix
  news/6527.bugfix
  news/6533.trivial
  news/6543.bugfix
  news/6549.feature
  news/6551.feature
  news/6579.trivial
  news/6585.feature
  news/6587.feature
  news/6633.feature
  news/6638.feature
  news/6644.trivial
  news/6648.bugfix
  news/6651.bugfix
  news/6659.trivial
  news/6675.bugfix
  news/6685.removal
  news/6724.doc
  news/6726.doc
  news/certifi.vendor
  news/cleanup.trivial
  news/distlib.vendor
  news/git_looks_like_hash.trivial
  news/html5lib-collections-patch.vendor
  news/msgpack.vendor
  news/pathlib-refactor-1.trivial
  news/pathlib-refactor-2.trivial
  news/requests.vendor
  news/urllib3.vendor
  src/pip/__init__.py
Labels: trivial, type: maintenance

#6769 Ignore new warnings traced on tox invocation.
  .appveyor.yml
Labels: trivial, type: maintenance

#6774 Fix #6772: Update Link.is_hash_allowed() to accept None hashes
  news/6772.bugfix
  src/pip/_internal/models/link.py
  tests/unit/test_link.py
Labels: type: bugfix

#6779 Release 19.2.1
  NEWS.rst
  news/6772.bugfix
Labels: trivial, type: maintenance

#6788 Fix 3.8-dev: Consistent version wrangling
  tests/functional/test_install.py
Labels: trivial

#6764 Change isort multi_line_output to 3
  setup.cfg
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/main_parser.py
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/configuration.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/models/link.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_uninstall.py
  src/pip/_internal/utils/hashes.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  src/pip/_internal/wheel.py
  tests/functional/test_freeze.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_search.py
  tests/functional/test_vcs_bazaar.py
  tests/unit/test_cmdoptions.py
  tests/unit/test_compat.py
  tests/unit/test_download.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_index_html_page.py
  tests/unit/test_legacy_resolve.py
  tests/unit/test_logging.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
  tests/unit/test_req_install.py
  tests/unit/test_req_uninstall.py
  tests/unit/test_utils.py
Labels: trivial, type: maintenance

#6694 Address #6692: Only import a Command class when needed
  docs/pip_sphinxext.py
  src/pip/_internal/__init__.py
  src/pip/_internal/cli/autocompletion.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/main_parser.py
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/completion.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/debug.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/commands/hash.py
  src/pip/_internal/commands/help.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/commands/show.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/commands/wheel.py
  tests/functional/test_help.py
  tests/functional/test_search.py
  tests/lib/options_helpers.py
  tests/unit/test_base_command.py
  tests/unit/test_commands.py
  tests/unit/test_format_control.py
  tests/unit/test_options.py
  tests/unit/test_req.py
Labels: trivial, type: enhancement, type: refactor

#6706 Add global options and no user config args to make_setuptools_shim_args
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/setuptools_build.py
  src/pip/_internal/wheel.py
  tests/unit/test_utils.py
Labels: P: setuptools, trivial, type: refactor

#6805 Mark a few more network tests as network
  tests/functional/test_list.py
  tests/functional/test_pep517.py
Labels: C: tests, trivial

#6808 Upgrade to mypy 0.720
  src/pip/_internal/pep425tags.py
  src/pip/_internal/utils/appdirs.py
  src/pip/_internal/utils/misc.py
  tools/mypy-requirements.txt
Labels: trivial, type: maintenance

#6790 Spread the Windows test load between Azure & Appveyor
  .appveyor.yml
  .azure-pipelines/jobs/test-windows.yml
Labels: C: tests, O: windows, trivial, type: maintenance

#6812 Revert "Ignore new warnings traced on tox invocation."
  .appveyor.yml
Labels: trivial

#6815 Move requirement files to tools/requirements/
  tools/requirements/docs.txt
  tools/requirements/lint.txt
  tools/requirements/mypy.txt
  tools/requirements/tests-common_wheels.txt
  tools/requirements/tests.txt
  tox.ini
Labels: trivial

#6816 Move invoke tasks to tools/automation
  tasks/__init__.py
  tools/automation/generate.py
  tools/automation/vendoring/__init__.py
  tools/automation/vendoring/patches/appdirs.patch
  tools/automation/vendoring/patches/html5lib.patch
  tools/automation/vendoring/patches/requests.patch
Labels: trivial
