Repository pypa/pip, pull requests merged in 2019-09, with the labels that each got.

#6932 Improve flow of setting InstallRequirement.use_pep517
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6935 Ignore build and dist directory appropriately
  .gitignore
  setup.cfg
Labels: trivial, type: maintenance

#6936 Switch to inline tables in pyproject.toml
  pyproject.toml
Labels: trivial

#6933 Move docstring to appropriately placed comment
  tests/functional/test_warning.py
Labels: trivial

#6962 Remove unused return value from `InstallRequirement.ensure_source_dir`
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6963 Clean up venv check in `InstallRequirement.egg_info_path`.
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6968 Fix minor indentation issue in `pip._internal.operations.prepare`
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#6830 Move distributions/{source.py -> source/__init__.py}
  src/pip/_internal/distributions/__init__.py
  src/pip/_internal/distributions/source/__init__.py
  src/pip/_internal/distributions/source/legacy.py
Labels: trivial, type: refactor

#6979 Reword a NEWS entry
  news/6947.bugfix
Labels: trivial, type: docs, type: maintenance

#6977 Remove dependence on PackageFinder in WheelBuilder.build
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#6965 Remove duplicate line in comment.
  src/pip/_internal/operations/prepare.py
Labels: trivial

#6981 Combine conditionals in InstallRequirement.egg_info_path
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6325 Use a temp dir for pip-wheel-metadata
  .gitignore
  news/6213.bugfix
  src/pip/_internal/req/req_install.py
Labels: type: enhancement

#6964 Simplify directory delete marker file check.
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/marker_files.py
  src/pip/_internal/wheel.py
Labels: trivial, type: refactor

#6980 Improve make_distribution_for_install_requirement()
  src/pip/_internal/distributions/__init__.py
Labels: trivial, type: refactor

#6985 tests: fix typos
  tests/functional/test_install_cleanup.py
  tests/unit/test_locations.py
Labels: trivial

#6855 Write separate statefiles per prefix.
  src/pip/_internal/utils/outdated.py
  tests/unit/test_unit_outdated.py
Labels: trivial, type: refactor

#6846 Fix tests when running in git linked worktree.
  tests/conftest.py
  tests/unit/test_vcs.py
Labels: trivial, type: bugfix

#6986 Reduce context/options passed to Resolver
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/legacy_resolve.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#6987 Don't create delete marker file in unpack_url
  src/pip/_internal/download.py
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#6989 Remove unused `update` parameter from `InstallRequirement`
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6966 import 'outdated' items directly
  tests/unit/test_unit_outdated.py
Labels: trivial

#6978 Simplify build loop in WheelBuilder.build
  src/pip/_internal/wheel.py
Labels: trivial, type: refactor

#6967 Manage overall application context in Commands.
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/command_context.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/commands/wheel.py
  src/pip/_vendor/__init__.py
  src/pip/_vendor/contextlib2.LICENSE
  src/pip/_vendor/contextlib2.py
  src/pip/_vendor/vendor.txt
  tests/functional/test_search.py
Labels: trivial, type: refactor

#6763 Refactor wheel.move_wheel_files to use updated distlib
  news/6763.bugfix
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: type: maintenance

#6937 Use nox for release tasks
  .azure-pipelines/jobs/package.yml
  .gitignore
  MANIFEST.in
  docs/html/development/release-process.rst
  noxfile.py
  setup.cfg
  tasks/__init__.py
  tools/automation/generate.py
Labels: trivial, type: maintenance

#7000 Remove FIXME from InstallRequirement.install
  src/pip/_internal/req/req_install.py
Labels: trivial, type: maintenance

#7001 Remove unactionable FIXME in `InstallRequirement`
  src/pip/_internal/req/req_install.py
Labels: trivial, type: maintenance

#6996 Remove `InstallRequirement.uninstalled_pathset`
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6782 Drop support for EOL Python 3.4 (2)
  src/pip/_internal/utils/compat.py
  tests/conftest.py
  tests/data/packages/LocalEnvironMarker/setup.py
  tests/functional/test_install.py
  tests/unit/test_req.py
Labels: trivial, type: maintenance

#6999 Keep `InstallRequirement.archive` in-place
  src/pip/_internal/req/req_install.py
Labels: trivial, type: maintenance

#7007 Remove old comment in Resolver.
  src/pip/_internal/legacy_resolve.py
Labels: trivial, type: refactor

#6910 Split out a LinkCollector class from PackageFinder
  docs/html/development/architecture/package-finding.rst
  src/pip/_internal/index.py
  tests/lib/__init__.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
Labels: C: finder, trivial, type: refactor

#7012 Change local_checkout() to accept tmpdir
  tests/functional/test_install.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_upgrade.py
  tests/functional/test_install_user.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_uninstall.py
  tests/lib/local_repos.py
Labels: C: tests, trivial, type: refactor

#7011 Remove index.py and req/constructors.py's dependence on download.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/utils/urls.py
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_download.py
  tests/unit/test_urls.py
Labels: trivial, type: refactor

#7015 Remove unused project_name argument from LinkCollector._get_pages()
  src/pip/_internal/index.py
  tests/unit/test_finder.py
Labels: C: finder, trivial, type: refactor

#7016 Move LinkCollector to a new collector.py module
  src/pip/_internal/collector.py
  src/pip/_internal/index.py
  src/pip/_internal/models/link.py
  tests/unit/test_collector.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_index_html_page.py
  tests/unit/test_wheel.py
Labels: C: finder, trivial, type: refactor

#7021 Rename InstallRequirement.{build_location -> ensure_build_location}
  src/pip/_internal/req/req_install.py
  src/pip/_internal/wheel.py
  tests/unit/test_req_install.py
Labels: trivial, type: refactor

#7028 Move unpacking functions from utils.misc to utils.unpacking.
  src/pip/_internal/collector.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/models/link.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/utils/filetypes.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/unpacking.py
  tests/unit/test_utils.py
  tests/unit/test_utils_unpacking.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7030 Change PackageFinder.create() to accept a LinkCollector
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/utils/outdated.py
  tests/lib/__init__.py
  tests/unit/test_build_env.py
  tests/unit/test_cmdoptions.py
  tests/unit/test_collector.py
  tests/unit/test_index.py
  tests/unit/test_unit_outdated.py
Labels: C: finder, trivial, type: refactor

#7005 Fix grammar
  src/pip/_internal/utils/outdated.py
Labels: trivial, type: docs

#7023 Remove Lockfile
  news/lockfile.vendor
  src/pip/_internal/download.py
  src/pip/_vendor/__init__.py
  src/pip/_vendor/lockfile.pyi
  src/pip/_vendor/lockfile/LICENSE
  src/pip/_vendor/lockfile/__init__.py
  src/pip/_vendor/lockfile/linklockfile.py
  src/pip/_vendor/lockfile/mkdirlockfile.py
  src/pip/_vendor/lockfile/pidlockfile.py
  src/pip/_vendor/lockfile/sqlitelockfile.py
  src/pip/_vendor/lockfile/symlinklockfile.py
  src/pip/_vendor/vendor.txt
  tests/unit/test_download.py
  tests/unit/test_index.py
Labels: type: maintenance

#7025 Clean up req.constructors.install_req_from_line
  src/pip/_internal/req/constructors.py
Labels: trivial, type: refactor

#7022 Add triage guide document.
  docs/html/development/index.rst
  docs/html/development/issue-triage.rst
Labels: trivial, type: docs

#7037 Remove svn handling in unpacking.unpack_file
  news/7037.removal
  src/pip/_internal/download.py
  src/pip/_internal/utils/unpacking.py
  tests/unit/test_wheel.py
Labels: type: refactor

#7038 Add parse_links()
  src/pip/_internal/collector.py
Labels: trivial, type: refactor

#6991 Ignore "require_virtualenv" in `pip config`
  news/6991.bugfix
  src/pip/_internal/commands/configuration.py
Labels: C: configuration, type: bugfix

#7041 Move isolation setup to helper method
  src/pip/_internal/distributions/source/legacy.py
Labels: trivial, type: refactor

#7040 Linearize a nested-error-message-generation
  src/pip/_internal/distributions/source/legacy.py
Labels: trivial, type: refactor

#7043 Remove unnecessary else in convert_extras
  src/pip/_internal/req/constructors.py
Labels: trivial, type: refactor

#7039 A few cleanups in req_set.py
  src/pip/_internal/req/req_set.py
Labels: trivial, type: maintenance

#7044 Remove download dependency from wheel
  src/pip/_internal/download.py
  src/pip/_internal/models/link.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/utils/unpacking.py
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7047 Normalize usage of TempDirectory
  src/pip/_internal/commands/install.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/temp_dir.py
Labels: trivial, type: refactor

#7027 Validate NEWS files with rstcheck.
  .github/workflows/python-linters.yml
  noxfile.py
  pyproject.toml
  tools/automation/news/template.rst
Labels: trivial, type: maintenance

#7046 Refactoring req.constructors requirement parsing
  src/pip/_internal/req/constructors.py
Labels: trivial, type: refactor

#7045 Create new module: network.auth
  src/pip/_internal/download.py
  src/pip/_internal/network/__init__.py
  src/pip/_internal/network/auth.py
  tests/unit/test_download.py
  tests/unit/test_networking_auth.py
Labels: trivial, type: refactor

#7056 Add documentation string to pip._internal.network.auth
  src/pip/_internal/network/__init__.py
  src/pip/_internal/network/auth.py
Labels: trivial, type: docs

#7051 Call into operations.generate_metadata to generate metadata
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7059 Remove link.is_artifact
  src/pip/_internal/models/link.py
  src/pip/_internal/operations/prepare.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7058 Simplify local_repos.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_user.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_uninstall.py
  tests/lib/local_repos.py
Labels: C: tests, C: vcs, trivial, type: refactor

#7060 Improve logging in LinkCollector.collect_links()
  src/pip/_internal/collector.py
  tests/unit/test_collector.py
Labels: C: finder, trivial, type: refactor

#6988 Use `ZipFile` as context manager in `InstallRequirement.archive`
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7064 Better name for _correct_build_directory
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7063 Move run_egg_info into operations.generate_metadata
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7066 Factor editable requirement parsing into dedicated function
  src/pip/_internal/req/constructors.py
Labels: trivial, type: refactor

#7057 Remove HTMLPage.iter_links()
  src/pip/_internal/collector.py
  tests/unit/test_collector.py
Labels: C: finder, trivial, type: refactor

#7067 Update auto-svn+ removal wording
  news/7037.removal
Labels: trivial, type: maintenance

#7077 Nicer getting started
  docs/html/development/getting-started.rst
Labels: trivial, type: docs

#7062 Move SafeFileCache to network.cache
  src/pip/_internal/download.py
  src/pip/_internal/network/cache.py
  tests/unit/test_download.py
  tests/unit/test_networking_cache.py
Labels: trivial, type: refactor

#7081 Cleanup InstallRequirement.egg_info_path
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7075 Move path_to_url() to utils/urls.py
  src/pip/_internal/cache.py
  src/pip/_internal/collector.py
  src/pip/_internal/download.py
  src/pip/_internal/models/link.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/urls.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/wheel.py
  tests/unit/test_download.py
  tests/unit/test_req.py
  tests/unit/test_urls.py
  tests/unit/test_utils.py
Labels: trivial, type: refactor

#7078 Revamp linting processes
  .azure-pipelines/jobs/package.yml
  .azure-pipelines/steps/run-tests.yml
  .github/workflows/python-linters.yml
  .pre-commit-config.yaml
  .travis.yml
  MANIFEST.in
  docs/html/development/architecture/anatomy.rst
  docs/html/development/architecture/overview.rst
  docs/html/development/getting-started.rst
  docs/html/installing.rst
  docs/html/logic.rst
  docs/html/reference/pip.rst
  docs/html/reference/pip_install.rst
  docs/html/reference/pip_uninstall.rst
  docs/html/user_guide.rst
  news/6869.trivial
  news/6883.trivial
  news/6892.bugfix
  news/6991.bugfix
  news/fix-test-pep518-forkbombs.trivial
  noxfile.py
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/distributions/__init__.py
  src/pip/_internal/index.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/vcs/__init__.py
  tasks/__init__.py
  tests/conftest.py
  tests/data/indexes/datarequire/fakepackage/index.html
  tests/data/src/pep517_setup_and_pyproject/setup.py
  tests/data/src/pep517_setup_only/setup.py
  tests/data/src/pep518_with_namespace_package-1.0/setup.py
  tests/data/src/prjwithdatafile/prjwithdatafile/README.txt
  tests/data/src/sample/data/data_file
  tests/data/src/sample/sample/package_data.dat
  tests/data/src/simple_namespace/setup.py
  tests/lib/__init__.py
  tools/automation/vendoring/__init__.py
  tools/requirements/lint.txt
  tools/travis/run.sh
  tox.ini
Labels: C: automation, trivial, type: maintenance

#7061 Move code out of pip._internal.__init__
  setup.py
  src/pip/__main__.py
  src/pip/_internal/__init__.py
  src/pip/_internal/main.py
  tests/conftest.py
  tests/functional/test_completion.py
  tests/unit/test_options.py
Labels: trivial, type: refactor

#6313 Fix #3907 tar file placed outside of target location
  news/3907.bugfix
  src/pip/_internal/utils/unpacking.py
  tests/unit/test_utils_unpacking.py
Labels: type: bug, type: security

#7086 Rename {setup_py_dir -> unpacked_source_directory}
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/wheel.py
Labels: trivial, type: refactor

#7092 Remove the testenv:packaging sections from tox.ini
  tox.ini
Labels: C: automation, trivial

#7079 Rewrap user guide
  docs/html/user_guide.rst
Labels: trivial, type: docs

#7089 Move PipSession to network.session
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/collector.py
  src/pip/_internal/download.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/network/session.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/utils/outdated.py
  tests/lib/__init__.py
  tests/unit/test_collector.py
  tests/unit/test_download.py
  tests/unit/test_index.py
  tests/unit/test_network_session.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
  tests/unit/test_unit_outdated.py
Labels: trivial, type: refactor

#7100 Simplify handling of PEP 517 metadata temp dir
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7087 Refactor metadata directory handling
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#7094 Remove DependencyWarning warning from pip._internal
  news/7094.trivial
  src/pip/_internal/__init__.py
Labels: trivial, type: maintenance

#7106 Delete mypy.txt
  tools/requirements/mypy.txt
Labels: trivial, type: maintenance

#7105 Update to mypy==0.730
  .pre-commit-config.yaml
  src/pip/_internal/utils/appdirs.py
  src/pip/_internal/utils/filetypes.py
  src/pip/_internal/wheel.py
Labels: trivial, type: maintenance

#7099 Add development commands to nox
  noxfile.py
Labels: C: automation, trivial, type: maintenance

#6868 Initial triage guide
  docs/html/development/contributing.rst
  docs/html/development/issue-triage.rst
Labels: trivial, type: docs, type: maintenance

#7113 Single backticks to double backticks in triage guide
  docs/html/development/issue-triage.rst
Labels: trivial, type: bugfix

#7114 Add missing disallow-untyped-defs=False comment
  src/pip/_internal/network/xmlrpc.py
Labels: trivial

#7103 Cleanup warning tests
  tests/functional/test_warning.py
Labels: C: tests, trivial, type: refactor

#7104 Add pip._internal.utils.subprocess
  src/pip/_internal/build_env.py
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  src/pip/_internal/wheel.py
  tests/unit/test_utils.py
  tests/unit/test_utils_subprocess.py
Labels: trivial, type: refactor
