Repository pypa/pip, pull requests merged in 2019-10, with the labels that each got.

#7124 Clarify `--no-binary` when enumerating packages and add an example
  docs/html/reference/pip_wheel.rst
  src/pip/_internal/cli/cmdoptions.py
Labels: trivial

#7125 Allow error reporting for YAML tests
  tests/functional/test_yaml.py
  tests/lib/__init__.py
Labels: C: tests, trivial, type: enhancement

#7115 Move find_egg_info to operations.generate_metadata
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7136 Remove GitHub Actions CI
  .github/workflows/python-linters.yml
Labels: C: automation, K: workaround, trivial

#7139 Revert "Remove GitHub Actions CI"
  .github/workflows/python-linters.yml
Labels: trivial, type: maintenance

#7131 Bump to latest sphinx
  tools/requirements/docs.txt
Labels: trivial, type: docs

#7134 Add a good-first-issue template
  .github/ISSUE_TEMPLATE/~good-first-issue.md
Labels: trivial, type: docs

#7142 Add NEWS file for new contextlib2 dependency
  news/contextlib2.vendor
Labels: type: maintenance

#7140 Fix a typo in InstallCommand.__doc__
  src/pip/_internal/commands/install.py
Labels: trivial

#7143 Fix backticks in a NEWS fragment
  news/4358.bugfix
Labels: trivial

#7132 Optimize upgrade of already-satisfied pinned requirement
  news/7132.feature
  src/pip/_internal/legacy_resolve.py
Labels: C: dependency resolution, type: enhancement

#6888 Align interface of tests.lib.path.Path.mkdir with pathlib.Path.…
  tests/functional/test_install.py
  tests/functional/test_pep517.py
  tests/functional/test_uninstall_user.py
  tests/lib/__init__.py
  tests/lib/path.py
  tests/lib/venv.py
  tests/unit/test_collector.py
  tests/unit/test_compat.py
  tests/unit/test_locations.py
  tests/unit/test_utils.py
Labels: trivial, type: maintenance

#7153 Improve nox test execution setup
  noxfile.py
Labels: trivial, type: maintenance

#7151 Remove tests.lib.path.Path.__sub__
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/lib/__init__.py
  tests/lib/path.py
Labels: C: tests, trivial, type: maintenance, type: refactor

#7156 Rename tests.lib.path.Path.{abspath -> resolve()}
  tests/conftest.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/lib/__init__.py
  tests/lib/path.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
Labels: C: tests, trivial, type: refactor

#7158 Revert "Optimize upgrade of already-satisfied pinned requiremen…
  news/7132.feature
  src/pip/_internal/legacy_resolve.py
Labels: trivial

#7159 Delete 1234.trival
  news/1234.trival
Labels: trivial

#7161 Simplify an interestingly written conditional
  src/pip/_internal/utils/misc.py
Labels: trivial

#7147 Move some initialization out of __init__
  src/pip/_internal/__init__.py
  src/pip/_internal/network/session.py
  src/pip/_internal/utils/inject_securetransport.py
Labels: trivial, type: refactor

#7163 Remove the deprecated pip config --venv option
  news/7163.removal
  src/pip/_internal/commands/configuration.py
  tests/unit/test_options.py
Labels: type: deprecation

#7167 Bump contextlib2
  news/contextlib2.vendor
  src/pip/_vendor/contextlib2.py
  src/pip/_vendor/vendor.txt
Labels: trivial

#7169 Azure Pipelines: check that vendoring is up-to-date
  .travis.yml
  tox.ini
Labels: C: tests, P: vendored dependency, trivial

#7174 Update AUTHORS.txt
  AUTHORS.txt
Labels: trivial

#7181 Remove intermediate pip-wheel-metadata dir
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7198 Add release target
  .pre-commit-config.yaml
  docs/html/development/release-process.rst
  noxfile.py
  tests/conftest.py
Labels: trivial, type: maintenance

#7189 (improve doc): add command to run test in parallel
  docs/html/development/getting-started.rst
Labels: trivial

#7213 Remove single use variable show_url
  src/pip/_internal/download.py
Labels: trivial, type: refactor

#7219 Declare support for Python 3.8
  docs/html/installing.rst
  news/7219.feature
  setup.py
Labels: type: maintenance

#6606 Fix PEP 517 builds for packages without setup.py
  news/6606.bugfix
  src/pip/_internal/commands/install.py
  tests/data/packages/pep517_setup_and_pyproject/pyproject.toml
  tests/data/packages/pep517_setup_and_pyproject/setup.cfg
  tests/data/packages/pep517_setup_and_pyproject/setup.py
  tests/functional/test_install.py
Labels: PEP implementation, type: bugfix

#7212 Change %s to .format
  src/pip/_internal/distributions/source/legacy.py
Labels: trivial

#7187 Remove pip._internal.download
  src/pip/_internal/download.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_build_env.py
  tests/unit/test_networking_auth.py
  tests/unit/test_operations_prepare.py
Labels: trivial, type: refactor

#7232 Release 19.3.1
  NEWS.rst
  news/6606.bugfix
  news/7219.feature
Labels: trivial, type: maintenance

#7235 Add newline to news file
  news/5716.bugfix
Labels: trivial, type: maintenance

#7175 Centralize setuptools args construction
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/setuptools_build.py
  src/pip/_internal/wheel.py
Labels: trivial, type: refactor

#6377 Add new option: pip wheel --save-wheel-names
  news/6340.feature
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel.py
  tests/functional/test_wheel.py
  tests/unit/test_wheel.py
Labels: C: wheel, S: awaiting response, type: feature request

#7144 Introduce an `index` sub-package
  docs/html/development/architecture/package-finding.rst
  src/pip/_internal/build_env.py
  src/pip/_internal/cache.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index/__init__.py
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/models/link.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/self_outdated_check.py
  tests/lib/__init__.py
  tests/unit/test_build_env.py
  tests/unit/test_collector.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_req_file.py
  tests/unit/test_self_check_outdated.py
Labels: trivial, type: refactor

#7239 Move prepare_pep517_metadata to generate_metadata
  src/pip/_internal/operations/generate_metadata.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7068 Remove RequirementSet.require_hashes
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/req/req_set.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#7176 Clean up wheel.move_wheel_files
  src/pip/_internal/req/req_install.py
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7241 Update release doc
  docs/html/development/release-process.rst
Labels: trivial, type: docs, type: maintenance

#7002 Default to --user install in certain conditions
  news/1668.feature
  src/pip/_internal/commands/install.py
  src/pip/_internal/utils/filesystem.py
  tests/functional/test_install.py
  tests/functional/test_install_upgrade.py
  tests/unit/test_command_install.py
Labels: type: enhancement

#7245 Simplify requirement file parsing
  src/pip/_internal/req/req_file.py
  tests/unit/test_req_file.py
Labels: trivial, type: refactor

#7244 Simplify InstallRequirement.prepare_metadata()
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7262 refactor should_use_ephemeral_cache
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7263 Put Temp on RAM Disk for Azure Pipelines tests
  .azure-pipelines/scripts/New-RAMDisk.ps1
  .azure-pipelines/steps/run-tests-windows.yml
Labels: C: tests, trivial

#7267 Normalize parallelization parameter.
  .appveyor.yml
  .azure-pipelines/steps/run-tests-windows.yml
  .azure-pipelines/steps/run-tests.yml
  tools/travis/run.sh
Labels: C: tests, trivial

#7271 CI: move Python35-x64 from Appveyor to Azure
  .appveyor.yml
  .azure-pipelines/jobs/test-windows.yml
Labels: C: tests, trivial, type: maintenance

#7273 Update pypy on Travis
  .travis.yml
Labels: C: automation, C: tests, trivial

#7261 Simplify requirement file parsing
  src/pip/_internal/req/req_file.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
Labels: trivial, type: refactor

#7275 Return InstallationResult from requirement installation
  src/pip/_internal/commands/install.py
  src/pip/_internal/req/__init__.py
Labels: trivial, type: refactor

#7247 Document CI
  docs/html/development/ci.rst
  docs/html/development/index.rst
Labels: trivial, type: docs, type: maintenance
