Repository pypa/pip, pull requests merged in 2019-04, with the labels that each got.

#6376 Fix typo / enable test: "est_link_..." -> "test_link_..."
  tests/unit/test_finder.py
Labels: C: tests, trivial

#6373 Fix handling of requests exceptions when dependencies are debundled
  news/4195.bugfix
  src/pip/_vendor/__init__.py
Labels: C: download, P: downstream, type: bugfix

#6339 Fix #1219: Prevent subprocess stdout and stderr from cluttering pip's stdout.
  news/1219.bugfix
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/misc.py
  tests/functional/test_install.py
  tests/functional/test_wheel.py
  tests/unit/test_utils.py
Labels: C: logging, C: vcs, type: bugfix

#6367 Consistently catch exceptions in index.py
  news/85016e72-3c01-455a-ad4e-e25f676c7381.trivial
  src/pip/_internal/index.py
Labels: C: finder, trivial, type: refactor

#6382 Pin pytest-xdist to < 1.28.0
  tools/tests-requirements.txt
Labels: C: tests, trivial

#6368 Pytest: Use get_closest_marker
  tests/conftest.py
Labels: C: tests, trivial

#6370 Fix editable-mode logic when pyproject.toml present
  news/6370.bugfix
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_install_reqs.py
  tests/unit/test_pep517.py
Labels: C: PEP 517 impact, C: editable, type: bugfix

#6245 Fix the URL quoting in _clean_link() for IPv6 addresses
  news/6285.bugfix
  src/pip/_internal/index.py
  tests/unit/test_index.py
Labels: C: finder, type: bugfix

#5971 Isolate, reuse PackageFinder best candidate logic
  news/5175.bugfix
  src/pip/_internal/index.py
  src/pip/_internal/utils/outdated.py
  tests/unit/test_unit_outdated.py
Labels: C: finder, type: bugfix

#6390 Add Subversion.get_vcs_version method
  AUTHORS.txt
  src/pip/_internal/vcs/subversion.py
  tests/lib/__init__.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial

#6415 Finder found candidates cleanup
  news/5aac3bb3-d29f-4e63-a3e5-f3d31da9283f.trivial
  src/pip/_internal/index.py
Labels: C: finder, trivial, type: refactor

#6424 Add CandidateEvaluator class
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  tests/unit/test_finder.py
Labels: C: finder, trivial, type: refactor

#6319 Update progress to 1.5
  news/6319.feature
  news/progress.vendor
  src/pip/_internal/utils/ui.py
  src/pip/_vendor/progress/__init__.py
  src/pip/_vendor/progress/bar.py
  src/pip/_vendor/progress/counter.py
  src/pip/_vendor/progress/helpers.py
  src/pip/_vendor/progress/spinner.py
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency, type: enhancement

#6431 Release
  AUTHORS.txt
  NEWS.rst
  news/1219.bugfix
  news/4195.bugfix
  news/5060.feature
  news/5175.bugfix
  news/529a7aae-8f0b-4342-b8ef-7f9a85de2a90.trivial
  news/5443.feature
  news/5499.feature
  news/5549.feature
  news/5749.feature
  news/5889.bugfix
  news/5892.bugfix
  news/5aac3bb3-d29f-4e63-a3e5-f3d31da9283f.trivial
  news/6054.bugfix
  news/6285.bugfix
  news/6290.feature
  news/6295.bugfix
  news/6298.feature
  news/6305.feature
  news/6312.bugfix
  news/6314.feature
  news/6319.feature
  news/6370.bugfix
  news/6419.bugfix
  news/6422.doc
  news/65a44975-f650-4a38-a7d9-5cfceaebf10d.trivial
  news/85016e72-3c01-455a-ad4e-e25f676c7381.trivial
  news/a1440b03-c0c6-4176-8e00-732517bed87b.trivial
  news/b310bc35-7843-42b1-a766-72112705c629.trivial
  news/certifi.vendor
  news/distro.vendor
  news/e1f5fdfc-64e5-468a-a688-c4a5915aaa35.trivial
  news/progress.vendor
  news/pyparsing.vendor
  news/setuptools.vendor
  src/pip/__init__.py
  tox.ini
Labels: trivial

#6442 Permit --no-use-pep517 with editable mode in more cases.
  news/6434.feature
  src/pip/_internal/pyproject.py
  tests/unit/test_pep517.py
Labels: C: PEP 517 impact, type: enhancement

#6440 Protect `@` as safe character when cleaning URLs
  news/6440.bugfix
  src/pip/_internal/index.py
  tests/unit/test_index.py
Labels: C: finder, C: vcs, type: bugfix

#6445 Fix "build_system value" to "build-system table" in pyproject.toml messages
  news/6434.feature
  src/pip/_internal/pyproject.py
Labels: C: PEP 517 impact, trivial

#6449 Restore pyproject.toml handling to its version 19.0.3 state
  news/6434.feature
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_install_reqs.py
  tests/unit/test_pep517.py
Labels: C: PEP 517 impact, trivial
