Repository pypa/pip, pull requests merged in 2019-06, with the labels that each got.

#6564 Disable comment for lock-bot on auto-locking
  .github/lock.yml
Labels: trivial

#6545 Remove from pip/_internal/__init__.py the vcs module imports
  src/pip/_internal/__init__.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/functional/test_install_vcs_svn.py
  tests/unit/test_download.py
  tests/unit/test_utils.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial, type: refactor

#6567 Import path_to_url() from utils/misc.py instead of download.py
  src/pip/_internal/cache.py
  src/pip/_internal/index.py
  src/pip/_internal/models/link.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/wheel.py
  tests/unit/test_download.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#6569 Document issue tracker triage as a contribution area
  docs/html/development/contributing.rst
Labels: trivial, type: docs

#6552 Rename the label applied to auto-locked issues
  .github/lock.yml
Labels: trivial

#6585 Allow dotted version strings for --python-version.
  news/6585.feature
  src/pip/_internal/cli/cmdoptions.py
  tests/unit/test_cmdoptions.py
Labels: C: download, type: enhancement

#6418 FIX #6413 pip install <url> allow directory traversal
  news/6413.bugfix
  src/pip/_internal/download.py
  tests/unit/test_download.py
Labels: C: download, type: bugfix, type: security

#6593 Document pip's release
  README.rst
Labels: trivial

#6595 Better surface release details in README
  README.rst
Labels: trivial, type: docs

#6591 Add a TargetPython class
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/index.py
  src/pip/_internal/models/target_python.py
  tests/lib/__init__.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_target_python.py
Labels: C: finder, trivial, type: refactor

#6562 Add make_test_finder() helper function
  tests/functional/test_pep517.py
  tests/lib/__init__.py
  tests/unit/test_build_env.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
Labels: C: tests, trivial, type: refactor

#6597 Store PackageFinder.trusted_hosts instead of secure_origins
  src/pip/_internal/build_env.py
  src/pip/_internal/index.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_index.py
  tests/unit/test_req_file.py
Labels: C: finder, trivial, type: refactor

#6603 Fully support --trusted-host inside requirements files
  docs/html/reference/pip_install.rst
  news/3799.feature
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_index.py
  tests/unit/test_req_file.py
Labels: C: download, C: requirement file, type: enhancement

#6600 Consolidate `--path` parsing into `cmdoptions.py`
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/commands/list.py
Labels: trivial, type: refactor

#6601 Introduce a "distributions" abstraction to hold the build logic
  src/pip/_internal/distributions/__init__.py
  src/pip/_internal/distributions/base.py
  src/pip/_internal/distributions/installed.py
  src/pip/_internal/distributions/source.py
  src/pip/_internal/distributions/wheel.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#6615 Move Subversion arg unit tests from functional to unit test
  tests/functional/test_install_vcs_svn.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial, type: refactor

#6614 Fix Subversion class method definition order
  src/pip/_internal/vcs/subversion.py
Labels: C: vcs, trivial, type: refactor

#6617 Bump version for development
  src/pip/__init__.py
Labels: trivial

#6618 Refactor/Rename distribution methods
  src/pip/_internal/distributions/__init__.py
  src/pip/_internal/distributions/base.py
  src/pip/_internal/distributions/installed.py
  src/pip/_internal/distributions/source.py
  src/pip/_internal/distributions/wheel.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#6604 Add a disclaimer to the "Installation Order" section
  docs/html/reference/pip_install.rst
Labels: trivial, type: docs

#6619 Improve clarification on installation order
  docs/html/reference/pip_install.rst
Labels: trivial, type: docs

#6616 Simplify was_installed_by_pip()
  news/6533.trivial
  src/pip/_internal/utils/outdated.py
Labels: trivial, type: refactor

#6613 Improve the error message for invalid requirements files in certain situations
  news/6527.bugfix
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
Labels: C: requirement file, type: enhancement

#6620 Slightly improve load pyproject toml
  src/pip/_internal/req/req_install.py
Labels: trivial

#6624 Add SearchScope class for --find-links and --index-url related options
  src/pip/_internal/build_env.py
  src/pip/_internal/index.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/models/search_scope.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_search_scope.py
Labels: C: finder, trivial, type: refactor

#6631 Change PackageFinder.create() to accept a SearchScope
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/models/search_scope.py
  src/pip/_internal/utils/compat.py
  src/pip/_internal/utils/outdated.py
  tests/lib/__init__.py
  tests/unit/test_build_env.py
  tests/unit/test_cmdoptions.py
  tests/unit/test_index.py
  tests/unit/test_unit_outdated.py
Labels: C: finder, trivial, type: refactor

#6632 Simplify InstallRequirement.get_dist()
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#6635 Parse the url when creating a Link object
  src/pip/_internal/models/link.py
  tests/unit/test_download.py
  tests/unit/test_index.py
  tests/unit/test_link.py
Labels: trivial, type: refactor

#6643 models.link: use named attribute
  src/pip/_internal/models/link.py
Labels: trivial

#6644 Bugfix/typo comparision
  news/6644.trivial
  src/pip/_internal/utils/models.py
Labels: trivial, type: docs

#5908 Add SHA256 hash of .whl as info output
  news/5908.feature
  src/pip/_internal/wheel.py
  tests/functional/test_wheel.py
  tests/unit/test_wheel.py
Labels: C: logging, C: wheel, type: enhancement

#6647 Add support for "yanked" files (PEP 592)
  news/6633.feature
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/models/candidate.py
  src/pip/_internal/models/link.py
  src/pip/_internal/utils/outdated.py
  tests/unit/test_index.py
  tests/unit/test_link.py
  tests/unit/test_unit_outdated.py
Labels: C: dependency resolution, C: download, type: enhancement

#6655 Fix #6651: Improve error message formatting when a command errors out
  news/6651.bugfix
  src/pip/_internal/utils/misc.py
  tests/functional/test_install.py
  tests/unit/test_utils.py
Labels: C: logging, type: bugfix

#6656 Fix #6654: filter yanked files before calling get_best_candidate()
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/models/link.py
  src/pip/_internal/utils/outdated.py
  tests/lib/__init__.py
  tests/unit/test_build_env.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_unit_outdated.py
Labels: C: finder, trivial, type: refactor

#6657 Fix #782: Unskip test_install_package_that_emits_unicode() on Windows
  tests/functional/test_install.py
Labels: C: encoding, C: tests, O: windows, trivial

#6661 Add a SelectionPreferences class
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/models/selection_prefs.py
  src/pip/_internal/utils/outdated.py
  tests/lib/__init__.py
  tests/unit/test_build_env.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#6662 Better names for "setup_py" and "pyproject_toml" on InstallRequirement
  src/pip/_internal/req/req_install.py
  src/pip/_internal/wheel.py
Labels: trivial, type: refactor

#6660 Rename _egg_info_matches()
  src/pip/_internal/index.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor
