Repository pypa/pip, pull requests merged in 2019-05, with the labels that each got.

#6465 Release/19.1.1
  AUTHORS.txt
  NEWS.rst
  news/6322.trivial
  news/6434.feature
  news/6440.bugfix
  src/pip/__init__.py
Labels: trivial

#6383 Fix a freeze debug log message.
  news/6383.bugfix
  src/pip/_internal/operations/freeze.py
  tests/functional/test_freeze.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_vcs_git.py
  tests/lib/__init__.py
  tests/lib/test_lib.py
Labels: C: freeze, C: tests, type: bugfix

#6467 Cleanup outdated warning check code
  news/cleanup.trivial
  src/pip/_internal/utils/outdated.py
Labels: type: refactor

#6432 Fix some formatting issues in the pip-install docs
  docs/html/installing.rst
  docs/html/reference/pip_install.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/install.py
Labels: trivial, type: docs

#5931 Remove last use of SafeConfigParser
  news/5059.trivial
  src/pip/_internal/vcs/mercurial.py
  tests/unit/test_vcs_mercurial.py
Labels: C: tests, C: vcs, trivial

#6476 Improve sentence about PyPI package search
  docs/html/reference/pip_install.rst
Labels: trivial

#6408 Remove url as an attribute of VersionControl
  src/pip/_internal/download.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/functional/test_install_vcs_svn.py
  tests/functional/test_vcs_bazaar.py
  tests/lib/local_repos.py
Labels: C: vcs, trivial, type: refactor

#6425 Move _link_package_versions() to CandidateEvaluator
  src/pip/_internal/index.py
  tests/unit/test_finder.py
Labels: C: finder, trivial, type: refactor

#6478 Remove utils/packaging.py's dependence on the current environment
  src/pip/_internal/index.py
  src/pip/_internal/resolve.py
  src/pip/_internal/utils/packaging.py
  tests/unit/test_utils.py
Labels: trivial, type: refactor

#6389 Respect --global-option and --install-option for VCS installs.
  news/5518.bugfix
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: C: vcs, type: bugfix

#5952 Fixes #5948 Adds keyring support
  news/5948.feature
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/download.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_download.py
  tests/unit/test_utils.py
Labels: C: download, type: enhancement, type: security

#6474 Don't allow logging errors during tests even if allow_stderr_error=True
  tests/lib/__init__.py
  tests/lib/test_lib.py
Labels: C: tests, trivial

#6488 Docs: capitalize "URL"
  docs/html/reference/pip.rst
  docs/html/reference/pip_install.rst
Labels: trivial

#6492 Store VersionControl objects instead of classes in the VCS registry
  src/pip/_internal/download.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/vcs/__init__.py
Labels: C: vcs, trivial, type: refactor

#6484 Simplify CandidateEvaluator.evaluate_link()
  src/pip/_internal/index.py
  src/pip/_internal/utils/packaging.py
  tests/unit/test_finder.py
Labels: C: finder, trivial, type: refactor

#6507 Add to CandidateEvaluator's constructor the Python version to use
  src/pip/_internal/index.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#6511 Simplify PackageFinder's constructor by accepting a CandidateEvaluator
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/utils/outdated.py
  tests/functional/test_pep517.py
  tests/unit/test_build_env.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
  tests/unit/test_unit_outdated.py
Labels: C: finder, trivial, type: refactor

#6439 Subversion interactive support
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial

#6514 Add allow_all_prereleases to CandidateEvaluator's constructor
  src/pip/_internal/index.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_finder.py
Labels: C: finder, trivial, type: refactor

#6519 Make VersionControl.fetch_new() an instance method
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
Labels: C: vcs, trivial

#6518 Fix #6371: make pip install respect --ignore-requires-python
  news/6371.bugfix
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/index.py
  tests/unit/test_index.py
  tests/unit/test_packaging.py
Labels: C: finder, type: bugfix

#6522 Check for explicit PIP_IS_CI environment variable to report automated installs to Warehouse.
  news/5499.feature
  src/pip/_internal/download.py
  tests/unit/test_download.py
Labels: type: enhancement, type: maintenance

#6528 Make _check_dist_requires_python() parallel _check_link_requires_python(), and add more complete tests
  src/pip/_internal/index.py
  src/pip/_internal/resolve.py
  src/pip/_internal/utils/packaging.py
  tests/functional/test_install.py
  tests/unit/test_resolve.py
  tests/unit/test_utils.py
Labels: C: download, trivial, type: refactor

#6535 Move Resolver to a legacy_resolve module
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/legacy_resolve.py
  tests/unit/test_legacy_resolve.py
  tests/unit/test_req.py
Labels: C: dependency resolution, trivial, type: refactor

#6538 Include more details in a pip freeze warning message
  news/6513.bugfix
  src/pip/_internal/operations/freeze.py
  tests/functional/test_freeze.py
Labels: C: freeze, type: bugfix

#6515 Properly support interactive Subversion client
  news/6386.bugfix
  src/pip/_internal/vcs/subversion.py
  tests/functional/test_install_vcs_svn.py
Labels: C: vcs, type: enhancement

#6540 Improve the debug log message when installing an incompatible wheel
  news/6121.feature
  src/pip/_internal/index.py
  src/pip/_internal/wheel.py
  tests/functional/test_install_config.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_wheel.py
Labels: C: logging, C: wheel, type: enhancement

#6542 Improve error message if METADATA or PKG-INFO metadata is None
  news/5082.feature
  src/pip/_internal/exceptions.py
  src/pip/_internal/utils/packaging.py
  tests/unit/test_legacy_resolve.py
Labels: type: enhancement

#6549 Improve deprecation warnings
  news/6549.feature
  src/pip/_internal/utils/deprecation.py
  tests/unit/test_utils.py
Labels: type: deprecation, type: enhancement

#5458 Add configuration for bots
  .github/lock.yml
  .github/no-response.yml
  .github/triage-new-issues.yml
Labels: S: blocked, S: discussion needed, trivial, type: maintenance

#6450 Add --path to pip freeze to support --target installations
  news/6404.feature
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/utils/misc.py
  tests/functional/test_freeze.py
Labels: C: freeze, type: enhancement

#6539 Change PackageFinder to accept py_version_info instead of python_versions
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/index.py
  src/pip/_internal/pep425tags.py
  tests/unit/test_cmdoptions.py
  tests/unit/test_index.py
  tests/unit/test_pep425tags.py
Labels: C: finder, trivial, type: refactor

#5959 Updated comment-matching regex to be Jython-compatible
  news/3662.trivial
  src/pip/_internal/req/req_file.py
Labels: P: jython

#6556 Add a link to pip's dev documentation from README
  README.rst
Labels: trivial
