Repository pypa/pip, pull requests merged in 2019-03, with the labels that each got.

#6139 Bazaar: Export directly from the remote branch.
  .travis.yml
  news/5443.feature
  src/pip/_internal/vcs/bazaar.py
  tests/functional/test_vcs_bazaar.py
  tests/lib/__init__.py
Labels: C: vcs, type: enhancement

#6295 Redact URL to hide password
  news/6295.bugfix
  src/pip/_internal/index.py
  tests/unit/test_index_html_page.py
Labels: type: bug, type: bugfix, type: security

#6312 Test call_subprocess more thoroughly; fix spinner edge cases
  news/6312.bugfix
  src/pip/_internal/utils/misc.py
  tests/unit/test_utils.py
Labels: type: bugfix

#6330 (Fix some typos)
  docs/html/conf.py
  src/pip/_internal/__init__.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/configuration.py
  src/pip/_internal/index.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/ui.py
  src/pip/_internal/vcs/git.py
  tests/unit/test_utils.py
Labels: trivial

#6130 Move get_src_requirement() to the VersionControl base class
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_utils.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial, type: refactor

#6113 Ensure all pip._vendor.* modules are mapped to debundled correspondences
  news/a1440b03-c0c6-4176-8e00-732517bed87b.trivial
  src/pip/_vendor/README.rst
  src/pip/_vendor/__init__.py
Labels: P: downstream, P: vendored dependency, trivial

#6341 Make more VersionControl methods class methods
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial, type: refactor

#6342 Allow finer-grained testing of subprocess stderr.
  tests/lib/__init__.py
  tests/lib/test_lib.py
Labels: C: tests, trivial, type: enhancement

#6336 Fix #5889: AttributeError: 'NoneType' object has no attribute 'netloc'
  news/5889.bugfix
  src/pip/_internal/req/constructors.py
  tests/unit/test_req_install.py
Labels: type: bugfix

#6093 Finish types for pip._internal.req, set disallow_untyped_defs flag
  setup.cfg
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/req/req_tracker.py
  src/pip/_internal/req/req_uninstall.py
Labels: trivial

#6331 Show a nice error if editable mode is attempted with a pyproject.toml source tree
  news/6314.feature
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/req_install.py
  tests/unit/test_pep517.py
Labels: C: PEP 517 impact, type: enhancement

#6356 Make VersionControl methods into class methods (part 2)
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/functional/test_vcs_git.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial, type: refactor

#6351 Tighten up the test suite's stderr checks
  tests/conftest.py
  tests/functional/test_install.py
  tests/lib/__init__.py
  tests/lib/test_lib.py
Labels: C: tests, trivial

#6365 Get CI working again: pin pytest-rerunfailures to < 7.0
  tools/tests-requirements.txt
Labels: C: tests, trivial, type: maintenance

#5550 Allow adding a custom string to pip's User-Agent via an environment variable
  docs/html/user_guide.rst
  news/5549.feature
  src/pip/_internal/download.py
  tests/unit/test_download.py
Labels: type: enhancement
