Repository pypa/pip, pull requests merged in 2019-12, with the labels that each got.

#7419 Move wheel version check to install_unpacked_wheel
  src/pip/_internal/req/req_install.py
  src/pip/_internal/wheel.py
Labels: trivial, type: refactor

#7421 Move wheel to operations.install.wheel
  docs/html/development/architecture/anatomy.rst
  src/pip/_internal/operations/install/__init__.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/req/req_install.py
  tests/unit/test_finder.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7422 Simplify InstallRequirement.uninstall
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7426 Move install_succeeded for editable installs
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7412 Cleanup operations.prepare._prepare_download
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7425 Remove unused return value from check_if_exists
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7432 Inline InstallRequirement.move_wheel_files
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7435 Justify lack of encoding when reading record file
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7433 Extract InstallRequirement.install_editable into operations.install
  src/pip/_internal/operations/install/editable_legacy.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7431 Move operations.prepare.Downloader (and friends) to network.download.Downloader
  src/pip/_internal/models/link.py
  src/pip/_internal/network/download.py
  src/pip/_internal/operations/prepare.py
  tests/lib/requests_mocks.py
  tests/unit/test_network_download.py
  tests/unit/test_networking_auth.py
  tests/unit/test_operations_prepare.py
Labels: trivial, type: refactor

#7434 Replace InstallRequirement.conflicts_with with InstallRequirement.should_reinstall
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7441 Move Downloader construction out of RequirementPreparer
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/operations/prepare.py
  tests/unit/test_operations_prepare.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#7448 Update warning tense: the next pip will be released after Pytho…
  src/pip/_internal/cli/base_command.py
Labels: trivial

#7452 Read record file once during legacy install
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7454 Remove unnecessary unlink in unpack_http_url
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7462 Update README.rst correcting grammar.
  src/pip/_vendor/README.rst
Labels: trivial, type: docs

#7468 Update to mypy==0.750
  .pre-commit-config.yaml
  src/pip/_internal/utils/misc.py
Labels: trivial

#7471 Add a comment showing how to call main using runpy
  news/6a054cec-e4d6-4494-a554-90a2c0bee837.trivial
  src/pip/_internal/main.py
Labels: trivial, type: docs

#7472 Remove disallow_untyped_defs=False for pip._internal.distributions, pip._internal.operations.prepare
  src/pip/_internal/distributions/base.py
  src/pip/_internal/distributions/installed.py
  src/pip/_internal/distributions/source.py
  src/pip/_internal/distributions/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
Labels: trivial

#7420 Revert "Add new option: pip wheel --save-wheel-names (#6377)"
  news/6340.feature
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel_builder.py
  tests/functional/test_wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: maintenance

#7473 Factor out pep517 wheel build function
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_wheel_builder.py
Labels: trivial, type: refactor

#7475 Remove disallow_untyped_defs=False for some modules
  src/pip/_internal/cli/autocompletion.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/command_context.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/main.py
  src/pip/_internal/models/candidate.py
  src/pip/_internal/models/link.py
  src/pip/_internal/models/search_scope.py
  src/pip/_internal/utils/hashes.py
  src/pip/_internal/utils/marker_files.py
  src/pip/_internal/utils/temp_dir.py
Labels: trivial, type: refactor

#7474 Do not depend on cached download for copying downloaded file
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7479 Do not cleanup archive download tempdir immediately
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7476 Some more trivial refactorings in WheelBuilder
  src/pip/_internal/wheel_builder.py
  tests/functional/test_wheel.py
Labels: trivial, type: refactor

#7483 Add downloaded/local archive path to InstallRequirement
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7485 Switch to a dedicated tool for vendoring pip's dependencies
  news/4785.process
  pyproject.toml
  tasks/__init__.py
  tools/automation/vendoring/__init__.py
  tools/automation/vendoring/typing.py
  tox.ini
Labels: C: automation, P: vendored dependency, type: maintenance

#7478 Make unpack_* unit tests into functional tests
  src/pip/_internal/operations/prepare.py
  tests/functional/test_download.py
  tests/lib/path.py
  tests/unit/test_operations_prepare.py
Labels: trivial, type: refactor

#7484 Add missing error logging in WheelBuilder
  src/pip/_internal/wheel_builder.py
Labels: trivial

#7492 Expand arguments to metadata generation functions
  src/pip/_internal/operations/build/metadata.py
  src/pip/_internal/operations/build/metadata_legacy.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7497 Fix path in _vendor/README.rst to match reality
  src/pip/_vendor/README.rst
Labels: trivial

#7499 Add old pip entrypoints
  news/7498.feature
  setup.py
  src/pip/__init__.py
  src/pip/__main__.py
  src/pip/_internal/__init__.py
  src/pip/_internal/cli/main.py
  src/pip/_internal/main.py
  src/pip/_internal/utils/entrypoints.py
  tests/conftest.py
  tests/functional/test_cli.py
  tests/unit/test_options.py
Labels: type: deprecation

#7494 Only allow one top-level .dist-info directory in wheels
  news/7487.removal
  src/pip/_internal/operations/install/wheel.py
  tests/functional/test_install_wheel.py
  tests/lib/__init__.py
Labels: type: refactor

#7501 Apply _internal.utils.appdirs changes to _vendor.appdirs
  news/050cda98-2240-11ea-9951-00e04c3600d8.trivial
  src/pip/_internal/utils/appdirs.py
  src/pip/_vendor/appdirs.py
  tests/unit/test_appdirs.py
  tools/automation/vendoring/patches/appdirs.patch
Labels: P: vendored dependency, type: maintenance, type: refactor

#7515 wheel builder: unconditionally update req.link
  src/pip/_internal/wheel_builder.py
Labels: trivial, type: refactor

#7516 Remove unnecessary InstallRequirement cleanup in install_given_reqs
  src/pip/_internal/req/__init__.py
Labels: trivial, type: refactor

#7513 Move legacy wheel build process into "operations.build"
  src/pip/_internal/operations/build/wheel_legacy.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_wheel.py
  tests/unit/test_wheel_builder.py
Labels: trivial, type: refactor

#7517 Move final wheel builder copy operation to wheel command
  news/7517.feature
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_command_install.py
Labels: type: refactor

#7521 Getting Started: Remove a duplicate word
  docs/html/development/getting-started.rst
  news/7521.trivial
Labels: type: docs

#7510 Move download copying out of unpacking functions
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7519 Only check for .dist-info directories at the top-level
  src/pip/_internal/operations/install/wheel.py
  tests/functional/test_install_wheel.py
  tests/lib/__init__.py
Labels: trivial, type: bugfix

#7522 Move PEP-517 wheel build logic into operations.build
  src/pip/_internal/operations/build/wheel.py
  src/pip/_internal/wheel_builder.py
Labels: trivial, type: refactor

#7526 Simplify getting info directories for wheel installation
  src/pip/_internal/operations/install/wheel.py
  tests/functional/test_install_wheel.py
Labels: trivial, type: refactor

#7523 Further reduce responsibility of WheelBuilder
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_command_install.py
  tests/unit/test_wheel_builder.py
Labels: trivial, type: refactor

#7496 Move logic for legacy installs to dedicated module
  src/pip/_internal/operations/install/editable_legacy.py
  src/pip/_internal/operations/install/legacy.py
  src/pip/_internal/req/req_install.py
Labels: trivial, type: refactor

#7529 Make WHEEL file errors more explicit
  src/pip/_internal/operations/install/wheel.py
  tests/lib/path.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor
