Repository pypa/pip, pull requests merged in 2019-01, with the labels that each got.

#6095 Address #4759: change freeze to support editable Git repos with no remote
  news/4759.bugfix
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/git.py
  tests/functional/test_freeze.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_vcs_git.py
Labels: C: freeze, C: vcs, type: bugfix

#6060 Remove dependency links support
  news/6060.removal
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/resolve.py
  src/pip/_internal/utils/outdated.py
  src/pip/_internal/vcs/subversion.py
  tests/data/packages/LocalEnvironMarker/setup.py
  tests/data/packages/LocalExtras-0.0.2/setup.py
  tests/data/packages/LocalExtras/setup.py
  tests/functional/test_install_reqs.py
  tests/unit/test_finder.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
  tests/unit/test_unit_outdated.py
Labels: !release blocker, type: deprecation

#6122 Make VersionControl.get_src_requirement() a class method
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/vcs/__init__.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  tests/functional/test_vcs_git.py
  tests/unit/test_vcs.py
Labels: C: vcs, trivial, type: refactor

#6128 Tweak freeze comment for "no version control" case
  src/pip/_internal/operations/freeze.py
  tests/functional/test_freeze.py
Labels: C: vcs, trivial

#6134 Prevent the use of PIP_NO_USE_PEP517 to head off user confusion
  src/pip/_internal/cli/cmdoptions.py
  tests/unit/test_options.py
Labels: !release blocker, C: PEP 517 impact, C: cli, C: configuration, trivial

#6147 Warn on Python 2.7
  news/6148.removal
  src/pip/_internal/cli/base_command.py
  tests/conftest.py
Labels: type: deprecation

#6142 Prefix user_log (--log) entries with timestamp
  news/6141.feature
  src/pip/_internal/utils/logging.py
  tests/unit/test_base_command.py
  tests/unit/test_logging.py
Labels: C: logging, type: enhancement

#6150 Update license year to 2019
  LICENSE.txt
Labels: trivial

#6151 Update packaging to 19.0
  news/packaging.vendor
  src/pip/_vendor/packaging/__about__.py
  src/pip/_vendor/packaging/__init__.py
  src/pip/_vendor/packaging/_compat.py
  src/pip/_vendor/packaging/_structures.py
  src/pip/_vendor/packaging/markers.py
  src/pip/_vendor/packaging/requirements.py
  src/pip/_vendor/packaging/specifiers.py
  src/pip/_vendor/packaging/utils.py
  src/pip/_vendor/packaging/version.py
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency

#5907 Handle BrokenPipeError gracefully (#4170)
  news/4170.bugfix
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/misc.py
  tests/functional/test_broken_stdout.py
  tests/unit/test_base_command.py
  tests/unit/test_logging.py
Labels: C: cli, C: logging, type: bugfix

#6153 Use the requested log level when handling broken stdout pipe
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/utils/logging.py
  tests/functional/test_broken_stdout.py
Labels: C: logging, trivial, type: bugfix

#6157 Bump for development
  src/pip/__init__.py
Labels: trivial

#6172 Remove NEWS fragments that didn't get deleted
  news/4170.bugfix
  news/packaging.vendor
Labels: trivial

#6171 Fix build directory assertion for a PEP 517/518 world
  news/6158.bugfix
  news/6171.bugfix
  src/pip/_internal/wheel.py
  tests/functional/test_install_wheel.py
  tests/functional/test_pep517.py
Labels: type: bugfix

#6185 Release 19.0.1
  NEWS.rst
  news/6158.bugfix
  news/6171.bugfix
Labels: trivial

#6205 Rewrite readme and index
  README.rst
  docs/html/index.rst
  news/5815.doc
Labels: type: docs

#6217 Replace link to virtualenv-users with Discourse Packaging channel
  README.rst
  docs/html/index.rst
Labels: trivial

#6226 Fix typo: wheither -> whether
  tests/conftest.py
Labels: trivial

#6206 Provide better error message for editable installs attempted with pyproject.toml
  news/6170.feature
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
Labels: C: PEP 517 impact, C: editable, type: enhancement
