Repository pypa/pip, pull requests merged in 2019-08, with the labels that each got.

#6803 Populate InstallRequirement.link before preparing it
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/operations/prepare.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
Labels: trivial, type: refactor

#6810 Add make_requirement_preparer() to RequirementCommand base class
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: trivial, type: refactor

#6827 Fix #6804: Fix "~" expansion in --find-links paths
  news/6804.bugfix
  src/pip/_internal/cli/cmdoptions.py
  tests/unit/test_cmdoptions.py
  tests/unit/test_unit_outdated.py
Labels: type: bugfix

#6826 Add make_resolver() to RequirementCommand base class
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: trivial, type: refactor

#6818 Fix handling of tokens (single part credentials) in URLs
  news/6795.bugfix
  src/pip/_internal/download.py
  tests/unit/test_download.py
Labels: type: bugfix

#6829 Unify calls to prepare_distribution_metadata to one callsite
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#6756 Refactor download.get_file_content.
  src/pip/_internal/download.py
  tests/unit/test_download.py
Labels: trivial, type: refactor

#6828 Add a readthedocs configuration file
  .readthedocs.yml
  MANIFEST.in
Labels: trivial, type: docs, type: maintenance

#6750 Add mypy's no-strict-optional configuration inline
  setup.cfg
  src/pip/_internal/build_env.py
  src/pip/_internal/cache.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/configuration.py
  src/pip/_internal/index.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/locations.py
  src/pip/_internal/models/format_control.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/req/req_tracker.py
  src/pip/_internal/utils/encoding.py
  src/pip/_internal/utils/glibc.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/ui.py
  src/pip/_internal/wheel.py
Labels: trivial, type: maintenance

#6833 Simplify init module
  src/pip/_internal/__init__.py
  src/pip/_internal/utils/inject_securetransport.py
Labels: trivial, type: refactor

#6770 exclude '.tox', '.nox' from being copied during 'pip install .'
  docs/html/reference/pip_install.rst
  news/6770.bugfix
  src/pip/_internal/download.py
  tests/unit/test_download.py
Labels: S: discussion needed, type: enhancement

#6838 Unskip pip install from wheel with headers
  tests/functional/test_install_wheel.py
Labels: trivial, type: maintenance

#6837 Add correct builder to ReadTheDocs configuration
  .readthedocs.yml
Labels: trivial, type: docs

#6836 Add a skeleton for architecture documentation
  docs/html/development/architecture/index.rst
  docs/html/development/index.rst
Labels: trivial, type: docs, type: maintenance

#6835 Move RequirementCommand to a different module
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: trivial, type: refactor

#6843 Eliminate base_command.py's dependence on PipSession
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/commands/uninstall.py
  tests/unit/test_base_command.py
  tests/unit/test_commands.py
Labels: trivial, type: refactor

#6845 Simplify file cache.
  src/pip/_internal/download.py
Labels: trivial, type: refactor

#6848 Change the return type of Wheel.support_index_min() from Optional[int] to int
  src/pip/_internal/wheel.py
  tests/unit/test_wheel.py
Labels: C: wheel, trivial, type: refactor

#6847 Remove an unneeded argument from populate_requirement_set()
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#6850 Make tags required in Wheel.support_index_min() and supported()
  src/pip/_internal/cache.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/wheel.py
Labels: C: wheel, trivial, type: refactor

#6854 Clean up import in moved module.
  src/pip/_internal/utils/misc.py
Labels: trivial, type: refactor

#6860 Release 19.2.2
  NEWS.rst
Labels: trivial, type: maintenance

#6859 Remove WheelBuilder's dependence on PipSession
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel.py
  tests/unit/test_command_install.py
  tests/unit/test_wheel.py
Labels: C: wheel, trivial, type: refactor

#6856 Remove unnecessary expect_error
  tests/functional/test_check.py
  tests/functional/test_completion.py
  tests/functional/test_download.py
  tests/functional/test_install.py
  tests/functional/test_install_check.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_install_compat.py
  tests/functional/test_install_config.py
  tests/functional/test_install_force_reinstall.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_upgrade.py
  tests/functional/test_install_wheel.py
  tests/functional/test_uninstall.py
  tests/lib/__init__.py
  tests/lib/git_submodule_helpers.py
  tests/lib/test_lib.py
Labels: trivial, type: maintenance

#6869 Clarify WheelBuilder.build() a bit
  news/6869.trivial
  src/pip/_internal/commands/install.py
  src/pip/_internal/wheel.py
  tests/unit/test_command_install.py
  tests/unit/test_wheel.py
Labels: C: wheel, trivial, type: refactor

#6887 Add type annotations to VCS url-passing methods
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
Labels: C: vcs, trivial, type: maintenance

#6729 sys.version fixes for python 3.10
  src/pip/_internal/locations.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/wheel.py
  tests/lib/__init__.py
  tests/unit/test_target_python.py
Labels: trivial

#6889 Simplify get_flag() conditionals in get_abi_tag() [pep425tags]
  src/pip/_internal/pep425tags.py
Labels: trivial, type: refactor

#6882 Update marker test to use Python 3.6 instead of 2.6
  news/update-marker-test.trivial
  tests/unit/test_req.py
Labels: C: tests

#6890 Hide security-sensitive strings in VCS command log messages
  news/6890.bugfix
  src/pip/_internal/download.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/functional/test_vcs_bazaar.py
  tests/lib/local_repos.py
  tests/unit/test_utils.py
  tests/unit/test_vcs.py
  tests/unit/test_vcs_mercurial.py
Labels: C: vcs, type: bugfix, type: security

#6904 Add helpers to RequirementSet to directly add requirements
  src/pip/_internal/req/req_set.py
Labels: trivial, type: refactor

#6787 Simplify PackageFinder best candidate API some more
  docs/html/development/architecture/index.rst
  docs/html/development/architecture/package-finding.rst
  src/pip/_internal/commands/list.py
  src/pip/_internal/index.py
  src/pip/_internal/utils/outdated.py
  tests/unit/test_index.py
  tests/unit/test_unit_outdated.py
Labels: C: finder, trivial, type: refactor

#6901 Note that pip's internals can change at any time
  docs/html/development/architecture/index.rst
Labels: trivial, type: docs

#6637 Add architecture overview.
  docs/html/development/architecture/anatomy.rst
  docs/html/development/architecture/index.rst
  docs/html/development/architecture/overview.rst
  news/6637.feature
Labels: type: docs

#6881 Address #6876: Make command output go through a single function
  news/1234.trival
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/hash.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/commands/show.py
  src/pip/_internal/utils/misc.py
Labels: C: cli, trivial, type: refactor

#6913 Move some PackageFinder methods (preparation for PR #6910)
  src/pip/_internal/index.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
Labels: C: finder, trivial, type: refactor

#6909 Support including port part in trusted-host
  news/6886.feature
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/download.py
  src/pip/_internal/index.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_download.py
  tests/unit/test_req_file.py
  tests/unit/test_utils.py
Labels: type: enhancement

#6934 Rename `tox lint-py3` to `tox lint`
  .travis.yml
  docs/html/development/getting-started.rst
  tools/travis/run.sh
  tox.ini
Labels: trivial, type: maintenance
