Repository pypa/pip, pull requests merged in 2020-04, with the labels that each got.

#7947 Use a code block for denoting directory structure
  docs/html/reference/pip_install.rst
Labels: trivial, type: docs

#7927 Raise an exception if revision is empty in git url
  news/7402.bugfix
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_vcs.py
Labels: C: vcs, S: discussion needed, type: enhancement

#7929 Use better temporary files mechanism
  news/7699.bugfix
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/utils/filesystem.py
  tests/unit/test_wheel.py
Labels: type: enhancement

#7612 Better freeze of distributions installed from direct URL references
  news/609.feature
  src/pip/_internal/cache.py
  src/pip/_internal/models/direct_url.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/utils/direct_url_helpers.py
  tests/functional/test_freeze.py
  tests/functional/test_install_direct_url.py
  tests/unit/test_cache.py
  tests/unit/test_direct_url.py
  tests/unit/test_direct_url_helpers.py
  tests/unit/test_wheel.py
Labels: C: freeze, PEP implementation

#7934 Rewrite tests.lib.create_basic_wheel_for_package
  tests/lib/__init__.py
Labels: trivial

#7910 Second round of resolver refactor factory
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/unit/resolution_resolvelib/conftest.py
  tests/unit/resolution_resolvelib/test_requirement.py
Labels: trivial

#7954 Simplify our Linting GitHub Action
  .github/workflows/linting.yml
  .github/workflows/python-linters.yml
Labels: C: automation, trivial, type: maintenance

#7884 Add Travis job against the new resolver
  .travis.yml
  tox.ini
Labels: trivial

#7960 Requires-Python implementation, take 2
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
  tests/lib/__init__.py
  tests/unit/resolution_resolvelib/conftest.py
Labels: trivial

#7942 New resolver: Installed candidate
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
  tests/unit/resolution_resolvelib/conftest.py
Labels: trivial

#7970 Avoid preparing candidates when all we need is name or version
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/functional/test_new_resolver.py
  tests/lib/__init__.py
Labels: trivial

#7972 Refactor InstallRequirement-related operations to base class
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: trivial

#7981 Elaborate on type of links supported
  src/pip/_internal/cli/cmdoptions.py
Labels: trivial

#7979 Implement editable candidate
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/functional/test_new_resolver.py
Labels: trivial

#7983 Accept InstallRequirement as comes_from
  src/pip/_internal/req/constructors.py
  src/pip/_internal/resolution/resolvelib/candidates.py
Labels: trivial

#7994 Add __repr__ to requirement/candidate models
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/requirements.py
Labels: trivial

#7993 Canonicalise project name from InstallationCandidate
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: trivial

#7958 Add ability to run pip with options for yaml tests
  tests/functional/test_yaml.py
  tests/yaml/install/circular.yml
  tests/yaml/install/conflicting_diamond.yml
  tests/yaml/install/conflicting_triangle.yml
  tests/yaml/install/extras.yml
  tests/yaml/install/non_pinned.yml
  tests/yaml/install/pinned.yml
  tests/yaml/install/simple.yml
Labels: C: tests, trivial

#7988 Fix tabulate col size in case of empty cell
  news/7a174d2e-1647-4794-b1d0-58f32da01540.trivial
  src/pip/_internal/commands/list.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_utils.py
Labels: type: enhancement

#8006 Remove the version part from the dist-info directory name
  src/pip/_internal/req/req_install.py
Labels: trivial

#7990 New Resolver: Correctly uninstall existing distribution before installing
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
  tests/unit/resolution_resolvelib/conftest.py
Labels: trivial

#8000 New Resolver: Make sure candidates are prepared after resolution
  src/pip/_internal/resolution/resolvelib/candidates.py
Labels: trivial

#7873 Prevent infinite recursion with pip wheel with $TMPDIR in $PWD
  news/7872.bugfix
  src/pip/_internal/operations/prepare.py
  tests/data/src/extension/extension.c
  tests/data/src/extension/setup.py
  tests/functional/test_wheel.py
Labels: type: enhancement

#7978 Generate legacy metadata in temporary directory
  src/pip/_internal/operations/build/metadata_legacy.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/setuptools_build.py
Labels: trivial

#7976 New Resolver: Implement equality on candidate classes
  src/pip/_internal/resolution/resolvelib/candidates.py
Labels: trivial

#8012 Fix incorrect comment in tests in test_install
  news/22476270-1CF0-4D00-8621-E633D06AA53A.trivial
  tests/functional/test_install.py
  tests/functional/test_list.py
Labels: C: tests

#7321 Azure Pipelines: Test Linux and macOS on Python 3.8
  .azure-pipelines/jobs/test.yml
Labels: trivial

#8020 Significantly improve release version validation
  noxfile.py
  tools/automation/release/__init__.py
  tools/automation/release/check_version.py
Labels: !release blocker, C: automation, trivial, type: enhancement

#8015 Create FUNDING.yml
  .github/FUNDING.yml
Labels: trivial

#8028 Nicer Azure Pipelines setup
  .azure-pipelines/jobs/test-windows.yml
  .azure-pipelines/jobs/test.yml
  .azure-pipelines/steps/run-tests-windows.yml
Labels: C: automation, trivial

#7948 Update docs conventions based on recent experience
  docs/html/development/conventions.rst
Labels: trivial, type: docs

#8022 Remove InstallRequirement source_dir parameter
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_pep517.py
  tests/unit/test_pep517.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#7887 pip debug: Add versions of vendored libraries to output
  news/7794.trivial
  setup.py
  src/pip/_internal/commands/debug.py
  tests/functional/test_debug.py
Labels: C: debug, type: enhancement

#8039 Block user from unfinished parts of the resolver
  src/pip/_internal/resolution/resolvelib/resolver.py
Labels: trivial

#8004 New Resolver: Raise UnsupportedPythonVersion for Requires-Python mismatch
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  src/pip/_vendor/resolvelib/__init__.py
  src/pip/_vendor/resolvelib/reporters.py
  src/pip/_vendor/resolvelib/resolvers.py
  src/pip/_vendor/vendor.txt
  tests/functional/test_new_resolver.py
Labels: trivial

#6391 Add 'pip cache' command
  docs/html/reference/index.rst
  docs/html/reference/pip_cache.rst
  docs/man/commands/cache.rst
  news/6391.feature
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/commands/cache.py
  src/pip/_internal/utils/filesystem.py
  tests/functional/test_cache.py
Labels: C: cache, type: enhancement

#7882 Build local directories in place
  docs/html/reference/pip_install.rst
  news/7555.removal
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/utils/filesystem.py
  tests/functional/test_cli.py
  tests/functional/test_install.py
  tests/functional/test_uninstall.py
  tests/lib/filesystem.py
  tests/unit/test_operations_prepare.py
  tests/unit/test_utils_filesystem.py
Labels: !release blocker, type: enhancement

#7885 Cache trusted host
  news/7847.feature
  src/pip/_internal/network/session.py
  tests/unit/test_network_session.py
  tests/unit/test_req_file.py
Labels: C: cache, C: download, type: enhancement

#7962 Speed up `pip list --outdated`
  news/7962.bugfix
  src/pip/_internal/commands/list.py
  src/pip/_internal/utils/logging.py
  tests/unit/test_logging.py
Labels: type: enhancement

#8037 Add a vendoring session to noxfile.py
  noxfile.py
Labels: trivial

#8033 Make message more user friendly when unable to resolve
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver, trivial

#8056 Vendoring Updates: April 2020
  news/certifi.vendor
  news/contextlib2.vendor
  news/distro.vendor
  news/idna.vendor
  news/msgpack.vendor
  news/packaging.vendor
  news/pep517.vendor
  news/pyparsing.vendor
  news/requests.vendor
  news/urllib3.vendor
  src/pip/_internal/commands/debug.py
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/__main__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/certifi/core.py
  src/pip/_vendor/distro.py
  src/pip/_vendor/idna/LICENSE.rst
  src/pip/_vendor/idna/core.py
  src/pip/_vendor/idna/idnadata.py
  src/pip/_vendor/idna/package_data.py
  src/pip/_vendor/idna/uts46data.py
  src/pip/_vendor/msgpack/__init__.py
  src/pip/_vendor/msgpack/_version.py
  src/pip/_vendor/msgpack/ext.py
  src/pip/_vendor/msgpack/fallback.py
  src/pip/_vendor/packaging/__about__.py
  src/pip/_vendor/packaging/tags.py
  src/pip/_vendor/pep517/__init__.py
  src/pip/_vendor/pep517/_in_process.py
  src/pip/_vendor/pep517/wrappers.py
  src/pip/_vendor/pyparsing.py
  src/pip/_vendor/requests/LICENSE
  src/pip/_vendor/requests/__init__.py
  src/pip/_vendor/requests/__version__.py
  src/pip/_vendor/requests/api.py
  src/pip/_vendor/requests/auth.py
  src/pip/_vendor/requests/compat.py
  src/pip/_vendor/requests/models.py
  src/pip/_vendor/requests/sessions.py
  src/pip/_vendor/requests/status_codes.py
  src/pip/_vendor/requests/structures.py
  src/pip/_vendor/requests/utils.py
  src/pip/_vendor/urllib3/__init__.py
  src/pip/_vendor/urllib3/connection.py
  src/pip/_vendor/urllib3/connectionpool.py
  src/pip/_vendor/urllib3/contrib/_appengine_environ.py
  src/pip/_vendor/urllib3/response.py
  src/pip/_vendor/urllib3/util/ssl_.py
  src/pip/_vendor/urllib3/util/url.py
  src/pip/_vendor/vendor.txt
Labels: !release blocker, P: vendored dependency, type: maintenance

#8071 Space after comma
  src/pip/_internal/wheel_builder.py
Labels: trivial

#8014 New Resolver: Always return an install candidate last (i.e. most preferred) if matches
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver, trivial

#8079 Always allow prereleases in is_satisfied_by()
  news/8075.bugfix
  src/pip/_internal/resolution/resolvelib/requirements.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver

#8091 Make `get_next_development_version` understand beta versions
  tools/automation/release/__init__.py
Labels: !release blocker, C: automation, trivial

#8089 "Release Notes" -> "Changelog"
  docs/html/development/architecture/anatomy.rst
  docs/html/news.rst
Labels: trivial, type: docs

#8092 Improve NEWS entries
  news/7249.feature
  news/7430.bugfix
  news/7729.feature
  news/7731.bugfix
  news/7826.feature
  news/7856.bugfix
  news/7962.bugfix
  news/8013.bugfix
  news/8075.bugfix
  news/pytoml.vendor
  news/toml.vendor
Labels: trivial, type: docs

#8093 Improve documentation for in-place builds
  docs/html/reference/pip_install.rst
  news/7555.removal
Labels: !release blocker, trivial, type: docs

#8088 Add NEWS entry for the alpha resolver
  news/988.feature
Labels: C: new resolver, type: docs

#8098 Remove `--skip-requirements-regex`
  news/7297.removal
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/req/req_file.py
  tests/unit/test_options.py
  tests/unit/test_req_file.py
Labels: type: deprecation

#8108 Mark certifi as bundled, it's used in the debug command
  news/7fc6ae31-6e5d-4f67-9b6b-3e7d4934d775.trivial
  src/pip/_vendor/__init__.py
Labels: P: vendored dependency

#8101 Fix copying distribution files from checkout
  noxfile.py
Labels: C: automation, trivial

#8107 Mildly polish contributor documentation
  docs/html/development/architecture/index.rst
  docs/html/development/ci.rst
  docs/html/development/contributing.rst
  docs/html/development/issue-triage.rst
  news/fhasjhf-343-gdg--11sfdd.trivial
Labels: trivial

#8106 Add resolver testing doc link
  docs/html/development/contributing.rst
  news/8106-fdsadh-34-sdfsa-35dd.trivial
Labels: type: docs

#8087 Document pip 21.0 as end of Python 2 support
  docs/html/development/release-process.rst
  news/python2.process
  src/pip/_internal/cli/base_command.py
Labels: !release blocker, type: deprecation

#7780 Fix docs: comment stripping comes _after_ line continuation processing
  docs/html/reference/pip_install.rst
  news/f7e1f2af-8382-450d-aa7e-9357fcd7c645.trivial
Labels: type: docs

#8144 Fix permissions on dist-info files created by adjacent_temp_file
  news/8139.bugfix
  src/pip/_internal/operations/install/wheel.py
  tests/unit/test_wheel.py
Labels: type: bugfix

#8095 Add 'pip cache dir' command to show cache directory
  news/7350.feature
  src/pip/_internal/commands/cache.py
  tests/functional/test_cache.py
Labels: C: cache, type: enhancement

#8157 Ignore require-virtualenv in `pip cache`
  src/pip/_internal/commands/cache.py
Labels: !release blocker, trivial

#8158 Release 20.1
  AUTHORS.txt
  NEWS.rst
  news/7350.feature
  news/7fc6ae31-6e5d-4f67-9b6b-3e7d4934d775.trivial
  news/8106-fdsadh-34-sdfsa-35dd.trivial
  news/8124.bugfix
  news/8139.bugfix
  news/f7e1f2af-8382-450d-aa7e-9357fcd7c645.trivial
  news/fhasjhf-343-gdg--11sfdd.trivial
  news/python2.process
  src/pip/__init__.py
Labels: trivial

#8173 Docs: Reference 'pip cache' in 'pip install' caching section
  docs/html/reference/pip_install.rst
Labels: trivial

#8166 Fix generated file mode to use bitwise AND
  news/8164.bugfix
  src/pip/_internal/operations/install/wheel.py
  tests/unit/test_wheel.py
Labels: type: bugfix
