Repository pypa/pip, pull requests merged in 2020-01, with the labels that each got.

#7524 Ensure wheel download dir is present at the beginning of wheel command
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7520 Run linters/docs on Windows and macOS
  .github/workflows/python-linters.yml
  docs/html/conf.py
  src/pip/_internal/utils/compat.py
  src/pip/_internal/utils/filesystem.py
  src/pip/_internal/utils/glibc.py
  tests/unit/test_utils.py
Labels: trivial, type: maintenance

#7535 Remove redundant expanduser for download_dir in preparer
  src/pip/_internal/operations/prepare.py
Labels: trivial

#7536 Refactor wheel info extraction during install
  src/pip/_internal/operations/install/wheel.py
  tests/data/packages/plat_wheel-1.7/plat_wheel-1.7.dist-info/WHEEL
  tests/data/packages/plat_wheel-_invalidversion_/plat_wheel-_invalidversion_.dist-info/WHEEL
  tests/data/packages/pure_wheel-1.7/pure_wheel-1.7.dist-info/WHEEL
  tests/data/packages/pure_wheel-_invalidversion_/pure_wheel-_invalidversion_.dist-info/WHEEL
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7538 Read wheel metadata from wheel directly
  src/pip/_internal/operations/install/wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7477 Do not attempt setup.py clean for failed pep517 builds
  news/6642.bugfix
  src/pip/_internal/wheel_builder.py
  tests/data/packages/pep517_wrapper_buildsys/mybuildsys.py
  tests/functional/test_install.py
  tests/functional/test_install_cleanup.py
Labels: type: bugfix

#7547 Remove redundant expect_error=False in tests
  tests/functional/test_install.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_install_compat.py
  tests/functional/test_install_index.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_user.py
  tests/functional/test_install_wheel.py
  tests/functional/test_uninstall.py
  tests/functional/test_uninstall_user.py
Labels: C: tests, trivial, type: refactor

#7553 Make _git_commit test helper args explicit
  tests/functional/test_vcs_git.py
  tests/lib/__init__.py
  tests/lib/git_submodule_helpers.py
Labels: trivial, type: refactor

#7551 Use valid wheel for functional download tests
  tests/functional/test_download.py
  tests/lib/__init__.py
Labels: trivial, type: refactor

#7550 Move parse_wheel and supporting functions to utils.wheel
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/utils/wheel.py
  tests/unit/test_utils_wheel.py
  tests/unit/test_wheel.py
Labels: trivial, type: refactor

#7552 Make wheel install test packages more explicit
  tests/functional/test_install_wheel.py
Labels: trivial, type: refactor

#7539 Use wheelfile-based pkg_resources.Distribution for metadata
  src/pip/_internal/distributions/wheel.py
  src/pip/_internal/utils/pkg_resources.py
  src/pip/_internal/utils/wheel.py
  src/pip/_internal/wheel_builder.py
  tests/functional/test_install_wheel.py
  tests/lib/__init__.py
  tests/unit/test_utils_pkg_resources.py
  tests/unit/test_utils_wheel.py
Labels: trivial, type: refactor

#7527 Move should_build filtering to wheel and install commands
  news/7527.trivial
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_command_install.py
  tests/unit/test_wheel_builder.py
Labels: trivial, type: refactor

#7559 Update vendored library: packaging
  MANIFEST.in
  news/packaging.vendor
  src/pip/_vendor/packaging/LICENSE.APACHE
  src/pip/_vendor/packaging/__about__.py
  src/pip/_vendor/packaging/_compat.py
  src/pip/_vendor/packaging/_structures.py
  src/pip/_vendor/packaging/_typing.py
  src/pip/_vendor/packaging/markers.py
  src/pip/_vendor/packaging/py.typed
  src/pip/_vendor/packaging/requirements.py
  src/pip/_vendor/packaging/specifiers.py
  src/pip/_vendor/packaging/tags.py
  src/pip/_vendor/packaging/utils.py
  src/pip/_vendor/packaging/version.py
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency, type: maintenance

#7566 Extract platform list into separate function in pep425tags
  src/pip/_internal/pep425tags.py
Labels: trivial, type: refactor

#7562 Use interpreter_name and interpreter_version from packaging.tags
  src/pip/_internal/cache.py
  src/pip/_internal/pep425tags.py
  tests/unit/test_pep425tags.py
Labels: trivial, type: refactor

#7563 Use packaging.tags.Tag to represent tag throughout the code
  src/pip/_internal/cache.py
  src/pip/_internal/commands/debug.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/models/target_python.py
  src/pip/_internal/models/wheel.py
  src/pip/_internal/pep425tags.py
  tests/unit/test_cache.py
  tests/unit/test_finder.py
  tests/unit/test_models_wheel.py
  tests/unit/test_pep425tags.py
Labels: trivial, type: refactor

#7557 Revert addition of un-suffixed pip CLI entry points for invocation check on Windows
  src/pip/_internal/utils/misc.py
  tests/functional/test_install.py
Labels: trivial, type: bugfix

#7532 Use sys.executable to format upgrade message
  news/7376.feature
  src/pip/_internal/self_outdated_check.py
Labels: type: enhancement

#7564 Remove AppVeyor
  .appveyor.yml
  .azure-pipelines/jobs/test-windows.yml
  .azure-pipelines/steps/run-tests-windows.yml
  docs/html/development/ci.rst
Labels: C: automation, trivial, type: maintenance

#7561 Switch to packaging.tags.mac_version for macOS wheel tag backfilling
  src/pip/_internal/pep425tags.py
Labels: trivial, type: refactor

#7543 Deprecate git+git@ form of VCS requirements
  docs/html/reference/pip_install.rst
  news/7543.removal
  src/pip/_internal/req/req_install.py
Labels: C: vcs, type: deprecation

#7569 Use logger to log instead of logging
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/req_uninstall.py
Labels: trivial

#7572 Delete tmpdir with rmtree to handle Unicode paths
  tests/conftest.py
Labels: C: tests, trivial, type: bugfix

#7354 Use packaging.tags for doing compatible wheel tag calculation
  news/6908.removal
  src/pip/_internal/pep425tags.py
  src/pip/_internal/utils/glibc.py
  tests/unit/test_pep425tags.py
  tests/unit/test_utils.py
Labels: !release blocker, type: maintenance

#7575 Minor cleanups in source dir handling
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
Labels: trivial, type: refactor

#7576 Manage temp directory deletion centrally
  src/pip/_internal/utils/temp_dir.py
  tests/unit/test_utils_temp_dir.py
Labels: trivial, type: refactor

#7580 Add docs and repo to project_urls metadata
  setup.py
Labels: trivial

#7582 Minor uninstall test refactoring
  news/7582.trivial
  tests/functional/test_uninstall.py
Labels: C: tests, type: refactor

#7320 Azure Pipelines: Test Windows on Python 3.8
  .azure-pipelines/jobs/test-windows.yml
  .azure-pipelines/steps/run-tests-windows.yml
  docs/html/development/ci.rst
  tests/unit/test_compat.py
Labels: trivial

#7581 Split relative requirement install tests
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
Labels: C: tests, trivial, type: refactor

#7598 Fix invalid assumption that version file contains just a version number
  tools/automation/release/__init__.py
Labels: !release blocker, trivial, type: maintenance

#7601 Touch command may not be available on Windows
  tests/functional/test_freeze.py
Labels: trivial

#7542 Eagerly normalize cache directory
  news/7541.bugfix
  src/pip/_internal/cache.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/utils/filesystem.py
  tests/unit/test_cache.py
Labels: C: cache, type: bugfix

#7600 Explicitly set newline when rewriting for release
  tools/automation/release/__init__.py
Labels: C: automation, trivial, type: maintenance

#7584 _should_cache does not depend on check_binary_allowed
  src/pip/_internal/commands/install.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_wheel_builder.py
Labels: trivial, type: refactor

#7618 Vendoring Updates for Jan 2020
  news/CacheControl.vendor
  news/certifi.vendor
  news/colorama.vendor
  news/distlib.vendor
  news/ipaddress.vendor
  news/pkg_resources.vendor
  news/pyparsing.vendor
  news/six.vendor
  news/urllib3.vendor
  src/pip/_vendor/cachecontrol/__init__.py
  src/pip/_vendor/cachecontrol/adapter.py
  src/pip/_vendor/cachecontrol/controller.py
  src/pip/_vendor/cachecontrol/serialize.py
  src/pip/_vendor/cachecontrol/wrapper.py
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/colorama/__init__.py
  src/pip/_vendor/distlib/__init__.py
  src/pip/_vendor/distlib/_backport/sysconfig.py
  src/pip/_vendor/distlib/database.py
  src/pip/_vendor/distlib/locators.py
  src/pip/_vendor/distlib/scripts.py
  src/pip/_vendor/distlib/t32.exe
  src/pip/_vendor/distlib/t64.exe
  src/pip/_vendor/distlib/util.py
  src/pip/_vendor/distlib/w32.exe
  src/pip/_vendor/distlib/w64.exe
  src/pip/_vendor/distlib/wheel.py
  src/pip/_vendor/ipaddress.py
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/pyparsing.py
  src/pip/_vendor/six.LICENSE
  src/pip/_vendor/six.py
  src/pip/_vendor/urllib3/__init__.py
  src/pip/_vendor/urllib3/connection.py
  src/pip/_vendor/urllib3/connectionpool.py
  src/pip/_vendor/urllib3/contrib/_appengine_environ.py
  src/pip/_vendor/urllib3/contrib/_securetransport/bindings.py
  src/pip/_vendor/urllib3/contrib/appengine.py
  src/pip/_vendor/urllib3/contrib/ntlmpool.py
  src/pip/_vendor/urllib3/contrib/securetransport.py
  src/pip/_vendor/urllib3/exceptions.py
  src/pip/_vendor/urllib3/packages/ssl_match_hostname/_implementation.py
  src/pip/_vendor/urllib3/util/connection.py
  src/pip/_vendor/urllib3/util/request.py
  src/pip/_vendor/urllib3/util/timeout.py
  src/pip/_vendor/urllib3/util/url.py
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency, type: maintenance

#7621 Rename pip._internal.distributions.{source -> sdist}
  src/pip/_internal/distributions/__init__.py
  src/pip/_internal/distributions/sdist.py
Labels: type: bugfix

#7623 Release 20.0.1
  NEWS.rst
Labels: trivial

#7624 Improve our release process automation
  noxfile.py
Labels: C: automation, trivial, type: maintenance

#7608 Delay TempDirectory.delete resolution to cleanup
  src/pip/_internal/utils/temp_dir.py
  tests/unit/test_utils_temp_dir.py
Labels: S: awaiting response, trivial

#7639 Revert "Explicitly set newline when rewriting for release"
  tools/automation/release/__init__.py
Labels: trivial

#7641 Modify gitattributes to match changed location of vendoring patches
  .gitattributes
Labels: trivial

#7643 Upgrade vendored packaging to 20.1
  news/7626.bugfix
  news/packaging.vendor
  src/pip/_vendor/packaging/__about__.py
  src/pip/_vendor/packaging/tags.py
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency, type: bugfix

#7646 Azure Pipielines: Replace soon-unsupported macOS 10.13 with 10.14
  .azure-pipelines/macos.yml
Labels: trivial

#7614 Updated string formatting
  news/c11aae95-1bc6-4a32-b005-65d0a7843207.trivial
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/req_tracker.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_install_index.py
  tests/functional/test_install_reqs.py
  tests/functional/test_show.py
Labels: trivial

#7630 Add a config for the issue template chooser
  .github/ISSUE_TEMPLATE/config.yml
Labels: trivial, type: maintenance

#7672 Mitigate Windows test failures due to PAX-format wheel release
  tests/functional/test_install.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_pep517.py
  tests/lib/__init__.py
Labels: trivial

#7652 Configure tempdir registry in BaseCommand
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/utils/temp_dir.py
  tests/conftest.py
  tests/unit/test_base_command.py
  tests/unit/test_utils_temp_dir.py
Labels: trivial, type: refactor

#7662 Capitalize "URL" in user guide
  docs/html/user_guide.rst
Labels: trivial
