Repository pypa/pip, pull requests merged in 2020-02, with the labels that each got.

#7679 Stop suggesting use of the /request-review bot
  .github/CONTRIBUTING.md
Labels: trivial

#7642 NEWS.rst: Fix typos discovered by codespell
  NEWS.rst
  src/pip/_internal/commands/show.py
Labels: trivial, type: docs

#7665 Suggest a way of cleaning dist if non-empty
  noxfile.py
Labels: C: automation, trivial, type: maintenance

#7651 Add new wheel builder test helper
  tests/data/packages/README.txt
  tests/data/packages/futurewheel-1.9-py2.py3-none-any.whl
  tests/data/packages/futurewheel-3.0-py2.py3-none-any.whl
  tests/functional/test_install_wheel.py
  tests/lib/test_wheel.py
  tests/lib/wheel.py
  tools/requirements/tests.txt
Labels: C: tests, trivial

#7692 Drop NEWS entry for a debundling change
  news/7690.bugfix
  news/7690.vendor
Labels: trivial, type: maintenance

#7677 Globally manage and track some temp build directories
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/temp_dir.py
  tests/unit/test_build_env.py
Labels: trivial, type: refactor

#7697 Cleanup WheelCache cleanup
  src/pip/_internal/cache.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/utils/temp_dir.py
Labels: trivial, type: refactor

#7694 Move file unpacking out of lower level functions in operations.prepare
  src/pip/_internal/operations/prepare.py
  tests/unit/test_operations_prepare.py
Labels: trivial, type: refactor

#7696 Globally manage InstallRequirement.source_dir
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/utils/marker_files.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_wheel.py
  tests/unit/test_req_install.py
Labels: trivial, type: refactor

#7695 Remove confusing comment from operations.prepare
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7704 Reduce usage of RequirementSet in commands
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/req/req_set.py
  tests/unit/test_command_install.py
  tests/unit/test_req.py
Labels: trivial, type: refactor

#7707 Pass individual options to InstallRequirement rather than an options object
  src/pip/_internal/commands/install.py
  src/pip/_internal/operations/install/legacy.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  tests/unit/test_command_install.py
  tests/unit/test_req_file.py
Labels: trivial

#7710 Record on the requirement whether it has been successfully downloaded
  src/pip/_internal/commands/download.py
  src/pip/_internal/legacy_resolve.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
Labels: trivial

#7654 Make release task build dists @ clean tmp checkout
  noxfile.py
  tools/automation/release/__init__.py
Labels: trivial

#7717 Workaround breaking changes in virtualenv for CI
  tools/requirements/tests.txt
Labels: trivial

#7700 Refactor legacy_install to not take an install_req
  src/pip/_internal/operations/install/legacy.py
  src/pip/_internal/req/req_install.py
Labels: trivial

#7750 Bump cache key after it was poisoned by virtualenv 20.x
  .github/workflows/python-linters.yml
Labels: trivial

#7752 Add documentation to internals on upgrade options
  docs/html/development/architecture/index.rst
  docs/html/development/architecture/upgrade-options.rst
Labels: trivial

#7754 Consistent formatting across pip's documentation
  .github/ISSUE_TEMPLATE.md
  NEWS.rst
  docs/html/cookbook.rst
  docs/html/development/architecture/anatomy.rst
  docs/html/development/architecture/index.rst
  docs/html/development/architecture/overview.rst
  docs/html/development/architecture/upgrade-options.rst
  docs/html/development/ci.rst
  docs/html/development/configuration.rst
  docs/html/development/contributing.rst
  docs/html/development/getting-started.rst
  docs/html/development/index.rst
  docs/html/development/issue-triage.rst
  docs/html/index.rst
  docs/html/installing.rst
  docs/html/logic.rst
  docs/html/quickstart.rst
  docs/html/reference/pip.rst
  docs/html/reference/pip_check.rst
  docs/html/reference/pip_config.rst
  docs/html/reference/pip_debug.rst
  docs/html/reference/pip_download.rst
  docs/html/reference/pip_freeze.rst
  docs/html/reference/pip_hash.rst
  docs/html/reference/pip_install.rst
  docs/html/reference/pip_list.rst
  docs/html/reference/pip_search.rst
  docs/html/reference/pip_show.rst
  docs/html/reference/pip_uninstall.rst
  docs/html/reference/pip_wheel.rst
  docs/html/usage.rst
  docs/html/user_guide.rst
  src/pip/_internal/commands/install.py
  src/pip/_internal/utils/wheel.py
  src/pip/_vendor/README.rst
  tests/functional/test_show.py
Labels: trivial, type: docs

#6727 Move ui helpers to cli subpackage
  news/5fc551d8-61a7-4f48-9d90-58909eca5537.trivial
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/progress_bars.py
  src/pip/_internal/cli/spinners.py
  src/pip/_internal/network/download.py
  src/pip/_internal/operations/build/wheel_legacy.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_utils_subprocess.py
Labels: type: refactor

#7774 Move network unit tests to align with subpackage names
  tests/unit/test_network_auth.py
  tests/unit/test_network_cache.py
Labels: trivial, type: refactor

#7771 Do not update `no_clean` option value in install/wheel
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: trivial, type: refactor

#7772 Use Command context helper to cleanup requirement tracker
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: trivial, type: refactor

#7775 Globally manage temp build dir in requirement commands
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: trivial, type: refactor

#7773 Move legacy_resolve to resolution.legacy.resolver
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/resolution/__init__.py
  src/pip/_internal/resolution/legacy/__init__.py
  src/pip/_internal/resolution/legacy/resolver.py
  tests/unit/test_req.py
  tests/unit/test_resolution_legacy_resolver.py
Labels: trivial, type: refactor

#7786 vendoring: move /etc appdir patch to pip wrapper
  src/pip/_internal/utils/appdirs.py
  src/pip/_vendor/appdirs.py
  tools/automation/vendoring/patches/appdirs.patch
Labels: trivial

#7755 Add initial draft for documentation conventions
  docs/html/development/conventions.rst
Labels: trivial, type: docs

#7798 Make tests relying virtualenv semantics pass
  .azure-pipelines/steps/run-tests-windows.yml
  .azure-pipelines/steps/run-tests.yml
Labels: trivial

#7787 utils.appdirs: drop unused user_data_dir function
  src/pip/_internal/utils/appdirs.py
  tests/unit/test_appdirs.py
Labels: trivial, type: refactor

#7720 Updated sphinx to 2.4.0
  tools/requirements/docs.txt
Labels: trivial
