Repository pypa/pip, pull requests merged in 2020-03, with the labels that each got.

#7812 Fix the docstring of preprocess() function
  src/pip/_internal/req/req_file.py
Labels: trivial

#7721 Fix nox -s docs
  noxfile.py
Labels: C: automation, trivial

#7824 Skip svn tests if svnadmin is not available.
  tests/lib/__init__.py
Labels: C: tests, trivial, type: maintenance

#7835 GitHub Actions: update cache key to include interpreter path
  .github/workflows/python-linters.yml
Labels: trivial, type: maintenance

#7837 fix(tests/lib/path): Remove duplicate resolve method
  tests/lib/path.py
Labels: trivial, type: maintenance

#7834 Remove pip._internal.operations.prepare._copy_file
  src/pip/_internal/operations/prepare.py
Labels: trivial, type: refactor

#7840 cli: revert format() related changes
  src/pip/_internal/cli/progress_bars.py
Labels: trivial

#7845 Add --unstable-feature=resolver
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/resolution/base.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/__init__.py
  src/pip/_internal/resolution/resolvelib/resolver.py
Labels: trivial

#7792 Rename pep425tags -> utils.compatibility_tags
  src/pip/_internal/models/target_python.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/utils/compatibility_tags.py
  tests/functional/test_debug.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_models_wheel.py
  tests/unit/test_utils_compatibility_tags.py
Labels: trivial, type: refactor

#7857 Miscellanous Documentation-related changes
  docs/html/development/architecture/package-finding.rst
  noxfile.py
  src/pip/_internal/commands/configuration.py
Labels: trivial, type: docs

#7861 Implement resolver methods on provider interface
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/unit/resolution_resolvelib/test_resolver.py
Labels: trivial

#7767 Added copyright doc
  docs/html/conf.py
  docs/html/copyright.rst
  news/7767.doc
Labels: S: awaiting response, type: docs

#7851 Implement PipProvider
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_install.py
  tests/unit/resolution_resolvelib/conftest.py
  tests/unit/resolution_resolvelib/test_requirement.py
Labels: trivial

#7876 Add some functional tests for the new resolver
  tests/functional/test_new_resolver.py
Labels: C: dependency resolution, trivial

#7791 Move darwin special config dir to pip wrapper
  src/pip/_internal/utils/appdirs.py
  src/pip/_vendor/appdirs.py
  tools/automation/vendoring/patches/appdirs.patch
Labels: trivial

#7881 Add a "What Next" section to the Getting Started Guide
  docs/html/development/getting-started.rst
  news/533EA005-0471-4D5D-A81B-B6904A844EEE.trivial
Labels: trivial

#7878 Rephrases documentation
  docs/html/development/getting-started.rst
Labels: trivial, type: docs

#7888 Implement ignore_dependencies in new resolver
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
  tests/unit/resolution_resolvelib/conftest.py
Labels: trivial

#7897 New resolver extras implementation
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
Labels: trivial

#7905 Use set operations in tests for readability
  tests/functional/test_new_resolver.py
Labels: trivial

#7907 Initial refactoring to decouple candidate and requirement modules
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/unit/resolution_resolvelib/conftest.py
  tests/unit/resolution_resolvelib/test_requirement.py
Labels: trivial

#7858 Architecture Documentation: Configuration deep dive
  docs/html/development/architecture/configuration-files.rst
  docs/html/development/architecture/index.rst
  docs/html/user_guide.rst
Labels: C: configuration, trivial, type: docs

#7916 add simple yaml test
  tests/yaml/install/simple.yml
Labels: trivial

#7928 Fix rst syntax in Getting Started guide
  docs/html/development/getting-started.rst
Labels: trivial

#7941 Remove test bugfix
  news/7924.bugfix
Labels: trivial

#7943 remove proxy module tests/lib/scripttest.py in favour of importing fr…
  tests/conftest.py
  tests/lib/scripttest.py
Labels: trivial

#7801 Move wheel cache out of InstallRequirement
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/unit/resolution_resolvelib/test_resolver.py
  tests/unit/test_req.py
Labels: trivial

#7945 Rename unit tests to use the new_resolver scheme
  tests/unit/resolution_resolvelib/test_requirement.py
  tests/unit/resolution_resolvelib/test_resolver.py
Labels: trivial

#7950 combine yaml test functionality into single module
  tests/functional/test_yaml.py
  tests/lib/yaml_helpers.py
Labels: C: tests, trivial, type: maintenance
