Repository pypa/pip, pull requests merged in 2020-06, with the labels that each got.

#8388 Raise proper exceptions on metadata mismatch
  src/pip/_internal/exceptions.py
  src/pip/_internal/resolution/resolvelib/candidates.py
Labels: C: new resolver, trivial

#8390 Test new resolver different behaviour for test_install_editable_with_wrong_egg_name
  tests/functional/test_install.py
Labels: trivial

#7388 Restrict dynamic attribute creation with slots
  src/pip/_internal/models/candidate.py
  src/pip/_internal/models/format_control.py
  src/pip/_internal/models/index.py
  src/pip/_internal/models/link.py
  src/pip/_internal/models/scheme.py
  src/pip/_internal/models/search_scope.py
  src/pip/_internal/models/selection_prefs.py
  src/pip/_internal/models/target_python.py
  src/pip/_internal/utils/models.py
Labels: trivial

#8374 Correctly apply marker matching logic to all requirements
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_install_reqs.py
Labels: C: new resolver, trivial

#8378 Fix direct URL by always passing the template’s URL values into candidate
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_install_direct_url.py
Labels: C: new resolver, trivial

#8321 Remove new resolver marker from tests that should pass
  tests/functional/test_install.py
  tests/functional/test_install_extras.py
  tests/functional/test_install_reqs.py
Labels: C: new resolver, trivial

#8283 Pre-existing build directory fix
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_new_resolver.py
  tests/functional/test_wheel.py
  tests/unit/test_req_install.py
Labels: trivial

#8397 New resolver fix candidate ordering
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver, trivial

#8382 Convert test_install_with_extras_from_install to not use URL constraint
  tests/functional/test_install_reqs.py
Labels: trivial

#8428 Modify tests to check unsupported forms of constraint
  tests/functional/test_install_reqs.py
Labels: trivial

#8349 Make sure the explicit URL points a valid wheel
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/functional/test_install_reqs.py
Labels: C: new resolver, trivial

#8340 New resolver yanked warning
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_install.py
Labels: C: new resolver, trivial

#8394 Improve the message for "Resolution Conflict" errors
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
Labels: trivial, type: enhancement

#8464 Fix a merge issue that didn't get caught by Brown Truck
  src/pip/_internal/resolution/resolvelib/candidates.py
Labels: trivial

#8466 Some tests need to monkeypatch the new resolver internals
  tests/functional/test_install_user.py
  tests/functional/test_uninstall_user.py
Labels: trivial

#8468 Test message check fixes
  tests/functional/test_install.py
  tests/functional/test_install_upgrade.py
Labels: trivial

#8481 Expect deprecation warning for build_dir in tests
  tests/functional/test_install_cleanup.py
  tests/functional/test_wheel.py
Labels: C: tests, trivial

#8482 Mark new resolver test failure on extra union
  tests/functional/test_install_reqs.py
Labels: C: new resolver, trivial

#8440 Add YAML tests for conflicts during dependency resolution
  tests/functional/test_yaml.py
  tests/yaml/ERRORS.md
  tests/yaml/README.md
  tests/yaml/circular.yml
  tests/yaml/conflict_1.yml
  tests/yaml/conflict_2.yml
  tests/yaml/conflict_3.yml
  tests/yaml/conflicting_diamond.yml
  tests/yaml/conflicting_triangle.yml
  tests/yaml/fallback.yml
  tests/yaml/huge.yml
  tests/yaml/large.yml
  tests/yaml/linter.py
Labels: C: tests, trivial

#8445 Set the requirement context on hash error
  src/pip/_internal/resolution/resolvelib/candidates.py
Labels: C: new resolver, trivial

#8496 Fix YAML tests to reflect the new resolver error
  tests/yaml/conflict_1.yml
  tests/yaml/conflict_2.yml
  tests/yaml/conflicting_diamond.yml
  tests/yaml/large.yml
Labels: C: new resolver, trivial

#8462 Test is checking the old resolver's broken behaviour
  src/pip/_internal/commands/install.py
  tests/functional/test_install.py
Labels: trivial

#8320 Add utilities for parallelization
  news/f91d42b8-8277-4918-94eb-031bc7be1c3f.trivial
  src/pip/_internal/utils/parallel.py
  tests/unit/test_utils_parallel.py
Labels: type: feature request

#8332 Add license requirement to _vendor/README.rst
  news/06a405e7-85cf-4027-b815-08aef54a600b.trivial
  src/pip/_vendor/README.rst
Labels: P: vendored dependency, type: maintenance

#8411 Refactor operations.prepare.prepare_linked_requirement
  news/0cfeb941-3e4e-4b33-bd43-8c47f67ea229.trivial
  src/pip/_internal/operations/prepare.py
Labels: type: refactor

#8343 Ensure entry points are read as UTF-8
  NEWS.rst
  news/8342.bugfix
  src/pip/_internal/operations/install/wheel.py
  tests/functional/test_install_wheel.py
  tests/unit/test_wheel.py
Labels: C: encoding, type: bugfix
