Repository pypa/pip, pull requests merged in 2020-10, with the labels that each got.

#8910 Include http subdirectory in 'pip cache info' and 'pip cache purge'
  news/8892.feature
  src/pip/_internal/commands/cache.py
  tests/functional/test_cache.py
Labels: C: cache, type: enhancement

#8843 New resolver: Avoid polluting dest dir
  news/8827.bugfix.rst
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  tests/unit/test_req.py
Labels: !release blocker

#8919 Revert "Merge pull request #8391 from VikramJayanthi17/error-swallow-…
  src/pip/_vendor/__init__.py
Labels: trivial

#8990 Release 20.2.4
  NEWS.rst
  news/8023.feature.rst
  news/8758.bugfix.rst
Labels: trivial, type: maintenance

#9008 Switch to sphinx-inline-tabs for tabs
  docs/html/conf.py
  docs/html/development/getting-started.rst
  docs/html/installing.rst
  docs/html/quickstart.rst
  docs/html/reference/pip.rst
  docs/html/reference/pip_cache.rst
  docs/html/reference/pip_check.rst
  docs/html/reference/pip_config.rst
  docs/html/reference/pip_debug.rst
  docs/html/reference/pip_download.rst
  docs/html/reference/pip_freeze.rst
  docs/html/reference/pip_hash.rst
  docs/html/reference/pip_install.rst
  docs/html/reference/pip_list.rst
  docs/html/reference/pip_search.rst
  docs/html/reference/pip_show.rst
  docs/html/reference/pip_uninstall.rst
  docs/html/reference/pip_wheel.rst
  docs/html/user_guide.rst
  tools/requirements/docs.txt
Labels: trivial, type: docs

#9051 Workaround CI failures due to "pip search" throttling
  .azure-pipelines/linux.yml
  .azure-pipelines/macos.yml
  .azure-pipelines/windows.yml
  tests/conftest.py
  tests/functional/test_build_env.py
Labels: C: automation, C: tests, trivial

#9014 Update docs for less common news extension
  docs/html/development/contributing.rst
  news/e1831861-84a4-4f9b-9987-762e127cb42b.trivial.rst
Labels: trivial, type: docs

#8972 Fix docs for trusted-host in config file
  docs/html/user_guide.rst
Labels: trivial

#9057 CI: Move MacOS tests to GitHub Actions
  .azure-pipelines/macos.yml
  .github/workflows/linting.yml
  .github/workflows/macos.yml
Labels: C: automation, trivial

#9055 Change assertion in topological sorting
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/unit/resolution_resolvelib/test_resolver.py
Labels: K: workaround, trivial, type: bugfix

#8991 delete some dead test code (VERBOSE_FALSE)
  tests/functional/test_search.py
  tests/unit/test_vcs.py
Labels: trivial

#9049 Remove --build-dir option, as per deprecation
  news/9049.feature.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/temp_dir.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_wheel.py
Labels: type: deprecation

#8666 Only do the ensure_text() dance on Windows
  news/8658.bugfix.rst
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/temp_dir.py
Labels: type: bugfix

#8820 Support multiple `abi` and `platform` values for `pip download`.
  docs/html/reference/pip_download.rst
  news/6121.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/models/target_python.py
  src/pip/_internal/utils/compatibility_tags.py
  tests/functional/test_download.py
  tests/unit/test_models_wheel.py
  tests/unit/test_target_python.py
  tests/unit/test_utils_compatibility_tags.py
Labels: type: feature request

#9017 Log an informational message when backtracking takes multiple rounds on a specific package
  news/8975.feature.rst
  src/pip/_internal/resolution/resolvelib/reporter.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver

#9064 Fix trivial news file generation on windows
  docs/html/development/contributing.rst
Labels: trivial, type: docs

#9065 Add a debugging reporter for pip's resolver
  src/pip/_internal/resolution/resolvelib/reporter.py
  src/pip/_internal/resolution/resolvelib/resolver.py
Labels: trivial

#9015 Test against Python 3.9 on Travis CI
  .travis.yml
  news/5661d979-1abd-4c9a-a7bf-45701b33dd6c.trivial.rst
Labels: trivial

#9019 Flip the switch on new resolver
  .travis.yml
  news/9019.feature.rst
  setup.cfg
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/install.py
  tests/conftest.py
  tests/functional/test_install.py
  tests/functional/test_install_config.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_upgrade.py
  tests/functional/test_new_resolver.py
  tests/functional/test_new_resolver_errors.py
  tests/functional/test_new_resolver_hashes.py
  tests/functional/test_new_resolver_target.py
  tests/functional/test_new_resolver_user.py
  tests/functional/test_wheel.py
  tests/functional/test_yaml.py
  tests/lib/server.py
  tests/yaml/backtrack.yml
  tests/yaml/conflict_1.yml
  tests/yaml/conflict_2.yml
  tests/yaml/conflict_3.yml
  tests/yaml/conflicting_diamond.yml
  tests/yaml/conflicting_triangle.yml
  tests/yaml/extras.yml
  tests/yaml/fallback.yml
  tests/yaml/large.yml
  tests/yaml/overlap1.yml
  tests/yaml/pip988.yml
  tests/yaml/poetry2298.yml
Labels: !release blocker, trivial

#9076 resolver: stabilize output for tests (& users)
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: trivial

#9075 Change where the 2020 resolver warning is logged
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/req_command.py
Labels: trivial

#9078 Cache find best candidate
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/utils/hashes.py
  tests/unit/test_utils.py
Labels: trivial
