Repository pypa/pip, pull requests merged in 2020-09, with the labels that each got.

#8758 Include Requires-Python dep even with --no-deps
  news/8758.bugfix
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver

#8853 Release 20.2.3
  NEWS.rst
Labels: trivial

#8830 Replace custom URL parsing with url_to_path()
  src/pip/_internal/req/req_file.py
Labels: trivial

#8780 Update Caching documentation
  docs/html/reference/pip_install.rst
  news/5e8c60c2-d540-4a25-af03-100d848acbc0.trivial
Labels: type: docs

#8722 Dedent late download logs
  news/4c82ffb4-cde3-4dd5-8f37-6f4ef53e028b.trivial
  src/pip/_internal/operations/prepare.py
Labels: type: enhancement

#8474 List full path of wheel files in cache
  news/8355.feature
  src/pip/_internal/commands/cache.py
  tests/functional/test_cache.py
Labels: C: cache, type: enhancement

#8839 Pick up hashes from contraints files and intersect
  news/8792.bugfix
  news/8839.bugfix
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  src/pip/_internal/utils/hashes.py
  tests/functional/test_new_resolver_hashes.py
  tests/unit/resolution_resolvelib/test_requirement.py
Labels: C: new resolver, type: bugfix

#8861 Nicer Resolver output -- Try 1
  news/8861.bugfix
  src/pip/_internal/operations/prepare.py
Labels: type: enhancement

#8873 Document fast-track deprecation policy
  docs/html/development/release-process.rst
  news/8417.removal
Labels: type: deprecation, type: docs

#8899 End no-color's description with period punctuation
  src/pip/_internal/cli/cmdoptions.py
Labels: trivial

#8901 Tweak message when -r is not passed on a requirements.txt
  src/pip/_internal/req/constructors.py
  tests/unit/test_req.py
Labels: trivial

#7859 Architecture Documentation: CLI deep dive
  docs/html/development/architecture/command-line-interface.rst
  docs/html/development/architecture/index.rst
Labels: C: cli, trivial, type: docs

#8906 Prepare other linters for black
  setup.cfg
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/main_parser.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/models/target_python.py
  src/pip/_internal/network/download.py
  src/pip/_internal/network/lazy_wheel.py
  src/pip/_internal/network/session.py
  src/pip/_internal/operations/build/wheel_legacy.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/self_outdated_check.py
  src/pip/_internal/utils/hashes.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/functional/test_configuration.py
  tests/functional/test_new_resolver_hashes.py
  tests/functional/test_search.py
  tests/functional/test_uninstall.py
  tests/unit/resolution_resolvelib/conftest.py
  tests/unit/test_finder.py
  tests/unit/test_operations_prepare.py
  tests/unit/test_req_file.py
  tests/unit/test_resolution_legacy_resolver.py
  tests/unit/test_utils.py
  tests/unit/test_utils_unpacking.py
  tests/unit/test_wheel.py
Labels: trivial, type: maintenance

#8908 Add black to our pre-commit configuration, but don't use it!
  .pre-commit-config.yaml
Labels: trivial, type: maintenance

#8914 Flake8: use extend-ignore to avoid redefining defaults
  setup.cfg
Labels: trivial

#8907 Remove unnecessary config for isort 5
  setup.cfg
Labels: trivial, type: maintenance

#8909 Remove news entries for released changes
  news/8090.bugfix
  news/8695.bugfix
  news/8701.bugfix
  news/8716.bugfix
  news/8717.bugfix
  news/8724.bugfix
Labels: trivial

#8904 Update the LICENSE
  LICENSE.txt
Labels: trivial

#8589 Add sphinx-tabs + use it for OS-specific "py[thon] -m pip"
  docs/html/conf.py
  docs/html/development/getting-started.rst
  docs/html/installing.rst
  docs/html/quickstart.rst
  docs/html/reference/pip.rst
  docs/html/reference/pip_cache.rst
  docs/html/reference/pip_check.rst
  docs/html/reference/pip_config.rst
  docs/html/reference/pip_debug.rst
  docs/html/reference/pip_download.rst
  docs/html/reference/pip_freeze.rst
  docs/html/reference/pip_hash.rst
  docs/html/reference/pip_install.rst
  docs/html/reference/pip_list.rst
  docs/html/reference/pip_search.rst
  docs/html/reference/pip_show.rst
  docs/html/reference/pip_uninstall.rst
  docs/html/reference/pip_wheel.rst
  docs/html/user_guide.rst
  docs/pip_sphinxext.py
  news/7311.doc
  tools/requirements/docs.txt
Labels: type: docs, type: enhancement

#8912 Cache found candidates
  news/8905.feature
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/utils/compat.py
Labels: C: finder, C: new resolver

#8928 Pin pytest whilst pytest-rerunfailures is incompatible with pytest 6.1
  tools/requirements/tests.txt
Labels: trivial

#8926 Don't crash on 'check' when METADATA is missing
  news/8676.feature
  src/pip/_internal/operations/check.py
Labels: type: bugfix

#8927 Document Python support policy
  docs/html/development/release-process.rst
  news/8927.removal
Labels: type: deprecation, type: docs

#8935 Revert "Pin pytest whilst pytest-rerunfailures is incompatible with pytest 6.1"
  tools/requirements/tests.txt
Labels: trivial
