Repository pypa/pip, pull requests merged in 2020-08, with the labels that each got.

#8665 Improve SVN version parser
  news/8665.bugfix
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: type: bugfix

#8659 Canonicalize name in check_if_exists
  news/8645.bugfix
  src/pip/_internal/req/req_install.py
  tests/functional/test_install_upgrade.py
Labels: type: bugfix

#8656 Trace a better error message on installation failure due to invalid .data files in wheels
  news/8654.bugfix
  src/pip/_internal/operations/install/wheel.py
  tests/functional/test_install_wheel.py
Labels: type: bugfix

#8678 New resolver no deps extras install self
  news/8677.bugfix
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/yaml/extras.yml
Labels: C: new resolver, type: bugfix

#8679 Tweak resolutionimpossible message
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: trivial

#8672 Fix typo in URL
  docs/html/user_guide.rst
  news/AE707F60-0ABE-4DBA-98AA-59CE8F989386.trivial
Labels: type: docs

#8690 Tweak changelog entries about new resolver
  NEWS.rst
Labels: trivial

#8685 Move fast-dep handling to RequirementPreparer
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/unit/test_req.py
Labels: trivial

#8693 Remove news/ files for 20.2.1
  news/094ae133-3a6d-4a6c-a4c3-fe8d78223498.trivial
  news/2581396b-ebe4-46a9-b38f-e6b0da97d53a.trivial
  news/8371.doc
  news/8603.feature
  news/8645.bugfix
  news/8654.bugfix
  news/8660.doc
  news/8665.bugfix
  news/8677.bugfix
  news/8684.bugfix
  news/AE707F60-0ABE-4DBA-98AA-59CE8F989386.trivial
  news/b7b40802-1aae-4295-99f4-a0dd48c96e69.trivial
Labels: trivial

#8651 Update Code of Conduct references
  .github/ISSUE_TEMPLATE/config.yml
  README.rst
  docs/html/index.rst
Labels: trivial

#8727 New resolver constraint markers
  news/8724.bugfix
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
Labels: type: bugfix

#8718 Always use UTF-8 to read pyvenv.cfg
  news/8717.bugfix
  src/pip/_internal/utils/virtualenv.py
Labels: type: bugfix

#8702 Search all distributions when trying to find a match in get_distribution()
  news/8695.bugfix
  src/pip/_internal/commands/search.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_utils.py
Labels: type: bugfix

#8781 restore a broken slug anchor in user guide
  docs/html/user_guide.rst
  news/8781.trivial
Labels: type: docs
