Repository pypa/pip, pull requests merged in 2021-10, with the labels that each got.

#10495 Make in-tree-build the default
  docs/html/cli/pip_install.rst
  news/10495.removal.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/operations/prepare.py
  tests/functional/test_cli.py
  tests/functional/test_install.py
  tests/functional/test_uninstall.py
Labels: type: deprecation, C: build logic

#10202 Switch from appdirs to platformdirs
  news/10202.feature.rst
  news/pkg_resources.vendor.rst
  news/platformdirs.vendor.rst
  pyproject.toml
  src/pip/_internal/utils/appdirs.py
  src/pip/_vendor/README.rst
  src/pip/_vendor/__init__.py
  src/pip/_vendor/appdirs.py
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/platformdirs/LICENSE.txt
  src/pip/_vendor/platformdirs/__init__.py
  src/pip/_vendor/platformdirs/__main__.py
  src/pip/_vendor/platformdirs/android.py
  src/pip/_vendor/platformdirs/api.py
  src/pip/_vendor/platformdirs/macos.py
  src/pip/_vendor/platformdirs/py.typed
  src/pip/_vendor/platformdirs/unix.py
  src/pip/_vendor/platformdirs/version.py
  src/pip/_vendor/platformdirs/windows.py
  src/pip/_vendor/vendor.txt
  tests/unit/test_appdirs.py
  tools/vendoring/patches/appdirs.patch
  tools/vendoring/patches/pkg_resources.patch
  tools/vendoring/patches/platformdirs.patch
Labels: type: enhancement, P: vendored dependency

#10532 Fix a failing test
  tests/functional/test_pep660.py
Labels: trivial

#10516 Add link to the appropriate documentation in pip backtracking output
  src/pip/_internal/resolution/resolvelib/reporter.py
Labels: trivial

#10485 Drop --build-dir from the CLI
  news/10485.removal.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  tests/functional/test_wheel.py
Labels: !release blocker

#10539 Update vendored packages
  news/appdirs.vendor.rst
  news/c8285e11-5b65-498c-9eaa-85ca096243f9.vendor.rst
  news/distlib.vendor.rst
  news/distro.vendor.rst
  news/ecb79d5a-46b6-4e7b-8ee8-561c9aac697b.vendor.rst
  news/platformdirs.vendor.rst
  news/progress.vendor.rst
  news/urllib3.vendor.rst
  src/pip/_vendor/platformdirs/__init__.py
  src/pip/_vendor/platformdirs/__main__.py
  src/pip/_vendor/platformdirs/android.py
  src/pip/_vendor/platformdirs/api.py
  src/pip/_vendor/platformdirs/macos.py
  src/pip/_vendor/platformdirs/unix.py
  src/pip/_vendor/platformdirs/version.py
  src/pip/_vendor/platformdirs/windows.py
  src/pip/_vendor/progress/LICENSE
  src/pip/_vendor/progress/__init__.py
  src/pip/_vendor/progress/bar.py
  src/pip/_vendor/progress/colors.py
  src/pip/_vendor/progress/counter.py
  src/pip/_vendor/progress/spinner.py
  src/pip/_vendor/urllib3/_version.py
  src/pip/_vendor/urllib3/connection.py
  src/pip/_vendor/urllib3/connectionpool.py
  src/pip/_vendor/urllib3/contrib/_securetransport/low_level.py
  src/pip/_vendor/urllib3/util/proxy.py
  src/pip/_vendor/vendor.txt
  tests/unit/test_appdirs.py
Labels: !release blocker
