Repository pypa/pip, pull requests merged in 2021-03, with the labels that each got.

#9394 Add a warning when run as root (e.g., sudo pip)
  news/6409.bugfix.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/uninstall.py
Labels: S: needs discussion, type: enhancement

#9693 Prepare for documentation rewrite
  .pre-commit-config.yaml
  MANIFEST.in
  docs/docs_feedback_sphinxext.py
  docs/html/conf.py
  docs/pip_sphinxext.py
  noxfile.py
  tools/requirements/docs.txt
Labels: trivial, type: docs, type: maintenance

#9552 Fix error reporting on Requires-Python conflicts
  news/9541.bugfix.rst
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/functional/test_new_resolver_errors.py
Labels: C: new resolver, type: bugfix

#9676 Parse pkg_resources Dist versions with packaging.version
  news/9e768673-6079-491e-bbe0-d1593952f1c7.trivial.rst
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/resolver.py
Labels: trivial

#9700 Set Mypy follow_imports = silent and fix (some) typing issues found
  setup.cfg
  src/pip/_internal/commands/debug.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/models/candidate.py
  src/pip/_internal/network/session.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_set.py
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  src/pip/_internal/wheel_builder.py
Labels: trivial

#9717 Rewrite our documentation landing page
  docs/html/index.md
  docs/html/index.rst
Labels: trivial, type: docs

#9720 Drop the SCHEMES['nt_user']['scripts'] shim
  src/pip/_internal/locations/_sysconfig.py
Labels: trivial

#9672 Complete typing of docs directory
  .pre-commit-config.yaml
  docs/html/conf.py
  docs/pip_sphinxext.py
Labels: trivial

#9743 Tweak some references in the documentation
  .github/ISSUE_TEMPLATE/resolver-failure.md
  docs/html/copyright.rst
  docs/html/development/architecture/anatomy.rst
  docs/html/development/contributing.rst
  docs/html/development/issue-triage.rst
  docs/html/development/release-process.rst
  docs/html/reference/pip_install.rst
  docs/html/user_guide.rst
Labels: trivial, type: docs

#9740 Drop pytest-timeout
  tests/functional/test_install.py
  tools/requirements/tests.txt
  tox.ini
Labels: C: tests, trivial, type: maintenance

#9739 Drop YAML tests for the resolver
  .pre-commit-config.yaml
  docs/html/development/architecture/anatomy.rst
  setup.cfg
  tests/functional/test_yaml.py
  tests/yaml/ERRORS.md
  tests/yaml/README.md
  tests/yaml/backtrack.yml
  tests/yaml/circular.yml
  tests/yaml/conflict_1.yml
  tests/yaml/conflict_2.yml
  tests/yaml/conflict_3.yml
  tests/yaml/conflicting_diamond.yml
  tests/yaml/conflicting_triangle.yml
  tests/yaml/extras.yml
  tests/yaml/fallback.yml
  tests/yaml/huge.yml
  tests/yaml/large.yml
  tests/yaml/linter.py
  tests/yaml/non_pinned.yml
  tests/yaml/overlap1.yml
  tests/yaml/pinned.yml
  tests/yaml/pip988.yml
  tests/yaml/poetry2298.yml
  tests/yaml/simple.yml
  tests/yaml/trivial.yml
  tools/requirements/tests.txt
Labels: C: tests, trivial

#9594 Use f-strings for formatting
  src/pip/_internal/network/utils.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/wheel_builder.py
Labels: trivial
