Repository pypa/pip, pull requests merged in 2021-11, with the labels that each got.

#10449 Update Development Getting Started guide to reflect reality
  docs/html/development/getting-started.rst
Labels: type: docs, trivial

#10653 CI updates
  .github/workflows/ci.yml
  docs/html/development/ci.rst
Labels: trivial

#10511 More pkg_resources refactoring
  src/pip/_internal/commands/show.py
  src/pip/_internal/distributions/installed.py
  src/pip/_internal/distributions/sdist.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/locations/__init__.py
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_uninstall.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_uninstall.py
  tests/unit/test_appdirs.py
  tests/unit/test_finder.py
  tests/unit/test_locations.py
  tests/unit/test_req.py
  tests/unit/test_req_uninstall.py
Labels: trivial

#10673 Fix renamed author
  .mailmap
  AUTHORS.txt
Labels: trivial

#10687 Fix a typo related to pygments vendoring
  pyproject.toml
  src/pip/_vendor/pygments/lexers/_mapping.py
Labels: trivial, P: vendored dependency
