Repository pypa/pip, pull requests merged in 2021-09, with the labels that each got.

#10406 Tweaks issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/~good-first-issue.md
  .github/ISSUE_TEMPLATE/~good-first-issue.yml
Labels: trivial

#10424 CI: Only label merge conflicts on upstream
  .github/workflows/label-merge-conflicts.yml
Labels: trivial

#10425 Simplify `_is_broken_pipe_error` definition
  src/pip/_internal/utils/logging.py
Labels: trivial

#10409 Add a detection for Red Hat's variable replacement
  src/pip/_internal/locations/__init__.py
Labels: trivial

#10466 Bump to vendoring 1.0.x
  noxfile.py
  src/pip/_vendor/idna.pyi
  src/pip/_vendor/packaging.pyi
  src/pip/_vendor/resolvelib.pyi
  src/pip/_vendor/tenacity.pyi
  src/pip/_vendor/tomli.pyi
  src/pip/_vendor/urllib3/contrib/pyopenssl.py
  src/pip/_vendor/urllib3/contrib/securetransport.py
  tools/vendoring/patches/requests.patch
  tools/vendoring/patches/urllib3.patch
  tox.ini
Labels: trivial

#10450 Add a dedicated page for "Requirements File Format"
  docs/html/cli/pip_install.rst
  docs/html/index.md
  docs/html/reference/index.md
  docs/html/reference/index.rst
  docs/html/reference/requirements-file-format.md
Labels: type: docs, trivial

#10483 Fix broken references in documentation
  .github/workflows/ci.yml
  docs/html/reference/requirements-file-format.md
  docs/html/user_guide.rst
Labels: type: docs, trivial

#10490 Remove the old markdown issue template
  .github/ISSUE_TEMPLATE.md
Labels: trivial

#10288 fix auth cache to allow for username in index url
  news/10269.bugfix.rst
  src/pip/_internal/network/auth.py
  tests/unit/test_network_auth.py
Labels: S: awaiting response

#10498 Replace the lock bot with a GHA workflow
  .github/lock.yml
  .github/workflows/lock-threads.yml
Labels: trivial, type: maintenance

#10523 Remove unnecessary newsfile
  news/10504.bugfix.rst
Labels: trivial

#10520 Change the development docs to suggest .venv instead of venv
  docs/html/development/getting-started.rst
Labels: type: docs, trivial

#10515 Add maintainers-only link to file blank issues, to "New Issue" selector
  .github/ISSUE_TEMPLATE/config.yml
Labels: trivial

#10497 Add a dedicated "Build system interface" reference section
  docs/html/cli/pip.rst
  docs/html/cli/pip_install.rst
  docs/html/cli/pip_wheel.rst
  docs/html/reference/build-system/index.md
  docs/html/reference/build-system/pyproject-toml.md
  docs/html/reference/build-system/setup-py.md
  docs/html/reference/index.md
  docs/html/topics/caching.md
  docs/html/topics/repeatable-installs.md
  news/10497.doc.rst
Labels: type: docs

#10526 Force strict xfail on pytest, and update/remove tests accordingly
  setup.cfg
  tests/functional/test_install_extras.py
  tests/functional/test_install_reqs.py
  tests/functional/test_wheel.py
  tests/unit/test_models_wheel.py
Labels: trivial
