Repository pypa/pip, pull requests merged in 2021-04, with the labels that each got.

#9754 Tweak issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/resolver-failure.md
Labels: trivial, type: maintenance

#9757 Blacken __main__.py
  .pre-commit-config.yaml
  src/pip/__main__.py
Labels: trivial, type: maintenance

#9756 Get rid of the tools/automation folder
  .gitattributes
  noxfile.py
  pyproject.toml
  tools/news/template.rst
  tools/release/__init__.py
  tools/release/check_version.py
  tools/vendoring/patches/appdirs.patch
  tools/vendoring/patches/certifi.patch
  tools/vendoring/patches/requests.patch
Labels: trivial, type: maintenance

#9755 Update our setup.py file
  .pre-commit-config.yaml
  setup.py
Labels: trivial

#9745 [pyupgrade] Use f-strings for formatting
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/utils/compat.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_internal/utils/wheel.py
  tests/functional/test_install_config.py
Labels: trivial

#9759 Rework our CI pipeline, to be purely GitHub Actions based
  .azure-pipelines/jobs/package.yml
  .azure-pipelines/jobs/test-windows.yml
  .azure-pipelines/jobs/test.yml
  .azure-pipelines/linux.yml
  .azure-pipelines/steps/run-tests-windows.yml
  .azure-pipelines/steps/run-tests.yml
  .azure-pipelines/windows.yml
  .github/workflows/ci.yml
  .github/workflows/linting.yml
  .github/workflows/macos.yml
  .travis.yml
  docs/html/development/ci.rst
  tools/ci/New-RAMDisk.ps1
  tools/requirements/tests.txt
  tools/travis/install.sh
  tools/travis/run.sh
  tools/travis/setup.sh
Labels: trivial

#9763 Blacken conftest.py
  .pre-commit-config.yaml
  tests/conftest.py
Labels: trivial

#9718 Rename {Reference Guide -> Commands} and group the toctree for it
  docs/html/cli/index.md
  docs/html/cli/pip.rst
  docs/html/cli/pip_cache.rst
  docs/html/cli/pip_check.rst
  docs/html/cli/pip_config.rst
  docs/html/cli/pip_debug.rst
  docs/html/cli/pip_download.rst
  docs/html/cli/pip_freeze.rst
  docs/html/cli/pip_hash.rst
  docs/html/cli/pip_install.rst
  docs/html/cli/pip_list.rst
  docs/html/cli/pip_search.rst
  docs/html/cli/pip_show.rst
  docs/html/cli/pip_uninstall.rst
  docs/html/cli/pip_wheel.rst
  docs/html/index.md
  docs/html/reference/index.rst
  docs/html/reference/pip.rst
  docs/html/reference/pip_cache.rst
  docs/html/reference/pip_check.rst
  docs/html/reference/pip_config.rst
  docs/html/reference/pip_debug.rst
  docs/html/reference/pip_download.rst
  docs/html/reference/pip_freeze.rst
  docs/html/reference/pip_hash.rst
  docs/html/reference/pip_install.rst
  docs/html/reference/pip_list.rst
  docs/html/reference/pip_search.rst
  docs/html/reference/pip_show.rst
  docs/html/reference/pip_uninstall.rst
  docs/html/reference/pip_wheel.rst
Labels: trivial, type: docs

#9762 Blacken tests/lib
  .pre-commit-config.yaml
  tests/lib/__init__.py
  tests/lib/certs.py
  tests/lib/configuration_helpers.py
  tests/lib/filesystem.py
  tests/lib/git_submodule_helpers.py
  tests/lib/index.py
  tests/lib/local_repos.py
  tests/lib/options_helpers.py
  tests/lib/path.py
  tests/lib/requests_mocks.py
  tests/lib/server.py
  tests/lib/test_lib.py
  tests/lib/test_wheel.py
  tests/lib/venv.py
  tests/lib/wheel.py
Labels: trivial

#9476 Custom RST directive to generate stable version ID
  docs/html/news.rst
  docs/pip_sphinxext.py
Labels: trivial

#9575 Make wheel compatibility tag preferences more important than the build tag
  news/9565.bugfix.rst
  src/pip/_internal/index/package_finder.py
  tests/unit/test_finder.py
Labels: S: awaiting response

#9570 update setuptools extras URL
  docs/html/cli/pip_install.rst
  news/4822829F-6A45-4202-87BA-A80482DF6D4E.doc.rst
Labels: type: docs

#9647 Add a warning about "dependency confusion" vulnerability
  docs/html/cli/pip_install.rst
  docs/html/user_guide.rst
  news/9647.doc.rst
Labels: type: docs

#9699 Pull in typing information from ResolveLib
  news/resolvelib.vendor.rst
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  src/pip/_vendor/resolvelib.pyi
  src/pip/_vendor/resolvelib/__init__.py
  src/pip/_vendor/resolvelib/__init__.pyi
  src/pip/_vendor/resolvelib/providers.py
  src/pip/_vendor/resolvelib/providers.pyi
  src/pip/_vendor/resolvelib/py.typed
  src/pip/_vendor/resolvelib/reporters.pyi
  src/pip/_vendor/resolvelib/resolvers.py
  src/pip/_vendor/resolvelib/resolvers.pyi
  src/pip/_vendor/resolvelib/structs.pyi
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency, type: maintenance

#9692 docs: Describe --upgrade-strategy and direct requirements explicitly
  docs/html/cli/pip_install.rst
  docs/html/development/architecture/upgrade-options.rst
  docs/html/user_guide.rst
  news/9692.doc.rst
Labels: type: docs, type: enhancement

#9770 Typo
  news/4822829F-6A45-4202-87BA-A80482DF6D4E.doc.rst
Labels: trivial

#9713 Remove now unused VCS export code
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/functional/test_vcs_bazaar.py
  tests/unit/test_vcs.py
Labels: trivial

#9599 switch from 'retrying' to 'tenacity'
  news/tenacity.vendor.rst
  pyproject.toml
  src/pip/_internal/utils/filesystem.py
  src/pip/_internal/utils/misc.py
  src/pip/_vendor/__init__.py
  src/pip/_vendor/retrying.py
  src/pip/_vendor/retrying.pyi
  src/pip/_vendor/tenacity.pyi
  src/pip/_vendor/tenacity/LICENSE
  src/pip/_vendor/tenacity/__init__.py
  src/pip/_vendor/tenacity/_asyncio.py
  src/pip/_vendor/tenacity/_utils.py
  src/pip/_vendor/tenacity/after.py
  src/pip/_vendor/tenacity/before.py
  src/pip/_vendor/tenacity/before_sleep.py
  src/pip/_vendor/tenacity/compat.py
  src/pip/_vendor/tenacity/nap.py
  src/pip/_vendor/tenacity/py.typed
  src/pip/_vendor/tenacity/retry.py
  src/pip/_vendor/tenacity/stop.py
  src/pip/_vendor/tenacity/tornadoweb.py
  src/pip/_vendor/tenacity/wait.py
  src/pip/_vendor/vendor.txt
Labels: needs rebase or merge

#9772 Run lint on code base
  docs/pip_sphinxext.py
  news/4822829F-6A45-4202-87BA-A80482DF6D4E.doc.rst
Labels: trivial

#9773 ci: fix pre-commit action
  .github/workflows/ci.yml
  docs/pip_sphinxext.py
  news/9748.feature.rst
  src/pip/_internal/models/wheel.py
Labels: trivial

#9777 Don't use virtualenv internals in tests
  tests/lib/venv.py
Labels: trivial

#9783 Postpone --build-dir removal
  src/pip/_internal/cli/base_command.py
Labels: trivial

#9776 Refactoring of --build-option and --global-option declaration in wheel command
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/wheel.py
Labels: trivial

#9786 Pin towncrier under 19.9.0
  tools/requirements/docs.txt
Labels: trivial

#9788 Run CI on main not master
  .github/workflows/ci.yml
Labels: trivial

#9800 Bump ReadTheDocs Python version to 3.8
  .readthedocs.yml
Labels: trivial, type: docs

#9801 Remove third backtick from inline code block.
  docs/html/user_guide.rst
Labels: trivial

#9729 Rewrite collect_links
  docs/html/development/architecture/package-finding.rst
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/index/sources.py
  tests/unit/test_collector.py
Labels: trivial

#9802 Update vendored resolvelib to 0.7.0
  news/resolvelib.vendor.rst
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_vendor/resolvelib/__init__.py
  src/pip/_vendor/resolvelib/providers.py
  src/pip/_vendor/resolvelib/providers.pyi
  src/pip/_vendor/resolvelib/resolvers.py
  src/pip/_vendor/resolvelib/structs.py
  src/pip/_vendor/resolvelib/structs.pyi
  src/pip/_vendor/vendor.txt
Labels: P: vendored dependency

#9805 Upgrade sphinxcontrib-towncrier to 0.2.0a0
  tools/news/template.rst
  tools/requirements/docs.txt
Labels: trivial

#9817 Fix changelog misformat
  tools/news/template.rst
Labels: trivial

#9820 Enable parallelism in Sphinx
  docs/pip_sphinxext.py
  tox.ini
Labels: trivial

#9814 Run all of CI, on scheduled runs
  .github/workflows/ci.yml
Labels: C: automation, trivial

#9827 Don't split git references on unicode separators
  news/9827.bugfix.rst
  src/pip/_internal/vcs/git.py
Labels: C: vcs, type: security

#9833 Remove empty title, which broke the issue form
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: trivial

#9930 Release 21.1.1
  AUTHORS.txt
  NEWS.rst
  news/9831.bugfix.rst
  news/9838.bugfix.rst
  news/9878.bugfix.rst
  news/9912.removal.rst
Labels: trivial
