Repository pypa/pip, pull requests merged in 2021-01, with the labels that each got.

#9408 Handle ._get_svn_url_rev() returning None in .get_remote_url()
  news/0dd6ac6d-b127-4551-a404-404b0ee8dcd3.trivial.rst
  src/pip/_internal/vcs/subversion.py
  tests/functional/test_vcs_subversion.py
Labels: trivial

#9406 Simplify check_binary_allowed
  src/pip/_internal/commands/install.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_wheel_builder.py
Labels: trivial

#9403 Harmonize return type of VersionControl.get_revision in subclasses
  news/2905cccb-2fe8-4b0d-8734-303510a7e4ce.trivial.rst
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
Labels: trivial

#9401 Remove unnecessary __ne__ definitions
  news/4a85b5f1-5f9a-4f6b-8960-3334570ae591.trivial.rst
  src/pip/_internal/models/format_control.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/utils/models.py
  tests/unit/test_utils.py
Labels: trivial

#9414 Remove unused utility function consume()
  news/49254991-9583-470e-a263-b196acf4072b.trivial.rst
  src/pip/_internal/utils/misc.py
Labels: trivial

#9388 The future is now
  tests/functional/test_build_env.py
  tests/functional/test_uninstall.py
Labels: trivial

#9410 Make get_similar_command() return None for no value
  news/2b5d1433-ec03-4b33-8cf1-ff76baa3690e.trivial.rst
  src/pip/_internal/commands/__init__.py
Labels: trivial

#9320 Verify built wheel contains valid metadata
  news/9206.feature.rst
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel_builder.py
Labels: C: build logic, C: wheel, type: enhancement

#9372 Prefer subprocess.DEVNULL over open(os.devnull, 'w')
  news/30e2240e-e268-4519-bee7-6f79bc4cf489.trivial.rst
  tests/lib/local_repos.py
Labels: trivial

#9375 Use dict and set comprehension where available
  news/24193261-eaf9-4117-a1a9-d5bb7f93b447.trivial.rst
  src/pip/_internal/req/req_uninstall.py
  src/pip/_internal/utils/wheel.py
Labels: trivial

#9423 Remove deprecation deadline for #8368
  src/pip/_internal/req/req_install.py
Labels: trivial

#9418 Remove unused wheel_cache argument in freeze operation
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/operations/freeze.py
Labels: trivial

#9331 Revert #7969 and fix VCS stdout/stderr capture
  news/8876.bugfix.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_utils_subprocess.py
Labels: type: bugfix

#9432 Avoid downloading multiple candidates of a same version
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/found_candidates.py
Labels: C: new resolver, trivial, type: bugfix

#9367 Use Formatter.default_time_format after dropping PY2
  news/80B9D718-3054-41C7-B920-78348DFD01A6.trivial.rst
  src/pip/_internal/utils/logging.py
Labels: trivial

#9274 Remove VCS export feature
  news/9273.bugfix.rst
  news/9337.bugfix.rst
  news/9338.removal.rst
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_wheel.py
Labels: type: bugfix

#9469 Include both sources in inconsistency error
  news/9186.feature.rst
  src/pip/_internal/exceptions.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_install.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver

#9480 Use our own copy of strtobool, rather than the one from distutils
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/parser.py
  src/pip/_internal/utils/misc.py
Labels: trivial

#9491 Release process now (as of 21.0) produces py3-only wheels
  noxfile.py
Labels: trivial

#9493 Remove support for extras after specifier in requirements
  src/pip/_internal/req/constructors.py
  tests/functional/test_install_extras.py
  tests/functional/test_new_resolver.py
Labels: trivial

#9495 Update changelog for 20.3.4
  NEWS.rst
  news/8876.bugfix.rst
  news/9180.bugfix.rst
  news/9203.bugfix.rst
  news/9206.feature.rst
  news/9246.bugfix.rst
  news/9315.feature.rst
  news/resolvelib.vendor.rst
Labels: trivial

#9496 Release 21.0
  AUTHORS.txt
  NEWS.rst
  news/0dd6ac6d-b127-4551-a404-404b0ee8dcd3.trivial.rst
  news/1170af15-1373-4226-a1ec-efe54b7ad480.trivial.rst
  news/1884.feature.rst
  news/205edb4f-502c-4213-b8b8-c9173718e8ab.trivial.rst
  news/24193261-eaf9-4117-a1a9-d5bb7f93b447.trivial.rst
  news/275aa0e8-ebb1-4eaf-aee0-e5582a8c5d58.trivial.rst
  news/2905cccb-2fe8-4b0d-8734-303510a7e4ce.trivial.rst
  news/2b5d1433-ec03-4b33-8cf1-ff76baa3690e.trivial.rst
  news/30e2240e-e268-4519-bee7-6f79bc4cf489.trivial.rst
  news/3ba38d39-9189-4bc3-bc87-bf598f1c1064.trivial.rst
  news/43602ba6-8a59-425c-9a97-9c8e87e28ddb.trivial.rst
  news/49254991-9583-470e-a263-b196acf4072b.trivial.rst
  news/4a85b5f1-5f9a-4f6b-8960-3334570ae591.trivial.rst
  news/4ec6e91c-91d6-475c-959a-83485cafa4b2.trivial.rst
  news/54754cb1-2151-45c3-baa0-b87e50d7e56d.trivial.rst
  news/6148.removal.rst
  news/738a71b0-98f9-4e1f-a541-af95fb990af9.trivial.rst
  news/7502.removal.rst
  news/7554.removal.rst
  news/7ced09a1-9af6-4190-8249-05a6328e379e.trivial.rst
  news/7edb0afc-938e-457b-ae6e-0905e7443b2f.trivial.rst
  news/80B9D718-3054-41C7-B920-78348DFD01A6.trivial.rst
  news/857785f2-1d4e-4067-9b4b-acc6ae741aef.trivial.rst
  news/86c319cb-0539-41a0-871b-4ffe72765f6f.trivial.rst
  news/8802.removal.rst
  news/8a225e3d-998e-4924-92e6-2ab2173159f8.trivial.rst
  news/9172.doc.rst
  news/9186.feature.rst
  news/9189.removal.rst
  news/9273.bugfix.rst
  news/9337.bugfix.rst
  news/9338.removal.rst
  news/9343.doc.rst
  news/9DE59242-2198-4760-B5A7-B5A6BB98ECA2.trivial.rst
  news/a13640e3-bfd3-46ae-b4b6-bcb9784303b4.trivial.rst
  news/a9950589-8b92-4ec1-a3a1-a6657cf6fd5b.trivial.rst
  news/ae7bdce7-d6f3-4f30-9192-6a8e69027d6a.trivial.rst
  news/b034ad46-e6b0-48b1-8b26-1145d611d082.trivial.rst
  news/b5e475d5-38b6-48cc-8136-0c32d3ace838.trivial.rst
  news/bb86bc866fdc4257a445e0df09dd7e64.trivial.rst
  news/d96bbdcd-059a-4ea4-b02e-343f8b51aad5.trivial.rst
  news/dc9e5ecc-9fc9-4762-914e-34014e8d09bf.trivial.rst
  news/ea24fc60-675c-4104-9825-39d1ee0a20b7.trivial.rst
  news/f0af302f-aef7-4323-8332-819f0be13d79.trivial.rst
  news/f0b01f0a-f673-4c1b-9959-3196b6c000e9.trivial.rst
  news/msgpack.vendor.rst
  news/requests.vendor.rst
  src/pip/__init__.py
Labels: trivial

#9509 Pin setuptools under 52 for easy_install tests
  tests/functional/test_uninstall.py
Labels: trivial

#9510 Fix for 9505. Exclude empty drafts.
  docs/html/conf.py
Labels: trivial

#9504 Better way to run slow linters in CI only
  .pre-commit-config-slow.yaml
  .pre-commit-config.yaml
  MANIFEST.in
  noxfile.py
  src/pip/_internal/locations.py
  tox.ini
Labels: trivial, type: maintenance

#9522 Make candidate download even lazier
  news/9516.bugfix.rst
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/found_candidates.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver, type: bugfix

#9497 Docs: update to past tense now pip 21.0 is out
  README.rst
  docs/html/index.rst
  docs/html/user_guide.rst
Labels: trivial

#9539 Release 21.0.1
  AUTHORS.txt
  NEWS.rst
  news/9461.bugfix.rst
  news/9516.bugfix.rst
  news/packaging.vendor.rst
Labels: trivial

#9538 Fix typo in _iter_built docstring
  news/5B0A5B91-D0A3-4599-B3B4-129240A99B99.trivial.rst
  src/pip/_internal/resolution/resolvelib/found_candidates.py
Labels: trivial
