Repository pypa/pip, pull requests merged in 2021-06, with the labels that each got.

#10041 Remove second space after comma in find_links help
  src/pip/_internal/cli/cmdoptions.py
Labels: trivial

#10031 Remove support for setup.cfg only projects
  news/10031.bugfix.rst
  src/pip/_internal/req/req_install.py
Labels: type: bugfix

#10023 Move where show is shown in commands
  docs/html/cli/index.md
Labels: trivial, type: docs

#10051 Fix a few trivial mistakes in documentation
  docs/html/installation.md
  docs/html/topics/authentication.md
  docs/html/user_guide.rst
Labels: trivial, type: docs

#10046 Warning for user when Windows default Path Limit is exceeded
  news/10045.feature.rst
  src/pip/_internal/commands/install.py
Labels: type: enhancement

#10053 Reword the changelog entry for verbosity changes
  news/9450.feature.rst
Labels: trivial

#10024 Remove old documentation pages
  docs/html/cookbook.rst
  docs/html/logic.rst
  docs/html/usage.rst
Labels: trivial, type: docs

#10054 Add a topic guide for Caching
  docs/html/cli/pip_install.rst
  docs/html/topics/caching.md
  docs/html/topics/index.md
Labels: trivial, type: docs

#10056 Add a topic guide: Configuration
  docs/html/conf.py
  docs/html/topics/configuration.md
  docs/html/topics/index.md
  docs/html/user_guide.rst
Labels: trivial, type: docs

#10064 Stop relying on undocumented duck typing by `urlunsplit()`
  news/10064.trivial.rst
  src/pip/_internal/models/link.py
Labels: trivial

#9994 Check Requires-Python before other dependencies
  news/9925.feature.rst
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/functional/test_new_resolver_errors.py
Labels: C: new resolver

#10032 Rework resolution ordering to consider "depth"
  news/9455.feature.rst
  src/pip/_internal/resolution/resolvelib/provider.py
Labels: C: dependency resolution, C: new resolver

#10103 Update IRC links to libera.chat
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/~good-first-issue.md
  README.rst
  docs/html/development/index.rst
  docs/html/index.md
Labels: trivial

#10105 Release/21.1.3
  NEWS.rst
  news/10020.bugfix.rst
  news/10031.bugfix.rst
Labels: trivial

#10112 Add `.venv` to `.gitignore`
  .gitignore
Labels: trivial
