Repository pypa/pip, pull requests merged in 2021-07, with the labels that each got.

#9569 Always open tar files with UTF-8
  news/7667.bugfix.rst
  src/pip/_internal/utils/unpacking.py
  tests/unit/test_utils_unpacking.py
Labels: type: bugfix

#10077 Move "Link requires a different Python" to verbose
  src/pip/_internal/index/package_finder.py
  tests/unit/test_index.py
Labels: trivial

#10099 Add topic guide: VCS Support
  docs/html/cli/pip_install.rst
  docs/html/getting-started.md
  docs/html/installation.md
  docs/html/topics/configuration.md
  docs/html/topics/index.md
  docs/html/topics/vcs-support.md
  docs/html/user_guide.rst
Labels: trivial, type: docs

#9865 Cache location calculation functions
  src/pip/_internal/locations/__init__.py
Labels: trivial

#10145 Use Python 3.10 sysconfig.get_preferred_scheme()
  src/pip/_internal/locations/_sysconfig.py
Labels: trivial

#10100 Add topic guide: Repeatable Installs
  docs/html/cli/pip_install.rst
  docs/html/topics/index.md
  docs/html/topics/repeatable-installs.md
  docs/html/user_guide.rst
Labels: trivial, type: docs

#10102 Add topic guide: Dependency Resolution
  docs/html/topics/dependency-resolution.md
  docs/html/topics/index.md
Labels: trivial, type: docs

#10157 Replace more pkg_resources usages
  news/10157.process.rst
  news/9825.process.rst
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/autocompletion.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/show.py
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  src/pip/_internal/utils/direct_url_helpers.py
  tests/functional/test_freeze.py
  tests/functional/test_install_user.py
  tests/functional/test_list.py
  tests/functional/test_new_resolver_user.py
  tests/functional/test_show.py
  tests/unit/test_check.py
  tests/unit/test_direct_url_helpers.py
  tests/unit/test_metadata.py
  tests/unit/test_wheel.py
Labels: trivial

#10190 Minor formatting tweaks
  src/pip/_internal/locations/__init__.py
  src/pip/_internal/resolution/legacy/resolver.py
  tests/functional/test_install.py
  tests/lib/__init__.py
  tests/lib/test_lib.py
  tests/unit/test_network_auth.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
Labels: trivial

#10193 Blacken src/pip/_internal/network/
  .pre-commit-config.yaml
  src/pip/_internal/network/auth.py
  src/pip/_internal/network/cache.py
  src/pip/_internal/network/download.py
  src/pip/_internal/network/lazy_wheel.py
  src/pip/_internal/network/session.py
  src/pip/_internal/network/utils.py
  src/pip/_internal/network/xmlrpc.py
Labels: trivial

#10191 Blacken tools/
  .pre-commit-config.yaml
  tools/release/__init__.py
  tools/tox_pip.py
Labels: trivial

#9698 Document how to install provides_extras from local wheel file
  docs/html/user_guide.rst
Labels: type: docs

#10197 Get rid of tools/requirements/ directory, by moving those files into better locations
  .github/workflows/ci.yml
  .readthedocs.yml
  MANIFEST.in
  docs/requirements.txt
  noxfile.py
  tests/requirements-common_wheels.txt
  tests/requirements.txt
  tox.ini
Labels: trivial, type: maintenance

#10228 Fix test requirement paths in noxfile
  noxfile.py
Labels: C: tests, trivial

#10224 Bump up to Sphinx 4
  docs/requirements.txt
Labels: trivial, type: docs
