Repository pypa/pip, pull requests merged in 2021-05, with the labels that each got.

#9934 Fix typo in NEWS.rst
  NEWS.rst
  news/e0021c1f-5eeb-4f32-bfe8-87752f034acd.trivial.rst
Labels: trivial

#9945 Better diagnose when setup.py/cfg cannot be found
  news/9944.bugfix.rst
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
Labels: type: bugfix

#9960 Handle standalone pip creation from pip wheel
  news/9953.bugfix.rst
  src/pip/_internal/build_env.py
Labels: type: bugfix

#9920 Set strict_timestamps=False when zip is called for isolated environment
  news/9910.bugfix.rst
  src/pip/_internal/build_env.py
Labels: type: bugfix

#9993 Exclude a known incompatible installed candidate
  news/9841.bugfix.rst
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/functional/test_new_resolver.py
Labels: C: new resolver, type: bugfix

#10013 Drop released news fragments
  news/9841.bugfix.rst
  news/9910.bugfix.rst
  news/9944.bugfix.rst
  news/9953.bugfix.rst
  news/e0021c1f-5eeb-4f32-bfe8-87752f034acd.trivial.rst
Labels: trivial

#10009 Rewrite the Getting Started and Installation Pages
  docs/html/conf.py
  docs/html/getting-started.md
  docs/html/index.md
  docs/html/installation.md
  docs/html/installing.rst
  docs/html/quickstart.rst
Labels: trivial

#10022 Rephrase the warning printed when run as root on Unix
  src/pip/_internal/cli/req_command.py
Labels: trivial

#10025 Add a "Topic Guide" section to the documentation
  docs/html/index.md
  docs/html/topics/index.md
Labels: trivial, type: docs

#10027 Add a topic guide for Authentication
  docs/html/topics/authentication.md
  docs/html/topics/index.md
  docs/html/user_guide.rst
Labels: trivial, type: docs
