Repository pypa/pip, pull requests merged in 2021-08, with the labels that each got.

#10192 Blacken src/pip/_internal/commands/
  .pre-commit-config.yaml
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/commands/cache.py
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/completion.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/debug.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/commands/hash.py
  src/pip/_internal/commands/help.py
  src/pip/_internal/commands/index.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/commands/show.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/commands/wheel.py
Labels: trivial

#10277 A few miscellaneous documentation updates
  docs/html/cli/pip.rst
  docs/html/cli/pip_install.rst
  docs/html/development/configuration.rst
Labels: type: docs

#10278 Remove backtracking survey link
  src/pip/_internal/resolution/resolvelib/reporter.py
Labels: trivial

#9086 Use git's partial clone feature to speed up pip
  news/9086.feature.rst
  src/pip/_internal/vcs/git.py
  tests/functional/test_vcs_git.py
Labels: C: vcs

#10364 Tweak the news-file workflow
  .github/workflows/news-file.yaml
  .github/workflows/news-file.yml
Labels: trivial

#10363 Perform merge-conflict label checks, via GitHub Actions
  .github/workflows/label-merge-conflicts.yml
Labels: trivial

#10366 Remove pip list legacy format from documentation
  docs/html/cli/pip_list.rst
Labels: trivial

#10367 Explicitly set permissions for label-merge-conflicts
  .github/workflows/label-merge-conflicts.yml
Labels: trivial

#10279 Reorganise documentation related to dependency resolution
  docs/html/topics/dependency-resolution.md
  docs/html/user_guide.rst
Labels: type: docs, trivial

#10229 Give some TLC to the `deprecated` helper
  src/pip/_internal/locations/__init__.py
  src/pip/_internal/utils/deprecation.py
  tests/functional/test_warning.py
  tests/unit/test_utils.py
Labels: trivial

#10368 commands.show: fix small typo in function name
  src/pip/_internal/commands/show.py
Labels: trivial

#10358 Switch install scheme backend to sysconfig
  news/10358.removal.rst
  setup.cfg
  src/pip/_internal/locations/__init__.py
  src/pip/_internal/operations/install/wheel.py
  tests/conftest.py
  tests/unit/test_locations.py
  tests/unit/test_wheel.py
Labels: type: deprecation

#10357 More importlib.metadata migration preparation
  src/pip/_internal/distributions/base.py
  src/pip/_internal/distributions/installed.py
  src/pip/_internal/distributions/sdist.py
  src/pip/_internal/distributions/wheel.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/network/lazy_wheel.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/utils/packaging.py
  src/pip/_internal/wheel_builder.py
  tests/lib/wheel.py
  tests/unit/test_network_lazy_wheel.py
  tests/unit/test_resolution_legacy_resolver.py
  tests/unit/test_utils_pkg_resources.py
  tests/unit/test_wheel.py
Labels: trivial
