Repository pypa/pip, pull requests merged in 2021-12, with the labels that each got.

#10704 Autocancel repeated CI runs
  .github/workflows/ci.yml
Labels: type: enhancement, trivial, C: automation

#10674 Fix various typing errors on Windows
  tests/lib/__init__.py
  tests/lib/compat.py
  tests/lib/server.py
  tests/unit/test_appdirs.py
  tests/unit/test_locations.py
Labels: trivial

#10707 Tell people to report sysconfig issues to Apple
  src/pip/_internal/locations/__init__.py
Labels: trivial

#10484 Update when "direct references" got supported, to reflect reality
  docs/html/cli/pip_install.rst
Labels: type: docs, trivial

#10675 Final purge of direct pkg_resources usages
  src/pip/_internal/exceptions.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/packaging.py
  src/pip/_internal/utils/pkg_resources.py
  src/pip/_internal/utils/wheel.py
  tests/functional/test_install.py
  tests/functional/test_install_user.py
  tests/functional/test_new_resolver_user.py
  tests/unit/metadata/test_metadata.py
  tests/unit/metadata/test_metadata_pkg_resources.py
  tests/unit/test_utils.py
  tests/unit/test_utils_pkg_resources.py
Labels: trivial

#10537 Fix crashes with higher logging levels
  src/pip/_internal/index/package_finder.py
Labels: C: tests, trivial

#10703 Improve presentation of diagnostic errors using rich
  news/10703.feature.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/utils/logging.py
  tests/functional/test_no_color.py
  tests/unit/test_exceptions.py
  tests/unit/test_logging.py
Labels: type: enhancement, C: error messages, C: output
