Repository pypa/pip, pull requests merged in 2022-10, with the labels that each got.

#10247 Document the new resolver
  MANIFEST.in
  docs/html/topics/deps.dot
  docs/html/topics/deps.png
  docs/html/topics/index.md
  docs/html/topics/more-dependency-resolution.md
Labels: skip news

#11359 Deprecate --install-options
  news/11358.removal.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/unit/test_req_file.py
Labels: type: deprecation

#11272 Suggest disabling pip cache in containers
  docs/html/topics/caching.md
Labels: skip news

#11496 Switch to the no-response GitHub Action
  .github/no-response.yml
  .github/workflows/no-response.yml
Labels: skip news

#11264 bazaar: Use lightweight checkouts rather than a full branch clone
  news/5444.feature.rst
  src/pip/_internal/vcs/bazaar.py
Labels: C: vcs

#11498 Get rid of the timeout test as it's too flaky to be useful
  tests/functional/test_requests.py
Labels: skip news

#11499 Add a warning comment to the vendoring session in noxfile
  noxfile.py
Labels: skip news

#11494 Remove pre-commit from GitHub Actions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: skip news, C: automation, type: maintenance

#11502 Vendoring updates (Oct 2022)
  news/pygments.vendor.rst
  news/typing_extensions.vendor.rst
  news/urllib3.vendor.rst
  src/pip/_vendor/pygments/__init__.py
  src/pip/_vendor/pygments/cmdline.py
  src/pip/_vendor/pygments/filters/__init__.py
  src/pip/_vendor/pygments/formatters/__init__.py
  src/pip/_vendor/pygments/formatters/_mapping.py
  src/pip/_vendor/pygments/formatters/img.py
  src/pip/_vendor/pygments/lexers/__init__.py
  src/pip/_vendor/pygments/lexers/_mapping.py
  src/pip/_vendor/pygments/lexers/python.py
  src/pip/_vendor/pygments/plugin.py
  src/pip/_vendor/pygments/styles/__init__.py
  src/pip/_vendor/pygments/token.py
  src/pip/_vendor/typing_extensions.LICENSE
  src/pip/_vendor/typing_extensions.py
  src/pip/_vendor/urllib3/__init__.py
  src/pip/_vendor/urllib3/_version.py
  src/pip/_vendor/urllib3/contrib/pyopenssl.py
  src/pip/_vendor/urllib3/response.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/urllib3-disable-brotli.patch
Labels: project: vendored dependency, type: maintenance

#11516 Move check-manifest to GHA
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: skip news

#11514 Update certifi and replace complex certifi patch with a more targetted requests patch
  news/certifi.vendor.rst
  src/pip/_vendor/certifi/LICENSE
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/certifi/core.py
  src/pip/_vendor/requests/certs.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/certifi.patch
  tools/vendoring/patches/requests.patch
Labels: project: vendored dependency

#11493 Remove the opt-in for `2020-resolver`
  news/11493.removal.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  tests/unit/test_req_file.py
Labels: type: deprecation

#11532 Replace bzr with breezy
  .github/workflows/ci.yml
Labels: skip news

#11288 Update test suite to use virtualenv >= 20.0.0
  .github/workflows/ci.yml
  setup.cfg
  src/pip/_internal/utils/virtualenv.py
  tests/conftest.py
  tests/functional/test_build_env.py
  tests/functional/test_freeze.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_user.py
  tests/functional/test_install_wheel.py
  tests/functional/test_list.py
  tests/functional/test_new_resolver_user.py
  tests/functional/test_uninstall_user.py
  tests/lib/venv.py
  tests/requirements.txt
  tests/unit/test_utils_virtualenv.py
Labels: skip news, type: maintenance

#11556 Add section clarifying pip version support
  docs/html/development/release-process.rst
Labels: skip news

#11550 Add 3.11 to CI
  .github/workflows/ci.yml
  .github/workflows/news-file.yml
  noxfile.py
  tests/functional/test_install_user.py
  tests/functional/test_new_resolver_user.py
Labels: skip news
