Repository pypa/pip, pull requests merged in 2022-06, with the labels that each got.

#10913 Change all moved headings to rubrics
  docs/html/cli/pip.rst
  docs/html/cli/pip_install.rst
  docs/html/cli/pip_wheel.rst
  docs/html/topics/configuration.md
  docs/html/topics/dependency-resolution.md
  docs/html/topics/vcs-support.md
  docs/html/user_guide.rst
Labels: trivial

#11177 Rename trivial label to skip news
  .github/workflows/news-file.yml
  news/9F7EA82B-DEFE-4143-826C-7CDE65FDEF70.trivial.rst
Labels: type: maintenance

#11181 Enforce utf-8 encoding for origin.json in wheel cache
  src/pip/_internal/cache.py
Labels: C: encoding, skip news, C: cache

#11178 Change the render language to `shell`
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: skip news

#11193 Restore the repeatability intersphinx reference
  docs/html/topics/repeatable-installs.md
Labels: type: docs, skip news

#11194 Replace usage of `distutils.utils.change_root` with copied-over logic
  src/pip/_internal/locations/_sysconfig.py
  src/pip/_internal/locations/base.py
  src/pip/_internal/operations/install/legacy.py
Labels: skip news, type: deprecation

#11151 Add section on 'truststore' feature to User Guide
  docs/html/user_guide.rst
Labels: skip news

#11190 Convert to str shutil.move src arg for py<=39
  tests/functional/test_install_wheel.py
  tests/lib/venv.py
Labels: skip news

#11163 Refactor `BaseDistribution.metadata` property to make sure it has `Requires-Dist` and `Provides-Extra`
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/importlib/_dists.py
  src/pip/_internal/metadata/pkg_resources.py
  tests/unit/metadata/test_metadata.py
Labels: skip news

#11095 Add json_metadata property to BaseDistribution
  src/pip/_internal/metadata/_json.py
  src/pip/_internal/metadata/base.py
  tests/unit/metadata/test_metadata.py
Labels: skip news

#11186 fixed some spelling mistakes
  NEWS.rst
  docs/html/cli/pip_freeze.rst
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/network/session.py
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/unit/resolution_resolvelib/test_provider.py
Labels: skip news

#11128 speedup Wheel.support_index_min
  news/4C988F0E-6A4D-45CE-A60F-9E86DB494FBF.trivial.rst
  src/pip/_internal/models/wheel.py
Labels: skip news

#11211 Add missing vendored rich calls for debundling
  src/pip/_vendor/__init__.py
Labels: skip news
