Repository pypa/pip, pull requests merged in 2022-01, with the labels that each got.

#10780 CI: Only lock threads on upstream
  .github/workflows/lock-threads.yml
Labels: trivial

#10796 Use the standard library distutils for running tests
  .github/workflows/ci.yml
  noxfile.py
Labels: trivial

#10776 Only specify start year in license
  LICENSE.txt
Labels: trivial

#10814 Deal with some warnings in development tooling
  docs/requirements.txt
  tests/lib/__init__.py
Labels: trivial

#10826 Annotate an unannotated test
  tests/functional/test_install.py
Labels: trivial

#10682 Include files/folders in `pip install` autocomplete
  news/10646.feature.rst
  src/pip/_internal/cli/autocompletion.py
  tests/functional/test_completion.py
Labels: type: enhancement, C: autocomplete

#10238 Avoid deprecation warning from Tomli
  src/pip/_internal/pyproject.py
Labels: trivial

#10795 Improve presentation of errors from subprocesses, during installation
  news/10705.feature.rst
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/distributions/sdist.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/operations/build/metadata.py
  src/pip/_internal/operations/build/metadata_editable.py
  src/pip/_internal/operations/build/metadata_legacy.py
  src/pip/_internal/operations/build/wheel_legacy.py
  src/pip/_internal/operations/install/editable_legacy.py
  src/pip/_internal/operations/install/legacy.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/setuptools_build.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/versioncontrol.py
  src/pip/_internal/wheel_builder.py
  tests/data/src/chattymodule/setup.py
  tests/data/src/setup_error/setup.py
  tests/functional/test_build_env.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_new_resolver.py
  tests/functional/test_pep517.py
  tests/unit/test_utils.py
  tests/unit/test_utils_subprocess.py
  tests/unit/test_wheel_builder.py
Labels: type: enhancement, C: error messages

#10830 Provide `FORCE_COLOR=1` to the CI, to colorize Nox
  .github/workflows/ci.yml
Labels: trivial, C: automation

#10722 Abort immediately on metadata generation failure instead of backtracking
  news/10655.bugfix.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_new_resolver.py
  tests/lib/__init__.py
  tests/unit/resolution_resolvelib/conftest.py
  tests/unit/resolution_resolvelib/test_resolver.py
Labels: C: dependency resolution, type: bugfix, C: build logic

#10291 Replace vendored html5lib with stdlib
  news/10291.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/index.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/self_outdated_check.py
  tests/data/indexes/datarequire/fakepackage/index.html
  tests/data/indexes/dev/bar/index.html
  tests/data/indexes/in dex/simple/index.html
  tests/data/indexes/pre/bar/index.html
  tests/data/indexes/simple/simple/index.html
  tests/data/indexes/yanked/simple/index.html
  tests/data/indexes/yanked_all/simple/index.html
  tests/data/packages3/dinner/index.html
  tests/data/packages3/index.html
  tests/data/packages3/requiredinner/index.html
  tests/functional/test_build_env.py
  tests/functional/test_new_resolver_hashes.py
  tests/lib/__init__.py
  tests/unit/resolution_resolvelib/conftest.py
  tests/unit/test_collector.py
  tests/unit/test_finder.py
  tests/unit/test_index.py
  tests/unit/test_self_check_outdated.py
Labels: type: enhancement, C: finder, type: deprecation

#10840 Disable location warning for Python < 3.10
  news/10840.removal.rst
  src/pip/_internal/locations/__init__.py
Labels: type: deprecation

#10841 Release 22.0
  AUTHORS.txt
  NEWS.rst
  news/10291.feature.rst
  news/10462.feature.rst
  news/10462.removal.rst
  news/10535.feature.rst
  news/10557.bugfix.rst
  news/10588.feature.rst
  news/10593.trivial.rst
  news/10613.bugfix.rst
  news/10617.bugfix.rst
  news/10627.trivial.rst
  news/10641.removal.rst
  news/10646.feature.rst
  news/10647.feature.rst
  news/10655.bugfix.rst
  news/10668.process.rst
  news/10686.feature.rst
  news/10693.process.rst
  news/10703.feature.rst
  news/10705.feature.rst
  news/10840.removal.rst
  news/4A6F604D-DDAB-4F85-BA92-7C81C811D07A.trivial.rst
  news/637C2644-8B0F-4383-ADF2-9B5F4CA0A8DB.trivial.rst
  news/7E64556D-9BE9-4222-9D6F-54312B90F74E.trivial.rst
  news/7cecf5ba-92a1-49a9-85f0-07a4dd8aca46.trivial.rst
  news/8819.feature.rst
  news/9644.bugfix.rst
  news/CacheControl.vendor.rst
  news/FD80732D-5DC1-4B68-BDB5-0283EF9EBC3A.trivial.rst
  news/certifi.vendor.rst
  news/distlib.vendor.rst
  news/eb0afbc2-59df-40a3-b7bd-325305c3e2e7.trivial.rst
  news/idna.vendor.rst
  news/msgpack.vendor.rst
  news/packaging.vendor.rst
  news/platformdirs.vendor.rst
  news/pygments-modifications.vendor.rst
  news/pygments.vendor.rst
  news/pyparsing.vendor.rst
  news/requests.vendor.rst
  news/resolvelib.vendor.rst
  news/rich-modifications.vendor.rst
  news/rich.vendor.rst
  news/typing_extensions.vendor.rst
  news/urllib3.vendor.rst
  src/pip/__init__.py
  src/pip/_internal/resolution/resolvelib/factory.py
  tools/news/template.rst
Labels: trivial

#10844 Accept lowercase doctype declarations
  news/10844.bugfix.rst
  src/pip/_internal/index/collector.py
  tests/data/indexes/yanked/simple/index.html
Labels: type: bug, C: finder

#10850 Release 22.0.1
  NEWS.rst
  news/10844.bugfix.rst
  news/10846.bugfix.rst
Labels: trivial

#10847 Gracefully fallback to html5lib for parsing non-compliant index pages
  news/10847.removal.rst
  src/pip/_internal/index/collector.py
  tests/functional/test_install_config.py
  tests/functional/test_new_resolver_hashes.py
  tests/unit/test_collector.py
Labels: C: finder, type: deprecation

#10852 Release 22.0.2
  NEWS.rst
  news/10847.removal.rst
Labels: trivial

#10854 Fix RST formatting for 22.0.1 changelog
  NEWS.rst
Labels: trivial
