Repository pypa/pip, pull requests merged in 2022-04, with the labels that each got.

#10990 Allow to disable warning for root user package management
  news/10990.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/uninstall.py
Labels: type: feature request

#10914 Add triage notes about redistributors
  docs/html/development/issue-triage.md
  docs/html/development/issue-triage.rst
Labels: type: docs, trivial

#11001 Drop out-of-tree/in-tree build transition flags
  docs/html/topics/local-project-installs.md
  news/11001.removal.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/utils/filesystem.py
  tests/functional/test_install.py
  tests/lib/filesystem.py
  tests/unit/test_operations_prepare.py
  tests/unit/test_req.py
  tests/unit/test_utils_filesystem.py
Labels: type: deprecation

#10735 docs: Add section on PEP 508 support for build system requirements
  docs/html/reference/build-system/pyproject-toml.md
Labels: trivial

#10709 Metadata backend with importlib.metadata
  .github/workflows/ci.yml
  news/10709.process.rst
  src/pip/_internal/commands/show.py
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/importlib/__init__.py
  src/pip/_internal/metadata/importlib/_compat.py
  src/pip/_internal/metadata/importlib/_dists.py
  src/pip/_internal/metadata/importlib/_envs.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/req/req_uninstall.py
  tests/functional/test_new_resolver.py
  tests/functional/test_uninstall.py
  tests/unit/test_req.py
Labels: type: enhancement

#10870 Remove resolved_revision from DirectUrl VcsInfo
  src/pip/_internal/models/direct_url.py
Labels: trivial

#11062 Update pre-commit hooks
  .pre-commit-config.yaml
  setup.cfg
  tests/unit/test_self_check_outdated.py
Labels: trivial

#10959 Improve the presentation style of the pip upgrade prompt
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/self_outdated_check.py
  src/pip/_internal/utils/entrypoints.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/subprocess.py
  tests/unit/test_self_check_outdated.py
  tests/unit/test_utils_subprocess.py
Labels: type: enhancement, trivial

#11076 Rename `tox_pip.py` to `protected_pip.py`
  noxfile.py
  tools/protected_pip.py
  tools/tox_pip.py
Labels: trivial

#11078 Revert "Add additional context to `protected_pip.py` about how it works"
  tools/protected_pip.py
Labels: trivial

#11077 Release 22.1b1
  AUTHORS.txt
  src/pip/__init__.py
Labels: trivial
