Repository pypa/pip, pull requests merged in 2022-09, with the labels that each got.

#11439 Further attempt to stablize timeout test
  tests/functional/test_requests.py
Labels: skip news

#11111 Use data-dist-info-metadata (PEP 658) to decouple resolution from downloading
  news/11111.feature.rst
  src/pip/_internal/exceptions.py
  src/pip/_internal/index/collector.py
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/importlib/_dists.py
  src/pip/_internal/metadata/pkg_resources.py
  src/pip/_internal/models/link.py
  src/pip/_internal/operations/prepare.py
  tests/functional/test_download.py
  tests/functional/test_new_resolver.py
  tests/lib/server.py
  tests/unit/metadata/test_metadata_pkg_resources.py
  tests/unit/test_collector.py
Labels: type: enhancement, PEP implementation

#11456 Set deprecation deadlines for #8368 and #8559
  src/pip/_internal/utils/deprecation.py
Labels: skip news, type: deprecation

#11454 Deprecate --no-binary disabling the wheel cache
  news/11454.removal.rst
  src/pip/_internal/cache.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
Labels: C: cache, type: deprecation

#11452 Deprecate --no-binary implying setup.py install
  news/11452.removal.rst
  src/pip/_internal/utils/deprecation.py
  src/pip/_internal/wheel_builder.py
Labels: type: deprecation

#11434 Introduce a `check` CI job for branch protection
  .github/workflows/ci.yml
  news/c57bc03f-7001-4ff0-a100-c36496ff8758.trivial.rst
Labels: skip news, C: automation, type: maintenance

#11472 Allow skips for the test jobs in branch protection
  .github/workflows/ci.yml
Labels: skip news

#11470 Remove link to the distutils-sig mailing list from the README.
  README.rst
Labels: skip news
