Repository pypa/pip, pull requests merged in 2022-12, with the labels that each got.

#11639 show: show editable location instead if package is editable (#11638)
  news/11638.bugfix.rst
  src/pip/_internal/commands/show.py
  tests/functional/test_show.py
Labels: bot:chronographer:provided

#11667 Remove duplicate news entry for #11547
  news/11547.bugfix.rst
Labels: skip news

#11617 Restrict `#egg=` fragments to valid PEP 508 names
  docs/html/topics/vcs-support.md
  news/10265.removal.rst
  news/11617.bugfix.rst
  src/pip/_internal/models/link.py
  tests/unit/test_link.py
Labels: bot:chronographer:provided

#11654 Replace `pep517` with `pyproject_hooks`
  news/pep517.vendor.rst
  news/pyproject-hooks.vendor.rst
  src/pip/_internal/commands/debug.py
  src/pip/_internal/operations/build/metadata.py
  src/pip/_internal/operations/build/metadata_editable.py
  src/pip/_internal/operations/build/wheel.py
  src/pip/_internal/operations/build/wheel_editable.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/subprocess.py
  src/pip/_vendor/pep517.pyi
  src/pip/_vendor/pep517/__init__.py
  src/pip/_vendor/pep517/build.py
  src/pip/_vendor/pep517/check.py
  src/pip/_vendor/pep517/colorlog.py
  src/pip/_vendor/pep517/dirtools.py
  src/pip/_vendor/pep517/envbuild.py
  src/pip/_vendor/pep517/in_process/__init__.py
  src/pip/_vendor/pep517/meta.py
  src/pip/_vendor/pyproject_hooks.pyi
  src/pip/_vendor/pyproject_hooks/LICENSE
  src/pip/_vendor/pyproject_hooks/__init__.py
  src/pip/_vendor/pyproject_hooks/_compat.py
  src/pip/_vendor/pyproject_hooks/_impl.py
  src/pip/_vendor/pyproject_hooks/_in_process/__init__.py
  src/pip/_vendor/pyproject_hooks/_in_process/_in_process.py
  src/pip/_vendor/vendor.txt
Labels: type: maintenance

#11652 Enable managing RTD redirects in-tree
  .github/workflows/update-rtd-redirects.yml
  .pre-commit-config.yaml
  .readthedocs-custom-redirects.yml
  MANIFEST.in
  tools/update-rtd-redirects.py
Labels: skip news, type: maintenance
