Repository pypa/pip, pull requests merged in 2023-10, with the labels that each got.

#12281 Fix git version parsing issue
  news/12280.bugfix.rst
  src/pip/_internal/vcs/git.py
  tests/unit/test_vcs.py
Labels: bot:chronographer:provided

#12199 Replace python2 deprecation with a badge of supported python versions
  README.rst
Labels: skip news

#12304 Rework how the logging stack handles rich objects
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/self_outdated_check.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/utils/subprocess.py
  tests/unit/test_utils_subprocess.py
Labels: skip news

#12292 Avoid use of 2020-resolver and legacy-resolver
  news/1F54AB69-21F3-49F6-B938-AB16E326F82C.trivial.rst
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/install.py
  tests/conftest.py
  tests/functional/test_freeze.py
  tests/functional/test_install.py
  tests/functional/test_install_extras.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_upgrade.py
  tests/lib/__init__.py
  tests/unit/test_req_file.py
Labels: bot:chronographer:provided

#12303 Drop isort and flake8 settings from setup.cfg
  setup.cfg
Labels: skip news

#12306 Use `-r=...` instead of `-r ...` for VCS CLI
  news/12306.bugfix.rst
  src/pip/_internal/vcs/mercurial.py
  tests/unit/test_vcs.py
Labels: bot:chronographer:provided

#12307 Postpone some deprecation removals
  src/pip/_internal/req/req_install.py
Labels: skip news

#12289 Remove outdated `noqa` comments
  news/80291DF4-7B0F-4268-B682-E1FCA1C3ACED.trivial.rst
  pyproject.toml
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/parser.py
  src/pip/_internal/commands/debug.py
  src/pip/_internal/commands/install.py
  tests/functional/test_install_compat.py
  tests/functional/test_wheel.py
Labels: bot:chronographer:provided

#12024 Avoid importing things from conftest
  tests/conftest.py
  tests/functional/test_completion.py
  tests/functional/test_download.py
  tests/functional/test_help.py
  tests/functional/test_inspect.py
  tests/functional/test_install.py
  tests/functional/test_install_config.py
  tests/functional/test_list.py
  tests/lib/__init__.py
  tests/lib/compat.py
  tests/lib/server.py
Labels: skip news

#12312 Wrap long lines
  .pre-commit-config.yaml
  tests/conftest.py
  tests/unit/test_collector.py
Labels: skip news

#12095 Improve handling of constraints on requirements with extras
  news/11924.bugfix.rst
  news/11924.feature.rst
  news/12095.bugfix.rst
  src/pip/_internal/req/constructors.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  src/pip/_internal/resolution/resolvelib/resolver.py
  tests/functional/test_install_report.py
  tests/functional/test_new_resolver.py
  tests/lib/__init__.py
  tests/unit/resolution_resolvelib/test_requirement.py
  tests/unit/test_req.py
Labels: bot:chronographer:provided

#12173 Fix ZSH completion script
  news/12166.bugfix.rst
  src/pip/_internal/commands/completion.py
  tests/functional/test_completion.py
Labels: bot:chronographer:provided

#12051 Add a dependabot config to update CI actions monthly
  .github/dependabot.yml
  news/d7179b28-bc23-46aa-9175-834117a42dbd.trivial.rst
Labels: bot:chronographer:provided

#12332 Postpone deprecation of legacy versions and specifiers
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/req_set.py
Labels: skip news

#12331 Update egg deprecation message
  src/pip/_internal/metadata/importlib/_envs.py
Labels: skip news

#12334 Update Running Tests Docs
  docs/html/development/getting-started.rst
  news/12334.doc.rst
Labels: bot:chronographer:provided

#12343 Upgrade urllib3 to 1.26.17
  news/urllib3.vendor.rst
  src/pip/_vendor/urllib3/_version.py
  src/pip/_vendor/urllib3/request.py
  src/pip/_vendor/urllib3/util/retry.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12335 Correct issue number for NEWS entry added by #12197
  news/11847.bugfix.rst
Labels: skip news

#12350 Redact URLs in Collecting... logs
  news/12350.bugfix.rst
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/misc.py
  tests/unit/test_utils.py
Labels: bot:chronographer:provided

#12354 Minor docs improvements
  docs/html/development/contributing.rst
  docs/html/development/release-process.rst
Labels: type: docs, skip news

#12356 Clarify changelog
  NEWS.rst
Labels: skip news

#12363 Handle ISO formats with a trailing Z
  news/12338.bugfix.rst
  src/pip/_internal/self_outdated_check.py
Labels: bot:chronographer:provided

#12355 Build using `build`
  noxfile.py
Labels: skip news

#12364 Proposed fix that ensures parallel pip cache downloads can work
  news/12361.bugfix.rst
  src/pip/_internal/network/cache.py
  tests/unit/test_network_cache.py
Labels: bot:chronographer:provided

#11850 Rework the functionality of PIP_CONFIG_FILE
  docs/html/topics/configuration.md
  news/11815.doc.rst
  src/pip/_internal/configuration.py
Labels: bot:chronographer:provided
