Repository pypa/pip, pull requests merged in 2023-05, with the labels that each got.

#12019 Add Python 3.12 classifier
  setup.py
Labels: skip news

#12020 Add Read the Docs build configuration
  .readthedocs.yml
Labels: skip news

#12040 make rejection message for count 8 slightly different
  news/12040.feature.rst
  src/pip/_internal/resolution/resolvelib/reporter.py
Labels: bot:chronographer:provided

#11533 Improve documentation of pip list --outdated with freeze format
  news/3297dfd6-b078-4452-97a1-7d2c1ab41ca1.trivial.rst
  src/pip/_internal/commands/list.py
  tests/functional/test_list.py
Labels: bot:chronographer:provided

#11966 Add ireq.is_direct property, for readability
  src/pip/_internal/exceptions.py
  src/pip/_internal/models/installation_report.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
Labels: skip news, type: maintenance

#12044 Canonicalize package names before comparison for PEP658 metadata
  news/12038.bugfix.rst
  src/pip/_internal/operations/prepare.py
  tests/functional/test_download.py
Labels: bot:chronographer:provided

#12045 Add `.git-blame-ignore-revs` for Black reformatting commits
  .git-blame-ignore-revs
  MANIFEST.in
Labels: skip news

#12048 Upgrade vendored Requests
  news/requests.vendor.rst
  src/pip/_vendor/requests/__init__.py
  src/pip/_vendor/requests/__version__.py
  src/pip/_vendor/requests/_internal_utils.py
  src/pip/_vendor/requests/adapters.py
  src/pip/_vendor/requests/api.py
  src/pip/_vendor/requests/sessions.py
  src/pip/_vendor/requests/utils.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12046 Remove RIGHT-TO-LEFT OVERRIDE from AUTHORS.txt
  AUTHORS.txt
Labels: skip news

#12056 Update vendored typing extensions to 4.6
  news/typing-extensions.vendor.rst
  src/pip/_vendor/typing_extensions.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12060 Ignore invalid or unreadable ``origin.json`` files in wheel cache
  news/11985.bugfix.rst
  src/pip/_internal/cache.py
  tests/unit/test_req.py
Labels: bot:chronographer:provided
