Repository pypa/pip, pull requests merged in 2023-04, with the labels that each got.

#11918 Add documentation on how to fix a local patch during revendoring
  src/pip/_vendor/README.rst
Labels: skip news

#11941 Stop propagating `config_settings` to dependencies
  docs/html/reference/build-system/pyproject-toml.md
  news/11941.feature.rst
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/req/constructors.py
  tests/functional/test_config_settings.py
Labels: bot:chronographer:provided

#11634 Add per-requirement --config-settings
  news/11325.feature.rst
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_file.py
  tests/functional/test_config_settings.py
  tests/functional/test_install_reqs.py
  tests/unit/test_req_file.py
Labels: bot:chronographer:provided

#11940 Warn if --hash is used on a line without requirement
  news/11935.feature.rst
  src/pip/_internal/req/req_file.py
Labels: bot:chronographer:provided

#11936 Various fixes to the link hash parser
  news/11936.bugfix.rst
  src/pip/_internal/models/link.py
  tests/unit/test_collector.py
Labels: bot:chronographer:provided

#11922 Avoid parsing dist.version twice in a row
  src/pip/_internal/operations/freeze.py
Labels: skip news

#11942 Correct keyring provider default
  news/CD497476-8620-449D-8E31-799CDBCF3FD6.trivial.rst
  src/pip/_internal/cli/cmdoptions.py
  tests/functional/test_install_config.py
Labels: skip news

#11938 Don't trust link hash in direct URL dependencies
  news/11938.bugfix.rst
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
Labels: bot:chronographer:provided

#10594 Improve error message when egg-link does not match installed location
  news/10476.feature.rst
  src/pip/_internal/req/req_uninstall.py
Labels: bot:chronographer:provided

#11947 Report requested_extras for direct URLs
  news/11946.bugfix.rst
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_install_report.py
Labels: bot:chronographer:provided

#11954 doc: Make it clear that requirements/constraints file can be a URL
  docs/html/user_guide.rst
  news/11954.doc.rst
Labels: bot:chronographer:provided

#11949 Generate download_info.info.hashes in install report for direct URL archives
  news/11948.bugfix.rst
  src/pip/_internal/models/direct_url.py
  src/pip/_internal/models/installation_report.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  tests/functional/test_install_report.py
  tests/unit/test_direct_url.py
Labels: bot:chronographer:provided

#11897 Support wheel cache when using --require-hashes
  news/5037.feature.rst
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/utils/hashes.py
  tests/functional/test_install.py
  tests/unit/test_req.py
  tests/unit/test_utils.py
Labels: bot:chronographer:provided

#11919 Deprecate legacy projects ignoring config settings
  news/11915.removal.rst
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/req_install.py
Labels: bot:chronographer:provided

#11973 Mention `setup.py develop` change in 23.1 changelog
  NEWS.rst
Labels: skip news

#11967 Update docs about hash checking and wheel cache
  docs/html/topics/secure-installs.md
  news/11967.doc.rst
Labels: type: docs, bot:chronographer:provided

#11976 Revert "Upgrade setuptools to 67.6.1"
  news/setuptools.vendor.rst
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/pkg_resources.patch
Labels: bot:chronographer:provided

#11987 Revert addition of "base" config location
  docs/html/topics/configuration.md
  news/11987.bugfix.rst
  src/pip/_internal/configuration.py
  tests/unit/test_configuration.py
  tests/unit/test_options.py
Labels: bot:chronographer:provided

#11997 Vendor setuptools 67.7.2
  news/setuptools.vendor.rst
  src/pip/_internal/cli/main.py
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/pkg_resources.patch
Labels: bot:chronographer:provided
