Repository pypa/pip, pull requests merged in 2023-03, with the labels that each got.

#11862 Replace deprecated `BadZipfile` with `BadZipFile`
  src/pip/_internal/network/lazy_wheel.py
Labels: skip news

#11848 🔧 Add an explicit Chronographer config
  .github/chronographer.yml
Labels: skip news, C: automation, type: maintenance

#11842 Quote extras to guard shells with glob qualifiers
  docs/html/cli/pip_install.rst
  news/11842.doc.rst
Labels: type: docs, bot:chronographer:provided

#11870 Fix typo in the #11681 news entry
  news/11681.feature.rst
Labels: type: docs, skip news

#11860 Stop `--no-binary` implying `setup.py install`
  news/11451.removal.rst
  src/pip/_internal/commands/install.py
  src/pip/_internal/utils/deprecation.py
  src/pip/_internal/wheel_builder.py
  tests/functional/test_install.py
  tests/functional/test_install_config.py
  tests/unit/test_wheel_builder.py
Labels: project: setuptools, type: deprecation

#11858 Remove deprecated `--install-option`
  docs/html/reference/requirements-file-format.md
  news/11358.removal.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/operations/install/editable_legacy.py
  src/pip/_internal/operations/install/legacy.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/utils/distutils_args.py
  src/pip/_internal/utils/setuptools_build.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/unit/test_command_install.py
  tests/unit/test_req_file.py
  tests/unit/test_utils_distutils_args.py
Labels: project: setuptools, type: deprecation, bot:chronographer:provided

#11873 Simplify check_legacy_setup_py_options
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/req/req_install.py
Labels: skip news

#11763 Refine direct URL spec links in install report and inspect docs
  docs/html/reference/inspect-report.md
  docs/html/reference/installation-report.md
Labels: type: docs, skip news

#10937 Present found conflicts when discarding some criterion
  news/10937.feature.rst
  src/pip/_internal/resolution/resolvelib/reporter.py
Labels: bot:chronographer:provided

#11895 xfail test_pip_wheel_ext_module_with_tmpdir_inside
  tests/functional/test_wheel.py
Labels: skip news, type: maintenance

#11883 Make sphinx.ext.extlinks captions actual string templates
  docs/html/conf.py
Labels: skip news

#11879 Upgrade resolvelib to 1.0.1
  news/resolvelib.vendor.rst
  src/pip/_vendor/resolvelib/__init__.py
  src/pip/_vendor/resolvelib/resolvers.py
  src/pip/_vendor/vendor.txt
Labels: C: dependency resolution, skip news, project: vendored dependency

#11871 Always use pep 517 when the 'wheel' package is absent
  news/8559.removal.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/pyproject.py
  src/pip/_internal/utils/deprecation.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/wheel_builder.py
  tests/conftest.py
  tests/data/packages/BrokenEmitsUTF8/setup.py
  tests/functional/test_download.py
  tests/functional/test_freeze.py
  tests/functional/test_inspect.py
  tests/functional/test_install.py
  tests/functional/test_install_cleanup.py
  tests/functional/test_install_compat.py
  tests/functional/test_install_config.py
  tests/functional/test_install_direct_url.py
  tests/functional/test_install_index.py
  tests/functional/test_install_report.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_requested.py
  tests/functional/test_install_upgrade.py
  tests/functional/test_install_user.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_install_wheel.py
  tests/functional/test_list.py
  tests/functional/test_pep660.py
  tests/functional/test_uninstall.py
  tests/functional/test_wheel.py
  tests/unit/test_wheel_builder.py
Labels: project: setuptools, type: deprecation, bot:chronographer:provided

#11906 Tweak the Chronographer configuration
  .github/chronographer.yml
Labels: skip news

#11702 Configure sphinx-copybutton to strip prompts
  docs/html/conf.py
  news/11702.trivial.rst
Labels: bot:chronographer:provided

#11861 Deprecate --build-option and --global-option
  news/11859.removal.rst
  src/pip/_internal/req/req_install.py
  tests/functional/test_install.py
Labels: project: setuptools, type: deprecation, bot:chronographer:provided

#11719 Norm path before compare
  news/11719.bugfix.rst
  src/pip/_internal/operations/install/wheel.py
  tests/unit/test_wheel.py
Labels: bot:chronographer:provided

#11875 Simplify direct_url.json generation
  src/pip/_internal/req/req_install.py
Labels: skip news, type: maintenance

#11907 Drop auto-labeling of PRs that are out of date
  .github/workflows/label-merge-conflicts.yml
Labels: skip news

#11908 Reduce resolver rounds by an order of magnitude
  news/11908.feature.rst
  src/pip/_internal/resolution/resolvelib/resolver.py
Labels: type: enhancement, bot:chronographer:provided

#11872 Remove `--no-binary` disabling wheel cache
  news/11453.removal.rst
  src/pip/_internal/cache.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  tests/functional/test_install.py
  tests/unit/test_cache.py
  tests/unit/test_req.py
Labels: project: setuptools, type: deprecation, bot:chronographer:provided

#11874 Drop `setup.py install` support
  docs/html/reference/build-system/setup-py.md
  news/8368.removal.rst
  src/pip/_internal/commands/install.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/operations/install/legacy.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/utils/deprecation.py
  src/pip/_internal/utils/setuptools_build.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_show.py
  tests/unit/test_req_file.py
Labels: project: setuptools, type: deprecation, bot:chronographer:provided
