Repository pypa/pip, pull requests merged in 2023-09, with the labels that each got.

#12252 GitHub Actions: setup-python allow-prereleases for Py3.12
  .github/workflows/ci.yml
  news/12252.trivial.rst
Labels: bot:chronographer:provided

#12224 Add is_yanked to installation report
  docs/html/reference/installation-report.md
  news/12224.feature.rst
  src/pip/_internal/models/installation_report.py
  tests/functional/test_install_report.py
Labels: bot:chronographer:provided

#12254 Update security policy
  SECURITY.md
  news/12254.process.rst
Labels: bot:chronographer:provided

#12255 Fix typos in dep resolution notes doc
  docs/html/topics/more-dependency-resolution.md
Labels: type: docs, skip news

#12217 Only error about missing `--target` is missing `--dry-run`.
  news/12215.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  tests/functional/test_install.py
Labels: bot:chronographer:provided

#12246 Ruff rules ASYNC,C4,C90,PERF,PLE
  .pre-commit-config.yaml
  news/4A0C40FF-ABE1-48C7-954C-7C3EB229135F.trivial.rst
  pyproject.toml
  src/pip/_internal/cache.py
  src/pip/_internal/cli/autocompletion.py
  src/pip/_internal/commands/cache.py
  src/pip/_internal/commands/debug.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/locations/_distutils.py
  src/pip/_internal/models/installation_report.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/req/req_uninstall.py
  tests/functional/test_cache.py
  tests/functional/test_help.py
  tests/functional/test_list.py
  tests/lib/__init__.py
  tests/unit/test_logging.py
  tests/unit/test_req_uninstall.py
  tests/unit/test_self_check_outdated.py
  tests/unit/test_target_python.py
  tests/unit/test_vcs.py
Labels: bot:chronographer:provided

#12261 pre-commit autoupdate except mypy
  .pre-commit-config.yaml
  news/12261.trivial.rst
Labels: bot:chronographer:provided

#12265 Exclude PR #9634 reformatting from Git blame
  .git-blame-ignore-revs
Labels: skip news, type: maintenance

#12271 Update search command docs
  docs/html/cli/pip_search.rst
  news/12059.doc.rst
Labels: bot:chronographer:provided

#12276 Skip test failing on new Python/setuptools combo
  tests/functional/test_install_extras.py
Labels: skip news

#12286 Clarify --prefer-binary in cli help and docs
  news/12122.doc.rst
  src/pip/_internal/cli/cmdoptions.py
Labels: bot:chronographer:provided

#12209 Enable mypy's strict equality checks
  news/E2B261CA-A0CF-4309-B808-1210C0B54632.trivial.rst
  setup.cfg
  src/pip/_internal/utils/temp_dir.py
  tests/functional/test_list.py
  tests/lib/__init__.py
  tests/unit/test_network_auth.py
  tests/unit/test_options.py
  tests/unit/test_target_python.py
Labels: bot:chronographer:provided

#12294 Follow imports for more vendored dependencies
  news/12AE57EC-683C-4A8E-BCCB-851FCD0730B4.trivial.rst
  setup.cfg
Labels: bot:chronographer:provided

#12107 Vendor truststore
  docs/html/topics/https-certificates.md
  news/truststore.vendor.rst
  noxfile.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/debug.py
  src/pip/_vendor/__init__.py
  src/pip/_vendor/truststore/LICENSE
  src/pip/_vendor/truststore/__init__.py
  src/pip/_vendor/truststore/_api.py
  src/pip/_vendor/truststore/_macos.py
  src/pip/_vendor/truststore/_openssl.py
  src/pip/_vendor/truststore/_ssl_constants.py
  src/pip/_vendor/truststore/_windows.py
  src/pip/_vendor/truststore/py.typed
  src/pip/_vendor/vendor.txt
  tests/functional/test_truststore.py
Labels: bot:chronographer:provided

#11143 New HTTP cache with lower memory usage
  docs/html/topics/caching.md
  news/2984.bugfix.rst
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/cache.py
  src/pip/_internal/network/cache.py
  src/pip/_vendor/cachecontrol.pyi
  src/pip/_vendor/cachecontrol/__init__.py
  src/pip/_vendor/cachecontrol/_cmd.py
  src/pip/_vendor/cachecontrol/adapter.py
  src/pip/_vendor/cachecontrol/cache.py
  src/pip/_vendor/cachecontrol/caches/__init__.py
  src/pip/_vendor/cachecontrol/caches/file_cache.py
  src/pip/_vendor/cachecontrol/caches/redis_cache.py
  src/pip/_vendor/cachecontrol/compat.py
  src/pip/_vendor/cachecontrol/controller.py
  src/pip/_vendor/cachecontrol/filewrapper.py
  src/pip/_vendor/cachecontrol/heuristics.py
  src/pip/_vendor/cachecontrol/py.typed
  src/pip/_vendor/cachecontrol/serialize.py
  src/pip/_vendor/cachecontrol/wrapper.py
  src/pip/_vendor/vendor.txt
  tests/functional/test_cache.py
  tests/unit/test_network_cache.py
Labels: bot:chronographer:provided
