Repository pypa/pip, pull requests merged in 2023-07, with the labels that each got.

#12119 Pass revisions options explicitly to mercurial commands
  news/12119.bugfix.rst
  src/pip/_internal/vcs/mercurial.py
  tests/unit/test_vcs.py
Labels: C: vcs, bot:chronographer:provided

#12120 Record download of completed partial requirements
  news/11847.bugfix.rst
  src/pip/_internal/operations/prepare.py
Labels: bot:chronographer:provided

#11945 Surface LegacyVersion and LegacySpecifier deprecation warnings
  news/12063.removal.rst
  src/pip/_internal/commands/check.py
  src/pip/_internal/commands/download.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/req_set.py
Labels: bot:chronographer:provided

#12091 Use strict optional checking in glibc
  news/5C12428B-09FA-49BC-A886-6F5D8885BC14.trivial.rst
  src/pip/_internal/utils/glibc.py
Labels: bot:chronographer:provided

#12032 Don't exclude setuptools, distribute & wheel from freeze output on Python 3.12+
  news/4256.removal.rst
  src/pip/_internal/commands/freeze.py
  tests/functional/test_freeze.py
Labels: bot:chronographer:provided

#12136 Update vendored urllib3 from 1.26.15 to 1.26.16
  news/urllib3.vendor.rst
  src/pip/_vendor/urllib3/_version.py
  src/pip/_vendor/urllib3/connectionpool.py
  src/pip/_vendor/urllib3/packages/backports/weakref_finalize.py
  src/pip/_vendor/urllib3/poolmanager.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12137 Fix deprecation warnings in Python 3.12 for usage of shutil.rmtree
  news/11957.bugfix.rst
  src/pip/_internal/utils/misc.py
Labels: bot:chronographer:provided

#11417 Fix `pip completion --zsh`
  news/11416.bugfix.rst
  src/pip/_internal/commands/completion.py
  tests/functional/test_completion.py
Labels: bot:chronographer:provided

#12148 Correct typo in 23.2 Changelog Bug Fixes
  NEWS.rst
Labels: skip news

#11382 Use strict optional checking in misc.py
  news/14514698-7F32-4890-97C1-7403A685733D.trivial.rst
  src/pip/_internal/network/session.py
  src/pip/_internal/utils/misc.py
Labels: bot:chronographer:provided

#12163 Disable PEP 658 for the legacy resolver
  news/12156.bugfix.rst
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/operations/prepare.py
  tests/unit/test_req.py
Labels: bot:chronographer:provided

#12175 Drop a fallback to using SecureTransport on macOS
  news/12175.removal.rst
  src/pip/_internal/__init__.py
  src/pip/_internal/utils/inject_securetransport.py
Labels: bot:chronographer:provided

#12127 Test suite support for Python 3.12
  .github/workflows/ci.yml
  docs/html/installation.md
  noxfile.py
  tests/conftest.py
  tests/functional/test_build_env.py
  tests/functional/test_install.py
  tests/functional/test_uninstall.py
  tests/lib/venv.py
Labels: skip news

#11394 Ignore errors in temporary directory cleanup
  news/11394.bugfix.rst
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/temp_dir.py
  tests/unit/test_utils.py
  tests/unit/test_utils_temp_dir.py
Labels: bot:chronographer:provided

#12187 synthesize a traceback to get a normal exc_info from an exception
  news/12187.bugfix.rst
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/temp_dir.py
Labels: bot:chronographer:provided

#12188 Move metadata-fetching log to VERBOSE level
  news/12155.process.rst
  src/pip/_internal/operations/prepare.py
Labels: bot:chronographer:provided
