Repository pypa/pip, pull requests merged in 2024-12, with the labels that each got.

#13085 Import self version check eagerly in install command to fix RCE
  news/13079.bugfix.rst
  src/pip/_internal/commands/install.py
Labels: bot:chronographer:provided

#12659 Convert more record classes to dataclasses
  news/c33bb4df-d6ab-4d9b-8113-55c27a237dfd.trivial.rst
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/operations/freeze.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/resolution/resolvelib/factory.py
  tests/unit/test_index.py
Labels: type: refactor, bot:chronographer:provided, awaiting merge

#13032 Correct typos in docs and code comments
  docs/html/development/architecture/command-line-interface.rst
  docs/html/development/architecture/overview.rst
  docs/html/ux-research-design/research-results/improving-pips-documentation.md
  docs/html/ux-research-design/research-results/personas.md
  docs/html/ux-research-design/research-results/pip-force-reinstall.md
  docs/html/ux-research-design/research-results/prioritizing-features.md
  docs/html/ux-research-design/research-results/users-and-security.md
  news/13031.trivial.rst
  src/pip/_internal/configuration.py
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/importlib/_dists.py
  src/pip/_internal/pyproject.py
Labels: bot:chronographer:provided

#13106 Remove gone_in for issue 11859 (deprecation of --build-option and --global-option)
  src/pip/_internal/req/req_install.py
Labels: skip news

#13064 Skip self version check on EXTERNALLY-MANAGED environments
  news/11820.bugfix.rst
  src/pip/_internal/self_outdated_check.py
  tests/unit/test_self_check_outdated.py
Labels: bot:chronographer:provided

#13070 Inherit HTTP cache file read/write permissions from cache directory
  news/11012.feature.rst
  src/pip/_internal/network/cache.py
  tests/unit/test_network_cache.py
Labels: bot:chronographer:provided

#13107 Remove unused news file GHA workflow and bot config
  .github/triage-new-issues.yml
  .github/workflows/news-file.yml
Labels: skip news, type: maintenance

#13110 Fix options and default in `--keyring-provider` help
  news/a6275be8-84ca-48bf-98dc-1ccb196e7f47.trivial.rst
  src/pip/_internal/cli/cmdoptions.py
Labels: bot:chronographer:provided

#13108 Return file size along with count on cache purge or removal
  news/12176.feature.rst
  src/pip/_internal/commands/cache.py
  tests/functional/test_cache.py
Labels: bot:chronographer:provided

#13063 Pass CA and client TLS certificates to build subprocesses
  news/5502.bugfix.rst
  src/pip/_internal/build_env.py
  src/pip/_internal/index/package_finder.py
  src/pip/_vendor/requests/certs.py
  tests/functional/test_install.py
  tools/vendoring/patches/requests.patch
Labels: bot:chronographer:provided

#13116 Add missing space in running as root warning message
  src/pip/_internal/utils/misc.py
Labels: skip news

#12869 Rerun time based retry tests to avoid flaky failures
  news/36c500b0-9c6e-49ca-bbdb-774ef0adbbfb.trivial.rst
  tests/unit/test_utils_retry.py
Labels: bot:chronographer:provided

#13122 Remove redundant prefix in failed PEP 517 builds error message
  src/pip/_internal/commands/install.py
Labels: skip news

#13118 Speed up nox docs sessions
  noxfile.py
Labels: type: docs, skip news

#13126 Faster test session reruns & microoptimize CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  noxfile.py
Labels: C: tests, skip news

#12455 Remove section about non-existing `--force-keyring` flag
  docs/html/topics/authentication.md
  news/12455.doc.rst
Labels: type: docs, bot:chronographer:provided

#13129 ci: use much faster D: drive for TEMP on Windows
  .github/workflows/ci.yml
Labels: skip news

#13137 Trim pyproject.toml and MANIFEST.in
  MANIFEST.in
  pyproject.toml
Labels: skip news, type: maintenance
