Repository pypa/pip, pull requests merged in 2024-01, with the labels that each got.

#12449 Stop injecting `wheel` as a build dep fallback
  docs/html/reference/build-system/pyproject-toml.md
  news/12449.bugfix.rst
  news/12449.doc.rst
  src/pip/_internal/pyproject.py
Labels: type: bug, type: docs, project: setuptools, PEP implementation, C: PEP 517 impact, bot:chronographer:provided

#12475 Update supported interpreters in development docs
  docs/html/development/ci.rst
  news/12475.doc.rst
Labels: bot:chronographer:provided

#12477 Update legacy editables support for compatibility with setuptools >= 69
  news/12477.feature.rst
  src/pip/_internal/utils/egg_link.py
  tests/functional/test_check.py
  tests/functional/test_freeze.py
  tests/functional/test_install.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_vcs_git.py
  tests/functional/test_new_resolver.py
  tests/functional/test_show.py
  tests/lib/__init__.py
Labels: bot:chronographer:provided

#12454 Upgrade linters
  .pre-commit-config.yaml
  src/pip/_internal/req/req_uninstall.py
  tests/unit/test_vcs.py
Labels: skip news

#12492 Postpone removal of --global-option and --build-option
  src/pip/_internal/req/req_install.py
Labels: skip news

#12491 Postpone removal of legacy versions and specifiers support
  src/pip/_internal/operations/check.py
  src/pip/_internal/req/req_set.py
Labels: skip news

#12490 Tweak news fragment
  news/12477.feature.rst
Labels: skip news

#12493 Upgrade distlib to 0.3.8
  news/distlib.vendor.rst
  src/pip/_vendor/distlib/__init__.py
  src/pip/_vendor/distlib/compat.py
  src/pip/_vendor/distlib/database.py
  src/pip/_vendor/distlib/index.py
  src/pip/_vendor/distlib/locators.py
  src/pip/_vendor/distlib/manifest.py
  src/pip/_vendor/distlib/markers.py
  src/pip/_vendor/distlib/metadata.py
  src/pip/_vendor/distlib/scripts.py
  src/pip/_vendor/distlib/util.py
  src/pip/_vendor/distlib/version.py
  src/pip/_vendor/distlib/wheel.py
  src/pip/_vendor/vendor.txt
  tests/functional/test_uninstall.py
Labels: bot:chronographer:provided

#12327 Optimize --find-links=<path-to-dir>
  news/12327.bugfix.rst
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/sources.py
  tests/functional/test_install_config.py
  tests/unit/test_collector.py
  tests/unit/test_finder.py
Labels: bot:chronographer:provided

#11917 Let --config-settings imply PEP 517
  news/11915.feature.rst
  src/pip/_internal/req/req_install.py
  tests/functional/test_config_settings.py
Labels: type: deprecation, C: build logic, bot:chronographer:provided

#12501 DOC: fix a small typo: "an newer"
  docs/html/reference/build-system/pyproject-toml.md
  news/fixtypo.trivial.rst
Labels: bot:chronographer:provided

#12494 Support per-requirement --config-settings for editables
  news/12480.feature.rst
  src/pip/_internal/req/req_file.py
  tests/functional/test_pep660.py
Labels: bot:chronographer:provided
