Repository pypa/pip, pull requests merged in 2024-10, with the labels that each got.

#12964 Correct usage of invalid file URL in test
  news/12964.trivial.rst
  tests/functional/test_bad_url.py
Labels: bot:chronographer:provided

#12951 GitHub Actions: Replace deprecated macos-12 with macos-13
  .github/workflows/ci.yml
Labels: skip news, awaiting merge

#12678 Update classifier to support Python 3.13
  news/12678.trivial.rst
  pyproject.toml
Labels: bot:chronographer:provided

#12939 Update non PEP 440 wheel filename deprecation notice
  news/12939.trivial.rst
  src/pip/_internal/models/wheel.py
Labels: bot:chronographer:provided

#13005 Update docs to reflect 3.13's inclusion in CI
  docs/html/development/ci.rst
  docs/html/installation.md
Labels: skip news

#12929 Upgrade truststore to 0.9.2
  news/truststore.vendor.rst
  src/pip/_vendor/truststore/__init__.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13007 Don't test Python 3.12 on Windows now 3.13 is final
  .github/workflows/ci.yml
  docs/html/development/ci.rst
Labels: skip news

#13009 Postpone removal of #12330
  src/pip/_internal/metadata/importlib/_envs.py
Labels: skip news

#13013 Remove InvalidVersion exception catch for parse_{sdist,wheel}_filename
  news/13013.trivial.rst
  src/pip/_internal/index/sources.py
Labels: bot:chronographer:provided

#13012 Clean up non PEP 440 wheel filename deprecation language
  news/13012.trivial.rst
  src/pip/_internal/models/wheel.py
  tests/unit/test_models_wheel.py
Labels: bot:chronographer:provided

#12953 Diagnostic error when processing package already installed with invalid requirement
  news/12953.bugfix.rst
  src/pip/_internal/exceptions.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: bot:chronographer:provided

#13022 Upgrade to mypy 1.12.1
  .pre-commit-config.yaml
  news/10EC0CC0-C535-4B04-8924-CBF3DAA3315D.trivial.rst
  src/pip/_internal/cli/parser.py
  src/pip/_internal/cli/progress_bars.py
  src/pip/_internal/locations/_distutils.py
  src/pip/_internal/network/lazy_wheel.py
  src/pip/_internal/utils/misc.py
  tests/lib/test_wheel.py
  tests/lib/wheel.py
Labels: bot:chronographer:provided

#13041 Upgrade vendored truststore to 0.10.0
  news/truststore.vendor.rst
  src/pip/_vendor/truststore/__init__.py
  src/pip/_vendor/truststore/_api.py
  src/pip/_vendor/truststore/_macos.py
  src/pip/_vendor/truststore/_windows.py
  src/pip/_vendor/vendor.txt
Labels: skip news

#13033 Vendoring bumps for 24.3
  news/certifi.vendor.rst
  news/distlib.vendor.rst
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/distlib/__init__.py
  src/pip/_vendor/distlib/compat.py
  src/pip/_vendor/distlib/database.py
  src/pip/_vendor/distlib/locators.py
  src/pip/_vendor/distlib/markers.py
  src/pip/_vendor/distlib/metadata.py
  src/pip/_vendor/distlib/scripts.py
  src/pip/_vendor/distlib/util.py
  src/pip/_vendor/distlib/version.py
  src/pip/_vendor/distlib/wheel.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/distlib.patch
Labels: bot:chronographer:provided

#13047 Don't fail when the same req file is included more than once
  news/13046.bugfix.rst
  src/pip/_internal/req/req_file.py
  tests/unit/test_req_file.py
Labels: bot:chronographer:provided
