Repository pypa/pip, pull requests merged in 2024-09, with the labels that each got.

#12944 Upgrade urllib3 to 1.26.20
  news/urllib3.vendor.rst
  src/pip/_vendor/urllib3/_version.py
  src/pip/_vendor/urllib3/connectionpool.py
  src/pip/_vendor/urllib3/util/ssl_.py
  src/pip/_vendor/vendor.txt
Labels: skip news

#12946 Remove cffi workaround in tests requirements
  news/A454782D-6619-44D8-811F-2C1973A430BB.trivial.rst
  tests/requirements.txt
Labels: bot:chronographer:provided, awaiting merge

#12877 Detect recursively referencing requirements files
  news/12653.feature.rst
  src/pip/_internal/req/req_file.py
  tests/unit/test_req_file.py
Labels: bot:chronographer:provided

#12936 Enforce ruff/pyupgrade rules (UP)
  pyproject.toml
  src/pip/_internal/cli/index_command.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/search.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/req/constructors.py
  tests/functional/test_search.py
  tests/unit/resolution_resolvelib/test_provider.py
  tests/unit/resolution_resolvelib/test_resolver.py
Labels: skip news
