Repository pypa/pip, pull requests merged in 2024-03, with the labels that each got.

#12415 Fix tests when NO_COLOR is set in the calling environment
  .github/workflows/ci.yml
  news/7ae28a10-04c4-4a1f-a276-4c9e04f2e0c1.trivial.rst
  tests/conftest.py
  tests/functional/test_inspect.py
Labels: bot:chronographer:provided

#12539 Towncrier: move process section to the end
  pyproject.toml
Labels: skip news

#12545 Use `build` to create `pip` sdist for testing
  news/12545.trivial.rst
  noxfile.py
  tests/conftest.py
Labels: bot:chronographer:provided

#12559 Fix Ubuntu CI tests
  .github/workflows/ci.yml
  news/12559.trivial.rst
Labels: bot:chronographer:provided

#12553 Add missing word to installation-error message
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: skip news

#12546 Minor grammar fix in dependency-resolution.md
  docs/html/topics/dependency-resolution.md
Labels: type: docs, skip news

#12561 Remove unneeded installs from zipapp ci tests
  .github/workflows/ci.yml
  news/12561.trivial.rst
Labels: bot:chronographer:provided

#12562 Update Windows CI tests to run on Python 3.12
  .github/workflows/ci.yml
  news/12562.trivial.rst
  tests/functional/test_uninstall.py
Labels: bot:chronographer:provided

#12519 Fix remaining usages of `default-timeout` in docs
  docs/html/topics/configuration.md
Labels: skip news

#12558 Improve the error for failed PEP 517 builds
  news/7f9639a2-df21-4e0c-9023-80f00fd71d20.trivial.rst
  src/pip/_internal/commands/install.py
Labels: bot:chronographer:provided

#12576 Display env vars for pip options in docs
  docs/pip_sphinxext.py
  news/12576.doc.rst
Labels: bot:chronographer:provided

#12578 Pass -vv to pip install build env subprocess
  news/12577.bugfix.rst
  src/pip/_internal/build_env.py
Labels: bot:chronographer:provided

#12587 DOC: Clarify lack of index priority
  docs/html/cli/pip_install.rst
  news/91d23d4d-a9cc-442f-a569-c46e0bdc3e64.trivial.rst
Labels: bot:chronographer:provided

#12579 Remove duplication from invalid wheel error message
  news/12579.bugfix.rst
  src/pip/_internal/metadata/importlib/_dists.py
  src/pip/_internal/utils/wheel.py
Labels: bot:chronographer:provided

#12517 Strip RIGHT-TO-LEFT OVERRIDE and LEFT-TO-RIGHT OVERRIDE characters from AUTHORS.txt
  AUTHORS.txt
  tools/release/__init__.py
Labels: skip news

#12462 Prep removal of `importlib.resources.open_text`.
  news/23f96da0-5535-40c4-ad79-3feb7f694ec2.trivial.rst
  src/pip/_internal/commands/debug.py
  src/pip/_internal/utils/compat.py
Labels: bot:chronographer:provided

#12066 Improve docs for --root-user-action option
  news/514f0c13-84ee-4d81-8465-bae74e370d0b.trivial.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/req_command.py
Labels: bot:chronographer:provided

#12586 Add simple download progress option
  docs/html/user_guide.rst
  news/11508.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/progress_bars.py
Labels: bot:chronographer:provided
