Repository pypa/pip, pull requests merged in 2024-04, with the labels that each got.

#12401 Handle missing COMP_WORDS and COMP_CWORD in completion script
  news/12401.bugfix.rst
  src/pip/_internal/cli/autocompletion.py
  tests/functional/test_completion.py
Labels: bot:chronographer:provided

#11091 Make proxy parameter override environment proxy
  news/10685.bugfix.rst
  src/pip/_internal/cli/req_command.py
  tests/functional/test_proxy.py
  tests/requirements.txt
Labels: bot:chronographer:provided

#12615 fix: uses RST substitution to put badges in 1 line
  README.rst
  news/12615.trivial.rst
Labels: bot:chronographer:provided

#12569 show: populate missing home-page from project-urls if possible
  news/11221.feature.rst
  src/pip/_internal/commands/show.py
  tests/functional/test_show.py
Labels: bot:chronographer:provided

#12563 Cache the user agent
  src/pip/_internal/network/session.py
  tests/unit/test_network_session.py
Labels: skip news

#12595 Update ruff to v0.3.6
  .pre-commit-config.yaml
  news/12595.trivial.rst
  pyproject.toml
  src/pip/_internal/commands/search.py
  src/pip/_internal/models/candidate.py
  src/pip/_internal/operations/build/build_tracker.py
  src/pip/_internal/operations/build/wheel_legacy.py
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/req/req_install.py
  src/pip/_internal/req/req_uninstall.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/utils/direct_url_helpers.py
  tests/functional/test_build_env.py
  tests/functional/test_new_resolver_hashes.py
  tests/unit/test_collector.py
Labels: bot:chronographer:provided

#10745 Expand UX documentation to include 2020 research
  docs/html/index.md
  docs/html/ux-research-design/contribute.md
  docs/html/ux-research-design/guidance.md
  docs/html/ux-research-design/index.md
  docs/html/ux-research-design/research-results/about-our-users.md
  docs/html/ux-research-design/research-results/ci-cd.md
  docs/html/ux-research-design/research-results/improving-pips-documentation.md
  docs/html/ux-research-design/research-results/index.md
  docs/html/ux-research-design/research-results/mental-models.md
  docs/html/ux-research-design/research-results/override-conflicting-dependencies.md
  docs/html/ux-research-design/research-results/personas.md
  docs/html/ux-research-design/research-results/pip-force-reinstall.md
  docs/html/ux-research-design/research-results/pip-search.md
  docs/html/ux-research-design/research-results/pip-upgrade-conflict.md
  docs/html/ux-research-design/research-results/prioritizing-features.md
  docs/html/ux-research-design/research-results/users-and-security.md
  docs/html/ux_research_design.rst
  news/10745.doc.rst
Labels: bot:chronographer:provided

#12594 Update black to 24.4.0
  .pre-commit-config.yaml
  news/12594.trivial.rst
  src/pip/_internal/__init__.py
  src/pip/_internal/cli/main.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/models/direct_url.py
  src/pip/_internal/models/scheme.py
  src/pip/_internal/models/search_scope.py
  src/pip/_internal/models/target_python.py
  src/pip/_internal/models/wheel.py
  src/pip/_internal/network/auth.py
  src/pip/_internal/network/download.py
  src/pip/_internal/operations/install/editable_legacy.py
  src/pip/_internal/resolution/legacy/resolver.py
  src/pip/_internal/utils/deprecation.py
  src/pip/_internal/utils/logging.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/functional/test_cli.py
  tests/functional/test_completion.py
  tests/functional/test_configuration.py
  tests/functional/test_hash.py
  tests/functional/test_install_compat.py
  tests/functional/test_install_reqs.py
  tests/functional/test_install_user.py
  tests/functional/test_new_resolver.py
  tests/functional/test_no_color.py
  tests/functional/test_uninstall_user.py
  tests/functional/test_vcs_git.py
  tests/functional/test_wheel.py
  tests/lib/__init__.py
  tests/lib/filesystem.py
  tests/lib/test_lib.py
  tests/lib/test_wheel.py
  tests/lib/wheel.py
  tests/unit/test_locations.py
  tests/unit/test_options.py
  tests/unit/test_req_file.py
  tests/unit/test_utils.py
  tests/unit/test_utils_subprocess.py
  tests/unit/test_wheel.py
  tools/update-rtd-redirects.py
Labels: bot:chronographer:provided

#12624 Fix link for open UX issues
  docs/html/ux-research-design/contribute.md
  docs/html/ux-research-design/guidance.md
  docs/html/ux-research-design/research-results/index.md
  news/5a771372-fb26-11ee-8cc4-f72623cb6607.trivial.rst
Labels: bot:chronographer:provided

#12571 Use dataclasses more liberally throughout the codebase
  news/f14947e7-deea-4e17-bdc2-dd8dab2a1fa5.trivial.rst
  src/pip/_internal/index/collector.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/locations/_sysconfig.py
  src/pip/_internal/models/candidate.py
  src/pip/_internal/models/direct_url.py
  src/pip/_internal/models/link.py
  src/pip/_internal/models/scheme.py
  src/pip/_internal/models/search_scope.py
  src/pip/_internal/models/selection_prefs.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/__init__.py
  src/pip/_internal/req/constructors.py
  src/pip/_internal/resolution/resolvelib/base.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/models.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_models.py
Labels: bot:chronographer:provided

#12630 Add `render: shell` to the bug report template to format output as code
  .github/ISSUE_TEMPLATE/bug-report.yml
  news/12630.trivial.rst
Labels: bot:chronographer:provided

#12639 Replace captured_output() and get_url_scheme() with stdlib alternatives
  news/c678d9e3-4844-4298-a46c-80768b38f652.trivial.rst
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/req/req_file.py
  src/pip/_internal/utils/misc.py
  src/pip/_internal/utils/urls.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_logging.py
  tests/unit/test_urls.py
Labels: bot:chronographer:provided

#11051 fix svn and bazaar failing to checkout in verbose mode
  news/11050.bugfix.rst
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/subversion.py
  tests/unit/test_vcs.py
Labels: bot:chronographer:provided

#12641 Clearly document the legacy resolver as unsupported
  docs/html/user_guide.rst
  news/b2631650-69cc-4747-8a50-24e574a0ae57.trivial.rst
Labels: bot:chronographer:provided

#12122 Add a warning to "Fallback behavior" doc snippet
  docs/html/reference/build-system/pyproject-toml.md
  news/12122.doc.rst
Labels: bot:chronographer:provided

#12622 Bump pre-commit hooks
  .pre-commit-config.yaml
  news/a870a527-a6ea-46fd-b4aa-c0b0d9b669b0.trivial.rst
  src/pip/_internal/metadata/_json.py
Labels: bot:chronographer:provided

#11471 Fix typo in test_provider.py
  tests/unit/resolution_resolvelib/test_provider.py
Labels: skip news

#12043 Fix direct usage of pip.pyz example
  docs/html/installation.md
  news/12043.doc.rst
Labels: bot:chronographer:provided

#10751 Fix inconsistency in dependency resolution documentation
  docs/html/topics/dependency-resolution.md
  news/10751.trivial.rst
Labels: skip news

#12628 Add codespell pre-commit hook
  .pre-commit-config.yaml
  NEWS.rst
  docs/html/ux-research-design/research-results/improving-pips-documentation.md
  docs/html/ux-research-design/research-results/personas.md
  docs/html/ux-research-design/research-results/pip-upgrade-conflict.md
  docs/html/ux-research-design/research-results/prioritizing-features.md
  docs/html/ux-research-design/research-results/users-and-security.md
  news/287f037c-108f-48dd-80a0-489921a6b2f3.trivial.rst
  src/pip/_internal/cache.py
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/utils/_jaraco_text.py
  tests/conftest.py
  tests/functional/test_cli.py
  tests/functional/test_install.py
  tests/functional/test_new_resolver_user.py
  tests/unit/test_collector.py
  tools/codespell-ignore.txt
Labels: bot:chronographer:provided

#12295 Use strict optional checking in legacy resolver
  news/4CCE4788-B8B3-402E-9A88-2981AD074999.trivial.rst
  src/pip/_internal/resolution/legacy/resolver.py
Labels: bot:chronographer:provided

#12453 Cache is_satisfied_by
  news/12453.feature.rst
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/factory.py
  src/pip/_internal/resolution/resolvelib/provider.py
  src/pip/_internal/resolution/resolvelib/requirements.py
  tests/unit/resolution_resolvelib/test_requirement.py
Labels: bot:chronographer:provided

#12646 list: disable pip version self check unless given --outdated/--uptodate
  news/11677.feature.rst
  src/pip/_internal/commands/list.py
  tests/unit/test_commands.py
Labels: bot:chronographer:provided

#12658 Pin GHA MacOS jobs to MacOS 12
  .github/workflows/ci.yml
Labels: skip news, type: maintenance

#12657 Cache calculated hashes for requirements and _InstallRequirementBackedCandidate
  news/12657.feature.rst
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/requirements.py
Labels: type: performance, bot:chronographer:provided
