Repository pypa/pip, pull requests merged in 2024-06, with the labels that each got.

#12740 Bump black, ruff, mypy, and codespell pre-commit hooks
  .pre-commit-config.yaml
  src/pip/_internal/cli/parser.py
  tests/unit/test_req_uninstall.py
  tools/codespell-ignore.txt
Labels: skip news

#12759 Upgrade packaging to 24.1
  news/packaging.vendor.rst
  src/pip/_vendor/packaging/__init__.py
  src/pip/_vendor/packaging/_elffile.py
  src/pip/_vendor/packaging/_manylinux.py
  src/pip/_vendor/packaging/_musllinux.py
  src/pip/_vendor/packaging/_parser.py
  src/pip/_vendor/packaging/_tokenizer.py
  src/pip/_vendor/packaging/markers.py
  src/pip/_vendor/packaging/metadata.py
  src/pip/_vendor/packaging/requirements.py
  src/pip/_vendor/packaging/specifiers.py
  src/pip/_vendor/packaging/tags.py
  src/pip/_vendor/packaging/utils.py
  src/pip/_vendor/packaging/version.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12715 Report detailed information about invalid requirements
  news/12713.feature.rst
  src/pip/_internal/req/constructors.py
  tests/unit/test_req.py
  tests/unit/test_req_file.py
  tests/unit/test_req_install.py
Labels: bot:chronographer:provided

#12711 Change the source of truth for `pkg_resources`' extras
  news/12688.bugfix.rst
  src/pip/_internal/metadata/pkg_resources.py
  tests/functional/test_install_extras.py
Labels: bot:chronographer:provided

#12764 Pause in `prepare-release` for updating the NEWS file
  noxfile.py
Labels: skip news

#12707 Upgrade truststore to 0.9.1
  news/truststore.vendor.rst
  src/pip/_vendor/truststore/__init__.py
  src/pip/_vendor/truststore/_api.py
  src/pip/_vendor/truststore/_macos.py
  src/pip/_vendor/truststore/_windows.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12774 Mark failing tests on Windows + Py3.13 as xfail
  tests/unit/test_collector.py
  tests/unit/test_urls.py
Labels: skip news

#12780 Document the structure of our release number
  docs/html/development/release-process.rst
Labels: type: docs, skip news

#12783 Minor release is the quarter number
  docs/html/development/release-process.rst
Labels: type: docs, skip news

#12773 Fix directories not cleaned up after test
  news/d475652f-fd8b-4be8-8057-411601597bee.trivial.rst
  tests/unit/test_utils.py
Labels: C: tests, bot:chronographer:provided

#12788 Split up Windows tests relying on urlunparse behaviour
  news/5407ea34-f9bf-4f17-a201-6546bdb9d5d2.trivial.rst
  tests/lib/__init__.py
  tests/unit/test_collector.py
  tests/unit/test_urls.py
Labels: bot:chronographer:provided

#12784 Upgrade requests to 2.32.3
  news/12784.vendor.rst
  src/pip/_vendor/requests/__version__.py
  src/pip/_vendor/requests/adapters.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12791 Optimise logic for displaying packages at the end of `pip install`
  news/12791.bugfix.rst
  src/pip/_internal/commands/install.py
  src/pip/_internal/metadata/importlib/_envs.py
Labels: type: enhancement, bot:chronographer:provided

#12755 Cache supported tags in resolver factory
  news/12712.feature.rst
  src/pip/_internal/resolution/resolvelib/factory.py
Labels: type: performance, bot:chronographer:provided
