Repository pypa/pip, pull requests merged in 2024-05, with the labels that each got.

#12665 Fix specifier in tests/requirements.txt
  tests/requirements.txt
Labels: skip news

#12662 Upgrade vendored truststore to 0.9.0
  news/truststore.vendor.rst
  src/pip/_vendor/truststore/__init__.py
  src/pip/_vendor/truststore/_api.py
  src/pip/_vendor/truststore/_macos.py
  src/pip/_vendor/truststore/_windows.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12671 Revert "Upgrade vendored truststore to 0.9.0"
  news/truststore.vendor.rst
  src/pip/_vendor/truststore/__init__.py
  src/pip/_vendor/truststore/_api.py
  src/pip/_vendor/truststore/_macos.py
  src/pip/_vendor/truststore/_windows.py
  src/pip/_vendor/vendor.txt
Labels: skip news

#12670 Upgrade various vendored dependencies
  news/CacheControl.vendor.rst
  news/idna.vendor.rst
  news/platformdirs.vendor.rst
  news/pyparsing.vendor.rst
  news/rich.vendor.rst
  news/setuptools.vendor.rst
  news/typing_extensions.vendor.rst
  pyproject.toml
  src/pip/_vendor/cachecontrol/__init__.py
  src/pip/_vendor/cachecontrol/adapter.py
  src/pip/_vendor/cachecontrol/caches/file_cache.py
  src/pip/_vendor/cachecontrol/controller.py
  src/pip/_vendor/cachecontrol/heuristics.py
  src/pip/_vendor/cachecontrol/serialize.py
  src/pip/_vendor/idna/LICENSE.md
  src/pip/_vendor/idna/core.py
  src/pip/_vendor/idna/idnadata.py
  src/pip/_vendor/idna/package_data.py
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/platformdirs/__init__.py
  src/pip/_vendor/platformdirs/__main__.py
  src/pip/_vendor/platformdirs/android.py
  src/pip/_vendor/platformdirs/api.py
  src/pip/_vendor/platformdirs/macos.py
  src/pip/_vendor/platformdirs/unix.py
  src/pip/_vendor/platformdirs/version.py
  src/pip/_vendor/platformdirs/windows.py
  src/pip/_vendor/pyparsing/__init__.py
  src/pip/_vendor/pyparsing/actions.py
  src/pip/_vendor/pyparsing/common.py
  src/pip/_vendor/pyparsing/core.py
  src/pip/_vendor/pyparsing/diagram/__init__.py
  src/pip/_vendor/pyparsing/exceptions.py
  src/pip/_vendor/pyparsing/helpers.py
  src/pip/_vendor/pyparsing/results.py
  src/pip/_vendor/pyparsing/testing.py
  src/pip/_vendor/pyparsing/unicode.py
  src/pip/_vendor/pyparsing/util.py
  src/pip/_vendor/rich/_cell_widths.py
  src/pip/_vendor/rich/text.py
  src/pip/_vendor/typing_extensions.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#12463 Migrate uninstallation errors to diagnostic error format
  news/10421.feature.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/req/req_uninstall.py
  tests/functional/test_uninstall.py
Labels: bot:chronographer:provided

#12669 Pre-load script wrapper code to avoid errors when pip is being upgraded
  news/12666.bugfix.rst
  src/pip/_vendor/distlib/scripts.py
  tests/functional/test_self_update.py
  tools/vendoring/patches/distlib.patch
Labels: bot:chronographer:provided

#12093 Add documentation for CLI architecture
  docs/html/development/architecture/command-line-interface.rst
  news/6831.doc.rst
Labels: bot:chronographer:provided

#12637 Avoid network/index related imports for pip uninstall & list (unless necessary)
  news/24ca5f01-e27e-41b1-9a9c-7e3a828e22d9.trivial.rst
  src/pip/_internal/cli/index_command.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/commands/install.py
  src/pip/_internal/commands/list.py
  src/pip/_internal/commands/uninstall.py
  src/pip/_internal/utils/misc.py
  tests/functional/test_cli.py
  tests/unit/test_base_command.py
  tests/unit/test_commands.py
Labels: type: refactor, type: performance, bot:chronographer:provided

#12214 PEP 721: Use the ``data_filter`` when extracting tarballs, if it's available.
  news/12111.feature.rst
  src/pip/_internal/utils/unpacking.py
  tests/unit/test_utils_unpacking.py
Labels: bot:chronographer:provided

#12684 Eagerly import `self_outdated_check` when modifying pip
  news/12675.bugfix.rst
  src/pip/_internal/commands/install.py
Labels: bot:chronographer:provided

#12698 Also patch time.time_ns() in unit tests
  tests/unit/test_base_command.py
Labels: skip news

#12695 Fix typo in _envs.py
  src/pip/_internal/metadata/importlib/_envs.py
Labels: skip news

#12682 Remove vendored six and webencodings
  .pre-commit-config.yaml
  MANIFEST.in
  news/six.vendor.rst
  news/webencodings.vendor.rst
  pyproject.toml
  src/pip/_vendor/__init__.py
  src/pip/_vendor/six.LICENSE
  src/pip/_vendor/six.py
  src/pip/_vendor/six/__init__.pyi
  src/pip/_vendor/six/moves/__init__.pyi
  src/pip/_vendor/six/moves/configparser.pyi
  src/pip/_vendor/vendor.txt
  src/pip/_vendor/webencodings.pyi
  src/pip/_vendor/webencodings/LICENSE
  src/pip/_vendor/webencodings/__init__.py
  src/pip/_vendor/webencodings/labels.py
  src/pip/_vendor/webencodings/mklabels.py
  src/pip/_vendor/webencodings/tests.py
  src/pip/_vendor/webencodings/x_user_defined.py
Labels: type: refactor, bot:chronographer:provided

#12702 Remove vendored colorama
  news/12702.feature.rst
  src/pip/_vendor/__init__.py
  src/pip/_vendor/colorama.pyi
  src/pip/_vendor/colorama/LICENSE.txt
  src/pip/_vendor/colorama/__init__.py
  src/pip/_vendor/colorama/ansi.py
  src/pip/_vendor/colorama/ansitowin32.py
  src/pip/_vendor/colorama/initialise.py
  src/pip/_vendor/colorama/tests/__init__.py
  src/pip/_vendor/colorama/tests/ansi_test.py
  src/pip/_vendor/colorama/tests/ansitowin32_test.py
  src/pip/_vendor/colorama/tests/initialise_test.py
  src/pip/_vendor/colorama/tests/isatty_test.py
  src/pip/_vendor/colorama/tests/utils.py
  src/pip/_vendor/colorama/tests/winterm_test.py
  src/pip/_vendor/colorama/win32.py
  src/pip/_vendor/colorama/winterm.py
  src/pip/_vendor/pygments/cmdline.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/pygments.patch
Labels: bot:chronographer:provided

#12699 Document how to activate truststore persistently
  docs/html/topics/https-certificates.md
Labels: skip news

#12721 Update git tests to not use local partial clones
  tests/lib/local_repos.py
Labels: skip news, type: maintenance

#12703 Remove vendored charset_normalizer
  news/charset_normalizer.vendor.rst
  news/requests.vendor.rst
  pyproject.toml
  src/pip/_vendor/charset_normalizer/LICENSE
  src/pip/_vendor/charset_normalizer/__init__.py
  src/pip/_vendor/charset_normalizer/__main__.py
  src/pip/_vendor/charset_normalizer/api.py
  src/pip/_vendor/charset_normalizer/cd.py
  src/pip/_vendor/charset_normalizer/cli/__init__.py
  src/pip/_vendor/charset_normalizer/cli/__main__.py
  src/pip/_vendor/charset_normalizer/constant.py
  src/pip/_vendor/charset_normalizer/legacy.py
  src/pip/_vendor/charset_normalizer/md.py
  src/pip/_vendor/charset_normalizer/models.py
  src/pip/_vendor/charset_normalizer/py.typed
  src/pip/_vendor/charset_normalizer/utils.py
  src/pip/_vendor/charset_normalizer/version.py
  src/pip/_vendor/requests/__init__.py
  src/pip/_vendor/requests/__version__.py
  src/pip/_vendor/requests/adapters.py
  src/pip/_vendor/requests/api.py
  src/pip/_vendor/requests/auth.py
  src/pip/_vendor/requests/compat.py
  src/pip/_vendor/requests/cookies.py
  src/pip/_vendor/requests/exceptions.py
  src/pip/_vendor/requests/help.py
  src/pip/_vendor/requests/models.py
  src/pip/_vendor/requests/packages.py
  src/pip/_vendor/requests/sessions.py
  src/pip/_vendor/requests/status_codes.py
  src/pip/_vendor/requests/utils.py
  src/pip/_vendor/vendor.txt
  tools/vendoring/patches/requests.patch
Labels: bot:chronographer:provided

#12726 Update contribute.md, fixed a typo
  docs/html/ux-research-design/contribute.md
Labels: skip news

#12696 Cut note on removing vendored cacert.pem
  news/9be41686-c40a-4e08-84e1-936b65b74fc7.trivial.rst
  src/pip/_vendor/README.rst
Labels: bot:chronographer:provided
