Repository pypa/pip, pull requests merged in 2025-01, with the labels that each got.

#13132 perf: Avoid unnecessary URL processing while parsing links
  news/13132.feature.rst
  src/pip/_internal/models/link.py
Labels: type: performance, bot:chronographer:provided

#13152 Switch to ubuntu-22.04 for github workflow
  .github/workflows/ci.yml
  news/13152.trivial.rst
Labels: bot:chronographer:provided

#13130 ci: run zipapp tests on M1 macOS
  .github/workflows/ci.yml
Labels: skip news

#13148 Fix mypy 1.14.1 error
  .pre-commit-config.yaml
  news/13148.trivial.rst
  src/pip/_internal/utils/unpacking.py
Labels: bot:chronographer:provided

#13124 Pass --proxy to build subprocesses
  news/6018.bugfix.rst
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/index_command.py
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/network/session.py
  tests/functional/test_proxy.py
Labels: C: proxy, bot:chronographer:provided

#13134 Support PEP639 License-Expression and License-File in json output
  news/13134.feature.rst
  src/pip/_internal/metadata/_json.py
Labels: bot:chronographer:provided

#11685 Supply Distribution.locate_file, honoring the abstract method.
  src/pip/_internal/metadata/importlib/_dists.py
Labels: skip news

#13125 Upgrade pyproject-hooks to 1.2.0
  news/pyproject-hooks.vendor.rst
  src/pip/_internal/operations/build/metadata_editable.py
  src/pip/_internal/utils/misc.py
  src/pip/_vendor/pyproject_hooks.pyi
  src/pip/_vendor/pyproject_hooks/__init__.py
  src/pip/_vendor/pyproject_hooks/_compat.py
  src/pip/_vendor/pyproject_hooks/_impl.py
  src/pip/_vendor/pyproject_hooks/_in_process/__init__.py
  src/pip/_vendor/pyproject_hooks/_in_process/_in_process.py
  src/pip/_vendor/pyproject_hooks/py.typed
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13155 Deprecate Python 2 relic `--no-python-version-warning`
  news/13154.removal.rst
  src/pip/_internal/cli/base_command.py
Labels: type: deprecation, bot:chronographer:provided

#13158 Postpone removal of setup.py develop support to 25.1
  src/pip/_internal/req/req_install.py
Labels: skip news

#13159 Postpone removal of non-bare names in egg fragment to 25.1
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/models/link.py
Labels: skip news

#13128 Cache requires-python checks & skip debug logging
  news/13128.feature.rst
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/utils/packaging.py
Labels: type: performance, bot:chronographer:provided

#13167 Upgrade to ruff 0.9.1
  .pre-commit-config.yaml
  tests/ruff.toml
Labels: skip news

#13163 Add note on change in pre-release behavior from Packaging 24.2
  news/13163.feature.rst
Labels: skip news

#13048 Add trusted publisher release workfiow
  .github/dependabot.yml
  .github/workflows/release.yml
  MANIFEST.in
  build-project.py
  build-requirements.in
  build-requirements.txt
  docs/html/development/release-process.rst
  news/13048.process.rst
  noxfile.py
Labels: bot:chronographer:provided

#12795 Reorder requirements file decoding
  docs/html/reference/requirements-file-format.md
  news/12771.feature.rst
  src/pip/_internal/req/req_file.py
  src/pip/_internal/utils/encoding.py
  tests/unit/test_req_file.py
  tests/unit/test_utils.py
Labels: bot:chronographer:provided

#13174 Copyedit news entries before 25.0
  news/12176.feature.rst
  news/13048.process.rst
  news/13079.bugfix.rst
  news/13112.feature.rst
  news/13134.feature.rst
  news/13163.bugfix.rst
  news/5502.bugfix.rst
Labels: skip news

#13179 Patch out EXTERNALLY-MANAGED for self-check tests
  tests/unit/test_self_check_outdated.py
Labels: C: tests, skip news

#13178 Update the release process docs
  docs/html/development/release-process.rst
Labels: skip news

#13177 Add build-project.py compatibility note
  build-project.py
Labels: skip news

#13181 Fix locate_file() type hints for older Pythons
  news/13181.bugfix.rst
  src/pip/_internal/metadata/importlib/_dists.py
Labels: bot:chronographer:provided

#13182 Enable linting rule FA102 (future-required-type-annotation)
  build-project.py
  news/13182.trivial.rst
  pyproject.toml
Labels: bot:chronographer:provided
