Repository pypa/pip, pull requests merged in 2025-03, with the labels that each got.

#13232 Simplify _should_build
  src/pip/_internal/commands/wheel.py
  src/pip/_internal/wheel_builder.py
  tests/unit/test_wheel_builder.py
Labels: skip news, type: maintenance

#13231 Add wheel build tag to pip list columns output
  news/5210.feature.rst
  src/pip/_internal/commands/list.py
  tests/functional/test_list.py
Labels: bot:chronographer:provided

#13252 Do not prefer star specified package as though it were a pinned package
  news/13252.bugfix.rst
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/unit/resolution_resolvelib/test_provider.py
Labels: bot:chronographer:provided

#13194 Provide structured JSON output for `pip index versions`
  news/13194.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/commands/index.py
  src/pip/_internal/commands/search.py
  tests/functional/test_index.py
Labels: bot:chronographer:provided

#13228 make `--no-input` flag work with install `git+http` and `git+ssh` schemes
  news/12718.bugfix.rst
  src/pip/_internal/vcs/git.py
  tests/functional/test_install_config.py
Labels: bot:chronographer:provided

#13242 Implement PEP 753 normalization for Home-Page fallback
  news/13135.feature.rst
  src/pip/_internal/commands/show.py
  tests/functional/test_show.py
Labels: bot:chronographer:provided

#13253 Use new `narrow requirement selection` resolvelib api to reduce cost of resolution
  docs/html/topics/more-dependency-resolution.md
  news/13253.feature.rst
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/unit/resolution_resolvelib/test_provider.py
Labels: bot:chronographer:provided

#13270 resolvelib: emit Requires-Python dependency first
  news/13270.bugfix.rst
  src/pip/_internal/resolution/resolvelib/candidates.py
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/functional/test_new_resolver_errors.py
Labels: bot:chronographer:provided

#13269 Bump vendored libraries for pip 25.1
  news/CacheControl.vendor.rst
  news/certifi.vendor.rst
  news/pygments.vendor.rst
  src/pip/_vendor/cachecontrol/__init__.py
  src/pip/_vendor/cachecontrol/adapter.py
  src/pip/_vendor/cachecontrol/caches/file_cache.py
  src/pip/_vendor/cachecontrol/controller.py
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/pygments/__init__.py
  src/pip/_vendor/pygments/__main__.py
  src/pip/_vendor/pygments/cmdline.py
  src/pip/_vendor/pygments/console.py
  src/pip/_vendor/pygments/filter.py
  src/pip/_vendor/pygments/filters/__init__.py
  src/pip/_vendor/pygments/formatter.py
  src/pip/_vendor/pygments/formatters/__init__.py
  src/pip/_vendor/pygments/formatters/_mapping.py
  src/pip/_vendor/pygments/formatters/bbcode.py
  src/pip/_vendor/pygments/formatters/groff.py
  src/pip/_vendor/pygments/formatters/html.py
  src/pip/_vendor/pygments/formatters/img.py
  src/pip/_vendor/pygments/formatters/irc.py
  src/pip/_vendor/pygments/formatters/latex.py
  src/pip/_vendor/pygments/formatters/other.py
  src/pip/_vendor/pygments/formatters/pangomarkup.py
  src/pip/_vendor/pygments/formatters/rtf.py
  src/pip/_vendor/pygments/formatters/svg.py
  src/pip/_vendor/pygments/formatters/terminal.py
  src/pip/_vendor/pygments/formatters/terminal256.py
  src/pip/_vendor/pygments/lexer.py
  src/pip/_vendor/pygments/lexers/__init__.py
  src/pip/_vendor/pygments/lexers/_mapping.py
  src/pip/_vendor/pygments/lexers/python.py
  src/pip/_vendor/pygments/modeline.py
  src/pip/_vendor/pygments/plugin.py
  src/pip/_vendor/pygments/regexopt.py
  src/pip/_vendor/pygments/scanner.py
  src/pip/_vendor/pygments/sphinxext.py
  src/pip/_vendor/pygments/style.py
  src/pip/_vendor/pygments/styles/__init__.py
  src/pip/_vendor/pygments/token.py
  src/pip/_vendor/pygments/unistring.py
  src/pip/_vendor/pygments/util.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13272 tests: Use script.scratch_path over script.temp_path
  tests/functional/test_cli.py
  tests/functional/test_pep517.py
Labels: skip news

#13274 Use inline dependency metadata for update-rtd-redirects.py
  .github/workflows/update-rtd-redirects.yml
  tools/update-rtd-redirects.py
Labels: skip news

#13273 Prefer requirements with upper bounds
  docs/html/topics/more-dependency-resolution.md
  news/13273.feature.rst
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/unit/resolution_resolvelib/test_provider.py
Labels: bot:chronographer:provided

#13278 Remove invalid specifier from resolution documentation
  docs/html/topics/dependency-resolution.md
Labels: skip news

#12690 Suggestion to check 'pip config debug' in case of InvalidProxyURL exception
  news/12649.feature.rst
  src/pip/_internal/commands/install.py
  tests/unit/test_command_install.py
Labels: bot:chronographer:provided

#9727 Fix fish completion when commandline contains multiple commands
  news/9727.bugfix.rst
  src/pip/_internal/commands/completion.py
  tests/functional/test_completion.py
Labels: bot:chronographer:provided

#13280 Handle multiple paths in `appdirs.site_config_dirs` on MacOS
  news/12903.bugfix.rst
  src/pip/_internal/utils/appdirs.py
  tests/unit/test_appdirs.py
Labels: bot:chronographer:provided

#13284 Apply ruff/flake8-comprehensions rule C420
  src/pip/_internal/locations/_sysconfig.py
Labels: skip news

#13294 Revert "Apply ruff/flake8-comprehensions rule C420 (#13284)"
  pyproject.toml
  src/pip/_internal/locations/_sysconfig.py
Labels: skip news

#13282 Diagnostic Error for Resolution Too Deep
  docs/html/topics/dependency-resolution.md
  news/13282.feature.rst
  src/pip/_internal/exceptions.py
  src/pip/_internal/resolution/resolvelib/resolver.py
Labels: bot:chronographer:provided

#13244 Fix direct preference in `PipProvider.get_preference`
  news/13244.bugfix.rst
  src/pip/_internal/resolution/resolvelib/provider.py
  tests/unit/resolution_resolvelib/test_provider.py
Labels: bot:chronographer:provided

#13291 Provide more information on `import setuptools` failure
  news/13290.feature.rst
  src/pip/_internal/utils/setuptools_build.py
  tests/functional/test_install_reqs.py
Labels: bot:chronographer:provided

#13309 Postpone removal of non-bare names in egg fragment to 25.2
  src/pip/_internal/models/link.py
Labels: skip news

#13184 ci: Test packaging flow on Windows
  .github/workflows/ci.yml
Labels: skip news, type: maintenance
