Repository pypa/pip, pull requests merged in 2025-04, with the labels that each got.

#12873 PERF: get_requirement() raise cache from 2048 to 8192 elements
  news/12873.feature.rst
  src/pip/_internal/utils/packaging.py
Labels: type: performance, bot:chronographer:provided

#13308 Reverse deprecation of --no-python-version-warning
  news/13303.removal.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
Labels: bot:chronographer:provided

#13010 Never use pkg_resources metadata backend on python 3.14+
  news/13010.removal.rst
  src/pip/_internal/metadata/__init__.py
  src/pip/_internal/metadata/importlib/_envs.py
  tests/functional/test_uninstall.py
Labels: project: <downstream>, bot:chronographer:provided

#13321 Create a build project directory
  .github/dependabot.yml
  .github/workflows/release.yml
  MANIFEST.in
  build-project/.python-version
  build-project/build-project.py
  build-project/build-requirements.in
  build-project/build-requirements.txt
  noxfile.py
Labels: skip news

#13219 Mark `pip index versions` as not experimental
  docs/html/cli/index.md
  docs/html/cli/pip_index.rst
  docs/html/reference/pip_index.rst
  docs/man/commands/index.rst
  news/13188.feature.rst
  src/pip/_internal/commands/index.py
Labels: bot:chronographer:provided

#13330 Remove check for wheel in --no-use-pep517
  news/13330.bugfix.rst
  src/pip/_internal/cli/cmdoptions.py
Labels: bot:chronographer:provided

#12991 Introduce resumable downloads with --resume-retries
  news/12991.feature.rst
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/progress_bars.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/exceptions.py
  src/pip/_internal/models/link.py
  src/pip/_internal/network/download.py
  src/pip/_internal/operations/prepare.py
  tests/unit/test_network_download.py
  tests/unit/test_operations_prepare.py
  tests/unit/test_req.py
Labels: bot:chronographer:provided

#13318 Warn when the pkg_resource metadata backend is used with Python 3.11, 3.12, 3.13
  news/13318.removal.rst
  src/pip/_internal/metadata/__init__.py
Labels: type: deprecation, bot:chronographer:provided

#13316 Postpone removal of legacy editable installs to 25.3
  src/pip/_internal/req/req_install.py
Labels: skip news, type: deprecation

#13331 Fixup changelog entry for 12963
  news/12963.feature.rst
Labels: skip news

#13168 Use tags in docs building to split up requirements
  docs/html/conf.py
  news/13168.doc.rst
  noxfile.py
Labels: bot:chronographer:provided

#13251 doc: Explain how to query values for --platform and --python-version
  docs/html/cli/pip_download.rst
  docs/html/conf.py
Labels: skip news, bot:chronographer:provided

#13333 Revert _log_skipped_link() optimization to restore `requires-python` information in skipped links errors
  news/13333.bugfix.rst
  src/pip/_internal/index/package_finder.py
Labels: bot:chronographer:provided

#13332 Remove dead code detected by asottile/dead
  src/pip/_internal/commands/freeze.py
  src/pip/_internal/locations/__init__.py
  src/pip/_internal/utils/packaging.py
Labels: type: refactor, skip news

#13213 PEP 751 experimental `pip lock` command
  docs/html/cli/index.md
  docs/html/cli/pip_lock.rst
  docs/man/commands/lock.rst
  docs/man/index.rst
  news/tomli-w.vendor.rst
  src/pip/_internal/commands/__init__.py
  src/pip/_internal/commands/lock.py
  src/pip/_internal/models/pylock.py
  src/pip/_vendor/tomli_w/LICENSE
  src/pip/_vendor/tomli_w/__init__.py
  src/pip/_vendor/tomli_w/_writer.py
  src/pip/_vendor/tomli_w/py.typed
  src/pip/_vendor/vendor.txt
  tests/functional/test_cli.py
  tests/functional/test_lock.py
  tests/unit/test_commands.py
Labels: C: dependency resolution, PEP implementation, bot:chronographer:provided

#13338 ci: don't gate Windows CI on packaging job
  .github/workflows/ci.yml
Labels: skip news

#13313 Vendoring updates for release 25.1
  news/platformdirs.vendor.rst
  news/rich.vendor.rst
  news/typing_extensions.vendor.rst
  src/pip/_vendor/README.rst
  src/pip/_vendor/platformdirs/__init__.py
  src/pip/_vendor/platformdirs/android.py
  src/pip/_vendor/platformdirs/api.py
  src/pip/_vendor/platformdirs/unix.py
  src/pip/_vendor/platformdirs/version.py
  src/pip/_vendor/rich/console.py
  src/pip/_vendor/rich/default_styles.py
  src/pip/_vendor/rich/diagnose.py
  src/pip/_vendor/rich/panel.py
  src/pip/_vendor/rich/style.py
  src/pip/_vendor/rich/table.py
  src/pip/_vendor/rich/traceback.py
  src/pip/_vendor/typing_extensions.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13340 Upgrade packaging to 25.0
  news/packaging.vendor.rst
  src/pip/_vendor/packaging/__init__.py
  src/pip/_vendor/packaging/_elffile.py
  src/pip/_vendor/packaging/_manylinux.py
  src/pip/_vendor/packaging/_parser.py
  src/pip/_vendor/packaging/_tokenizer.py
  src/pip/_vendor/packaging/licenses/__init__.py
  src/pip/_vendor/packaging/markers.py
  src/pip/_vendor/packaging/metadata.py
  src/pip/_vendor/packaging/specifiers.py
  src/pip/_vendor/packaging/tags.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13337 Trim unused pygments formatters and CLI
  pyproject.toml
  src/pip/_vendor/pygments/cmdline.py
  src/pip/_vendor/pygments/formatters/bbcode.py
  src/pip/_vendor/pygments/formatters/groff.py
  src/pip/_vendor/pygments/formatters/html.py
  src/pip/_vendor/pygments/formatters/img.py
  src/pip/_vendor/pygments/formatters/irc.py
  src/pip/_vendor/pygments/formatters/latex.py
  src/pip/_vendor/pygments/formatters/other.py
  src/pip/_vendor/pygments/formatters/pangomarkup.py
  src/pip/_vendor/pygments/formatters/rtf.py
  src/pip/_vendor/pygments/formatters/svg.py
  src/pip/_vendor/pygments/formatters/terminal.py
  src/pip/_vendor/pygments/formatters/terminal256.py
Labels: skip news, project: vendored dependency

#13303 Add support for Android tags
  news/13299.feature.rst
  src/pip/_internal/utils/compatibility_tags.py
  tests/unit/test_models_wheel.py
Labels: bot:chronographer:provided

#12308 Remove additional detection of installed egg distributions when using the imporlib.metadata backend
  news/12308.bugfix.rst
  news/13010.removal.rst
  src/pip/_internal/metadata/base.py
  src/pip/_internal/metadata/importlib/_envs.py
  src/pip/_internal/req/req_uninstall.py
  tests/functional/test_uninstall.py
Labels: bot:chronographer:provided

#13357 Workaround test failures with setuptools 80
  tests/requirements-common_wheels.txt
Labels: skip news, type: maintenance
