Repository pypa/pip, pull requests merged in 2025-07, with the labels that each got.

#13453 Convert installable wheel build error to diagnostic
  src/pip/_internal/commands/install.py
  src/pip/_internal/exceptions.py
Labels: skip news, C: error messages

#12282 [IMP] vcs/git: Don't show warning anymore when git clone on ref
  news/12283.feature.rst
  src/pip/_internal/vcs/git.py
  tests/unit/test_vcs.py
Labels: bot:chronographer:provided

#13335 Switch license metadata to the PEP 639 format
  MANIFEST.in
  news/13335.process.rst
  pyproject.toml
Labels: bot:chronographer:provided

#13470 Include statement on AI generated issues/PRs in docs
  docs/html/development/contributing.rst
Labels: type: docs, skip news

#13467 Suppress the progress bar with --quiet and --log
  news/10915.bugfix.rst
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/cli/cmdoptions.py
  src/pip/_internal/cli/progress_bars.py
  src/pip/_internal/network/download.py
  src/pip/_internal/operations/prepare.py
  src/pip/_internal/req/__init__.py
  tests/functional/test_install_config.py
Labels: bot:chronographer:provided

#13464 Enable resumable downloads by default
  news/13464.feature.rst
  src/pip/_internal/cli/cmdoptions.py
Labels: bot:chronographer:provided

#12201 Correctly assign configuration to origin files with `pip config`
  news/12099.bugfix.rst
  src/pip/_internal/cli/parser.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/configuration.py
  tests/functional/test_configuration.py
  tests/lib/configuration_helpers.py
Labels: bot:chronographer:provided, state: up for grabs (PR)

#13477 Remove unnecessary gitignores
  .gitignore
  news/627ddbb6-5268-4fd9-b04b-0485abc35295.trivial.rst
Labels: bot:chronographer:provided

#13452 refactor: Add BuildEnvironmentInstaller protocol
  src/pip/_internal/build_env.py
  src/pip/_internal/cli/req_command.py
  src/pip/_internal/distributions/base.py
  src/pip/_internal/distributions/installed.py
  src/pip/_internal/distributions/sdist.py
  src/pip/_internal/distributions/wheel.py
  src/pip/_internal/operations/prepare.py
  tests/functional/test_build_env.py
  tests/functional/test_pep517.py
  tests/unit/test_req.py
Labels: type: refactor, skip news

#13451 Add rich based spinner
  src/pip/_internal/cli/spinners.py
  tests/unit/test_cli_spinners.py
Labels: skip news, C: output

#13481 test: Enforce network hygiene with pytest-subket
  pyproject.toml
  tests/conftest.py
  tests/functional/test_download.py
  tests/functional/test_install.py
  tests/functional/test_install_compat.py
  tests/functional/test_install_extras.py
  tests/functional/test_install_report.py
  tests/unit/test_finder.py
Labels: C: tests, skip news, type: maintenance

#13492 Fix: Fixes hardcoded commit SHA on test_install_vcs_git.py
  tests/functional/test_install_vcs_git.py
Labels: skip news, bot:chronographer:provided

#13500 Bump vendored packages one last time for 25.2
  news/certifi.vendor.rst
  news/distlib.vendor.rst
  news/typing_extensions.vendor.rst
  src/pip/_vendor/certifi/__init__.py
  src/pip/_vendor/certifi/cacert.pem
  src/pip/_vendor/distlib/__init__.py
  src/pip/_vendor/distlib/scripts.py
  src/pip/_vendor/typing_extensions.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13505 Replace use of "Cf" with "See" for greater clarity in error message
  news/24039ade-db69-4d15-ae86-a11e230f7388.trivial.rst
  src/pip/_internal/operations/install/wheel.py
Labels: bot:chronographer:provided

#13486 Show time taken to download instead of `eta 0:00:00` in Rich Progress
  news/13483.feature.rst
  src/pip/_internal/cli/progress_bars.py
Labels: bot:chronographer:provided

#13336 Remove vendored typing-extensions
  .pre-commit-config.yaml
  news/rich.vendor.rst
  news/typing_extensions.vendor.rst
  src/pip/_internal/index/package_finder.py
  src/pip/_internal/models/pylock.py
  src/pip/_internal/utils/retry.py
  src/pip/_vendor/pkg_resources/__init__.py
  src/pip/_vendor/rich/__main__.py
  src/pip/_vendor/rich/_inspect.py
  src/pip/_vendor/rich/_ratio.py
  src/pip/_vendor/rich/align.py
  src/pip/_vendor/rich/box.py
  src/pip/_vendor/rich/console.py
  src/pip/_vendor/rich/control.py
  src/pip/_vendor/rich/diagnose.py
  src/pip/_vendor/rich/emoji.py
  src/pip/_vendor/rich/live.py
  src/pip/_vendor/rich/live_render.py
  src/pip/_vendor/rich/logging.py
  src/pip/_vendor/rich/panel.py
  src/pip/_vendor/rich/progress.py
  src/pip/_vendor/rich/spinner.py
  src/pip/_vendor/rich/syntax.py
  src/pip/_vendor/rich/traceback.py
  src/pip/_vendor/truststore/_api.py
  src/pip/_vendor/typing_extensions.LICENSE
  src/pip/_vendor/typing_extensions.py
  src/pip/_vendor/typing_extensions.pyi
  src/pip/_vendor/vendor.txt
  tests/conftest.py
Labels: type: refactor, project: vendored dependency, bot:chronographer:provided

#13509 Fix cleaning of local URLs with VCS schemes
  news/13509.bugfix.rst
  src/pip/_internal/models/link.py
  tests/unit/test_collector.py
Labels: bot:chronographer:provided

#13510 Always remove authority section when cleaning local URL path
  news/13510.bugfix.rst
  src/pip/_internal/models/link.py
  tests/lib/__init__.py
  tests/unit/test_collector.py
Labels: bot:chronographer:provided

#13506 Declare Python 3.14 support
  .github/workflows/ci.yml
  docs/html/development/ci.rst
  news/13506.feature.rst
  noxfile.py
  pyproject.toml
  tests/functional/test_install.py
  tests/functional/test_proxy.py
  tests/unit/test_req.py
Labels: bot:chronographer:provided
