Repository pypa/pip, pull requests merged in 2025-05, with the labels that each got.

#13373 Update version of `dependency-groups` to v1.3.1
  news/13372.bugfix.rst
  news/dependency-groups.vendor.rst
  src/pip/_vendor/dependency_groups/_implementation.py
  src/pip/_vendor/vendor.txt
Labels: bot:chronographer:provided

#13356 Fix new dependency-groups feature to use the stdlib tomllib where possible
  news/13356.vendor.rst
  src/pip/_internal/req/req_dependency_group.py
  tests/unit/test_req_dependency_group.py
Labels: bot:chronographer:provided

#13364 Revert StreamWrapper removal to restore Python 3.9.{0,6} compat
  news/13364.bugfix.rst
  src/pip/_internal/operations/install/wheel.py
  src/pip/_internal/utils/misc.py
Labels: bot:chronographer:provided

#13363 Don't attempt to build requirements that don't need to be installed
  news/13353.bugfix.rst
  src/pip/_internal/commands/install.py
Labels: bot:chronographer:provided

#13374 News file fixups
  news/13372.bugfix.rst
  news/dependency-groups.vendor.rst
Labels: skip news

#13370 DRY tomllib compatibility
  src/pip/_internal/pyproject.py
  src/pip/_internal/req/req_dependency_group.py
  src/pip/_internal/utils/compat.py
  tests/functional/test_lock.py
Labels: skip news, type: maintenance

#13345 Handle invalid versions gracefully for all list formats
  news/13345.bugfix.rst
  src/pip/_internal/commands/list.py
  tests/functional/test_invalid_versions_and_specifiers.py
Labels: type: bug, C: list/show, bot:chronographer:provided

#13378 Mark more tests as requiring network
  news/13378.bugfix.rst
  tests/functional/test_config_settings.py
  tests/functional/test_install.py
  tests/functional/test_install_config.py
  tests/functional/test_lock.py
Labels: skip news, bot:chronographer:provided

#13365 Consistently pass verbosity flag to VCS module
  news/13329.feature.rst
  src/pip/_internal/vcs/bazaar.py
  src/pip/_internal/vcs/git.py
  src/pip/_internal/vcs/mercurial.py
  src/pip/_internal/vcs/subversion.py
  src/pip/_internal/vcs/versioncontrol.py
  tests/unit/test_vcs.py
Labels: bot:chronographer:provided

#13140 Fix: include sub-actions in tab completion
  news/0741cad6-3007-47f8-9c53-984e9116c7ff.bugfix.rst
  src/pip/_internal/cli/autocompletion.py
  src/pip/_internal/cli/base_command.py
  src/pip/_internal/commands/cache.py
  src/pip/_internal/commands/configuration.py
  src/pip/_internal/commands/index.py
  tests/functional/test_completion.py
Labels: bot:chronographer:provided

#13394 Requires-Python error message should sort versions numerically, not alphabetically
  news/13367.feature.rst
  src/pip/_internal/index/package_finder.py
  tests/unit/test_index.py
Labels: bot:chronographer:provided

#13343 Inject SSL context into urllib3 ProxyManager, too
  news/13343.bugfix.rst
  src/pip/_internal/network/session.py
Labels: bot:chronographer:provided
